<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Common Values</a></li>
    <li><a pageScroll href="#item-2">Fixed Top</a></li>
    <li><a pageScroll href="#item-3">Fixed Bottom</a></li>
    <li><a pageScroll href="#item-4">Sticky Top</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Position</h1>
    <p>Use these shorthand utilities for quickly configuring the position of an element.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Common Values</h4>
    <p>Quick positioning classes are available, though they are not responsive.</p>
<pre><code highlight ngNonBindable>
&lt;div class="position-static">...&lt;/div>
&lt;div class="position-relative">...&lt;/div>
&lt;div class="position-absolute">...&lt;/div>
&lt;div class="position-fixed">...&lt;/div>
&lt;div class="position-sticky">...&lt;/div>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Fixed Top</h4>
    <p>Position an element at the top of the viewport, from edge to edge. Be sure you understand the ramifications of fixed position in your project; you may need to add additional CSS.</p>
<pre><code highlight ngNonBindable>
&lt;div class="fixed-top">...&lt;/div>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Fixed Bottom</h4>
    <p>Position an element at the bottom of the viewport, from edge to edge. Be sure you understand the ramifications of fixed position in your project; you may need to add additional CSS.</p>
<pre><code highlight ngNonBindable>
&lt;div class="fixed-bottom">...&lt;/div>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Sticky Top</h4>
    <p>Position an element at the top of the viewport, from edge to edge, but only after you scroll past it. The <code class="highlighter-rouge">.sticky-top</code> utility uses CSS’s <code class="highlighter-rouge">position: sticky</code>, which isn’t fully supported in all browsers.</p>
    <p><strong>IE11 and IE10 will render <code class="highlighter-rouge">position: sticky</code> as <code class="highlighter-rouge">position: relative</code>.</strong> As such, we wrap the styles in a <code class="highlighter-rouge">@supports</code> query, limiting the stickiness to only browsers that can render it properly.</p>
<pre><code highlight ngNonBindable>
&lt;div class="sticky-top">...&lt;/div>
</code></pre>

  </div>


</div>