//
// Basic Bootstrap table
//

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    background: $offwhite;
    vertical-align: bottom;
    border-bottom: $table-border-width solid $table-border-color;
    border-top: 0;
  }

  th {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(even) {
    background-color: $table-accent-bg;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    @include hover {
      background-color: $table-hover-bg;
    }
  }
}



// Linked tables
//
// Special styling for links in tables

.table-linked {
  tbody {
    tr {
      @include hover {
        background-color: $table-hover-bg;
      }
    }
    td,
    th {
      padding: 0;
    }
    a {
      color: $black;
      display: block;
      padding: 0.75rem;
      text-decoration: none;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, -9));
}

@include table-row-variant(active, $table-active-bg);


// Dark styles
//
// Same table markup, but inverted color scheme: dark background and light text.

// stylelint-disable-next-line no-duplicate-selectors
.table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }

  .thead-secondary {
    th {
      background-color: rgba($yellow,0.3);
    }
  }
}

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  &.table-bordered {
    border: 0;
  }

  &.table-striped {
    tbody tr:nth-of-type(even) {
      background-color: $table-dark-accent-bg;
    }
  }

  &.table-hover {
    tbody tr {
      @include hover {
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {

  tr {
    border-top: 1px solid $gray-500;

    @include media-breakpoint-up(lg) {
      border-top: 0;
    }
  }

  th {
    display: none;
  }

  td {
    border-top-color: $gray-100;
    display: block;
    padding: 0.75rem 0;

    &:before {
      content: attr(data-th);
      font-weight: bold;
      font-size: 0.75rem;
      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  th, td {
    @include media-breakpoint-up(lg) {
      border-top: 1px solid $table-border-color;
      display: table-cell;
      padding: .75rem;
    }
  }


  &.table-linked {
    td {
      &:before {
        content: '';
        display: none;
      }
    }
    a {
      padding: 0.75rem 0;

      @include media-breakpoint-up(lg) {
        padding: 0.75rem;
      }

      &:before {
        content: attr(data-th);
        font-weight: bold;
        font-size: 0.75rem;
        // optional stuff to make it look nicer
        width: 6.5em; // magic number :( adjust according to your own content
        display: inline-block;
        // end options

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

    }
  }
}
