<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Embeds</a></li>
    <li><a pageScroll href="#item-2">Image Replacement</a></li>
    <li><a pageScroll href="#item-3">Screenreaders</a></li>
    <li><a pageScroll href="#item-4">Vertical Align</a></li>
    <li><a pageScroll href="#item-5">Visibility</a></li>
  </ol>
</div>

<div class="content-wrap">

  <div class="border border-light p-4" id="item-1">
    <h4>Embeds</h4>
    <p>Create responsive video or slideshow embeds based on the width of the parent by creating an intrinsic ratio that scales on any device.</p>
    <p>Rules are directly applied to <code class="highlighter-rouge">&lt;iframe&gt;</code>, <code class="highlighter-rouge">&lt;embed&gt;</code>, <code class="highlighter-rouge">&lt;video&gt;</code>, and <code class="highlighter-rouge">&lt;object&gt;</code> elements; optionally use an explicit descendant class <code class="highlighter-rouge">.embed-responsive-item</code> when you want to match the styling for other attributes.</p>
    <div class="example">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fjnTSBhUSlw?rel=0" allowfullscreen></iframe>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="embed-responsive embed-responsive-16by9">
  &lt;iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fjnTSBhUSlw?rel=0" allowfullscreen>&lt;/iframe>
&lt;/div>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Image Replacement</h4>
    <p>Swap text for background images with the image replacement class.</p>
    <p>Utilize the <code class="highlighter-rouge">.text-hide</code> class or mixin to help replace an element’s text content with a background image.</p>
<pre><code highlight ngNonBindable>
&lt;h1 class="text-hide">Custom heading&lt;/h1>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Screenreaders</h4>
    <p>Use screenreader utilities to hide elements on all devices except screen readers.</p>
    <p>Hide an element to all devices <strong>except screen readers</strong> with <code class="highlighter-rouge">.sr-only</code>. Combine <code class="highlighter-rouge">.sr-only</code> with <code class="highlighter-rouge">.sr-only-focusable</code> to show the element again when it’s focused (e.g. by a keyboard-only user).</p>
<pre><code highlight ngNonBindable>
&lt;a class="sr-only sr-only-focusable" href="#content">Skip to main content&lt;/a>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Vertical Align</h4>
    <p>Easily change the vertical alignment of inline, inline-block, inline-table, and table cell elements.</p>
    <p>Choose from <code class="highlighter-rouge">.align-baseline</code>, <code class="highlighter-rouge">.align-top</code>, <code class="highlighter-rouge">.align-middle</code>, <code class="highlighter-rouge">.align-bottom</code>, <code class="highlighter-rouge">.align-text-bottom</code>, and <code class="highlighter-rouge">.align-text-top</code> as needed.</p>
    <div class="example">
        <span class="align-baseline">baseline</span>
        <span class="align-top">top</span>
        <span class="align-middle">middle</span>
        <span class="align-bottom">bottom</span>
        <span class="align-text-top">text-top</span>
        <span class="align-text-bottom">text-bottom</span>
    </div>
<pre><code highlight ngNonBindable>
&lt;span class="align-baseline">baseline&lt;/span>
&lt;span class="align-top">top&lt;/span>
&lt;span class="align-middle">middle&lt;/span>
&lt;span class="align-bottom">bottom&lt;/span>
&lt;span class="align-text-top">text-top&lt;/span>
&lt;span class="align-text-bottom">text-bottom&lt;/span>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Visibility</h4>
    <p>Control the visibility, without modifying the display, of elements with visibility utilities.</p>
    <p>Set the <code class="highlighter-rouge">visibility</code> of elements with our visibility utilities. These utility classes do not modify the <code class="highlighter-rouge">display</code> value at all and do not affect layout – <code class="highlighter-rouge">.invisible</code> elements still take up space in the page. Content will be hidden both visually and for assistive technology/screen reader users.</p>
    <p>Apply <code class="highlighter-rouge">.visible</code> or <code class="highlighter-rouge">.invisible</code> as needed.</p>
<pre><code highlight ngNonBindable>
&lt;div class="visible">...&lt;/div>
&lt;div class="invisible">...&lt;/div>
</code></pre>

  </div>


</div>