<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Popovers</a></li>
    <li><a pageScroll href="#item-2">HTML & Bindings in Popovers</a></li>
    <li><a pageScroll href="#item-3">Custom & Manual Triggers</a></li>
    <li><a pageScroll href="#item-4">Keyboard & Mouse Closing</a></li>
    <li><a pageScroll href="#item-5">Context & Manual Triggers</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Popover</h1>
    <p>The popover component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Popovers</h4>
    <div class="example">
        <button type="button" class="btn btn-secondary m-1" placement="top"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
          Popover on top
        </button>

        <button type="button" class="btn btn-secondary m-1" placement="right"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
          Popover on right
        </button>

        <button type="button" class="btn btn-secondary m-1" placement="bottom"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
          Popover on bottom
        </button>

        <button type="button" class="btn btn-secondary m-1" placement="left"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
          Popover on left
        </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="popover-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;button type="button" class="btn btn-secondary mr-2" placement="top"
ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
&lt;/button>

&lt;button type="button" class="btn btn-secondary mr-2" placement="right"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
  Popover on right
&lt;/button>

&lt;button type="button" class="btn btn-secondary mr-2" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
  Popover on bottom
&lt;/button>

&lt;button type="button" class="btn btn-secondary mr-2" placement="left"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
  Popover on left
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="popover-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'popover-basic',
  templateUrl: './popover-basic.html'
&#125;)
export class PopoverBasic &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>HTML & Bindings in Popovers</h4>
    <p>Popovers can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content or title in a <code>&lt;ng-template&gt;</code> element.</p>
    <div class="example">
      <ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template>
      <ng-template #popTitle>Fancy <b>content!!</b></ng-template>
      <button type="button" class="btn btn-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
        I've got markup and bindings in my popover!
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="popover-bindings.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-template #popContent>Hello, &lt;b>&#123;&#123;name&#125;&#125;&lt;/b>!&lt;/ng-template>
&lt;ng-template #popTitle>Fancy &lt;b>content!!&lt;/b>&lt;/ng-template>
&lt;button type="button" class="btn btn-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
  I've got markup and bindings in my popover!
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="popover-bindings.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'popover-bindings',
  templateUrl: './popover-bindings.html'
&#125;)
export class PopoverBindings &#123;
  name = 'World';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Custom & Manual Triggers</h4>
    <div class="example">
        <p>
          You can easily override open and close triggers by specifying event names (separated by <code>:</code>) in the <code>triggers</code> property.
        </p>

        <button type="button" class="btn btn-secondary m-1" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
          Hover over me!
        </button>

        <hr>
        <p>
          Alternatively you can take full manual control over popover opening / closing events.
        </p>

        <button type="button" class="btn btn-secondary m-1" ngbPopover="What a great tip!" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()" popoverTitle="Pop title">
          Click me to open a popover
        </button>
        <button type="button" class="btn btn-secondary m-1" (click)="p.close()">
          Click me to close a popover
        </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="popover-triggers.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>
  You can easily override open and close triggers by specifying event names (separated by &lt;code>:&lt;/code>) in the &lt;code>triggers&lt;/code> property.
&lt;/p>

&lt;button type="button" class="btn btn-secondary m-1" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" popoverTitle="Pop title">
  Hover over me!
&lt;/button>

&lt;hr>
&lt;p>
  Alternatively you can take full manual control over popover opening / closing events.
&lt;/p>

&lt;button type="button" class="btn btn-secondary m-1" ngbPopover="What a great tip!" [autoClose]="false" triggers="manual" #p="ngbPopover" (click)="p.open()" popoverTitle="Pop title">
  Click me to open a popover
&lt;/button>
&lt;button type="button" class="btn btn-secondary m-1" (click)="p.close()">
  Click me to close a popover
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="popover-triggers.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'popover-triggers',
  templateUrl: './popover-triggers.html'
&#125;)
export class PopoverTriggers &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Keyboard & Mouse Closing</h4>
    <div class="example">
      <p>As for some other popup-based widgets, you can set the popover to close automatically upon some events.</p>
      <p>In the following examples, they will all close on <code>Escape</code> as well as:</p>

      <ul>
        <li class="mb-2">
          click inside:
          <button
            type="button" class="btn btn-secondary" popoverTitle="Pop title"
            [autoClose]="'inside'" ngbPopover="Click inside or press Escape to close"
          >
              Click to toggle
          </button>
        </li>

        <li class="mb-2">
          click outside:
          <button
            type="button" class="btn btn-secondary" popoverTitle="Pop title"
            [autoClose]="'outside'" ngbPopover="Click outside or press Escape to close"
          >
            Click to toggle
          </button>
        </li>

        <li class="mb-2">
            all clicks:
            <button
              type="button" class="btn btn-secondary" popoverTitle="Pop title"
              [autoClose]="true" ngbPopover="Click anywhere or press Escape to close (try the toggling element too)"
              #popover3="ngbPopover"
            >
                Click to toggle
            </button>
            &nbsp;
            <button type="button" class="btn btn-secondary mr-2" (click)="popover3.toggle()">
              Click to toggle the external popover
            </button>
          </li>
      </ul>
    </div>
    <ngb-tabset>
      <ngb-tab title="popover-autoclose.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>As for some other popup-based widgets, you can set the popover to close automatically upon some events.&lt;/p>
&lt;p>In the following examples, they will all close on &lt;code>Escape&lt;/code> as well as:&lt;/p>

&lt;ul>
  &lt;li class="mb-2">
    click inside:
    &lt;button
      type="button" class="btn btn-secondary" popoverTitle="Pop title"
      [autoClose]="'inside'" ngbPopover="Click inside or press Escape to close"
    >
        Click to toggle
    &lt;/button>
  &lt;/li>

  &lt;li class="mb-2">
    click outside:
    &lt;button
      type="button" class="btn btn-secondary" popoverTitle="Pop title"
      [autoClose]="'outside'" ngbPopover="Click outside or press Escape to close"
    >
      Click to toggle
    &lt;/button>
  &lt;/li>

  &lt;li class="mb-2">
      all clicks:
      &lt;button
        type="button" class="btn btn-secondary" popoverTitle="Pop title"
        [autoClose]="true" ngbPopover="Click anywhere or press Escape to close (try the toggling element too)"
        #popover3="ngbPopover"
      >
          Click to toggle
      &lt;/button>
      &nbsp;
      &lt;button type="button" class="btn btn-secondary mr-2" (click)="popover3.toggle()">
        Click to toggle the external popover
      &lt;/button>
    &lt;/li>
&lt;/ul>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="popover-autoclose.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'popover-autoclose',
  templateUrl: './popover-autoclose.html'
&#125;)
export class PopoverAutoclose &#123;&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Context & Manual Triggers</h4>
    <p>You can optionally pass in a context when manually triggering a popover.</p>
    <div class="example">
      <ng-template #popContent let-greeting="greeting">{{greeting}}, <b>{{name}}</b>!</ng-template>
      <ng-template #popTitle let-language="language">Greeting in {{language}}</ng-template>
      <button
        type="button" class="btn btn-secondary m-1"
        [ngbPopover]="popContent" [popoverTitle]="popTitle"
        triggers="manual" #p1="ngbPopover" (click)="toggleWithGreeting(p1, 'Bonjour', 'French')"
      >
        French
      </button>
      <button
        type="button" class="btn btn-secondary m-1"
        [ngbPopover]="popContent" [popoverTitle]="popTitle"
        triggers="manual" #p2="ngbPopover" (click)="toggleWithGreeting(p2, 'Gutentag', 'German')"
      >
        German
      </button>
      <button
        type="button" class="btn btn-secondary m-1"
        [ngbPopover]="popContent" [popoverTitle]="popTitle"
        triggers="manual" #p3="ngbPopover" (click)="toggleWithGreeting(p3, 'Hello', 'English')"
      >
        English
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="popover-context.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-template #popContent let-greeting="greeting">{{greeting}}, &lt;b>{{name}}&lt;/b>!&lt;/ng-template>
&lt;ng-template #popTitle let-language="language">Greeting in {{language}}&lt;/ng-template>
&lt;button
  type="button" class="btn btn-secondary m-1"
  [ngbPopover]="popContent" [popoverTitle]="popTitle"
  triggers="manual" #p1="ngbPopover" (click)="toggleWithGreeting(p1, 'Bonjour', 'French')"
>
  French
&lt;/button>
&lt;button
  type="button" class="btn btn-secondary m-1"
  [ngbPopover]="popContent" [popoverTitle]="popTitle"
  triggers="manual" #p2="ngbPopover" (click)="toggleWithGreeting(p2, 'Gutentag', 'German')"
>
  German
&lt;/button>
&lt;button
  type="button" class="btn btn-secondary m-1"
  [ngbPopover]="popContent" [popoverTitle]="popTitle"
  triggers="manual" #p3="ngbPopover" (click)="toggleWithGreeting(p3, 'Hello', 'English')"
>
  English
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="popover-context.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'popover-context',
  templateUrl: './popover-context.html'
&#125;)
export class PopoverContext &#123;
  name = 'World';

  toggleWithGreeting(popover, greeting: string, language: string) &#123;
    if (popover.isOpen()) &#123;
      popover.close();
    &#125; else &#123;
      popover.open(&#123;greeting, language&#125;);
    &#125;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>