<div class="toc">
    <ol>
      <li><a pageScroll href="#item-1">Headings</a></li>
      <li><a pageScroll href="#item-2">Headings</a></li>
      <li><a pageScroll href="#item-3">Body Copy</a></li>
      <li><a pageScroll href="#item-4">Inline Text Elements</a></li>
      <li><a pageScroll href="#item-5">Lists</a></li>
    </ol>
  </div>

<div class="content-wrap">


<header class="mb-5">
  <h1 class="h2">Typography</h1>
</header>

<div class="border border-light p-4 mt-5" id="item-1">

  <h4 class="mb-4">Headings</h4>
  <h1><code>&lt;h1></code>&nbsp;Heading 1</h1>
  <h2><code>&lt;h2></code>&nbsp;Heading 2</h2>
  <h3><code>&lt;h3></code>&nbsp;Heading 3</h3>
  <h4><code>&lt;h4></code>&nbsp;Heading 4</h4>
  <h5><code>&lt;h5></code>&nbsp;Heading 5</h5>
  <h6><code>&lt;h6></code>&nbsp;Heading 6</h6>
  <p class="mt-4"><code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.</p>


</div>


<div class="border border-light p-4 mt-5" id="item-2">

  <h4 class="mb-4">Display Classes</h4>
  <p class="display-1">Display 1</p>
  <p class="display-2">Display 2</p>
  <p class="display-3">Display 3</p>
  <p class="display-4">Display 4</p>
  <p class="mt-4">Use display classes <code>.display-1</code> through <code>.display-4</code> to modify the font size of elements.</p>


</div>

<div class="border border-light p-4 mt-5" id="item-3">

  <h4 class="mb-4">Body Copy</h4>

  <div class="example">
    <p class="lead">Paragraph lead. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
    <p>Paragraph text. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.</p>
  </div>
<pre><code highlight>
&lt;p class="lead">Paragraph lead. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.&lt;/p>
&lt;p>Paragraph text. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.&lt;/p>
</code></pre>

</div>

<div class="border border-light p-4 mt-5" id="item-4">
  <h4 class="mb-4">Inline Text Elements</h4>
  <div class="example">
    <p><a href="#">This is a link</a></p>
    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
  </div>
<pre><code highlight>
&lt;p>&lt;a href="#">This is a link&lt;/a>&lt;/p>
&lt;p>You can use the mark tag to &lt;mark>highlight&lt;/mark> text.&lt;/p>
&lt;p>&lt;del>This line of text is meant to be treated as deleted text.&lt;/del>&lt;/p>
&lt;p>&lt;s>This line of text is meant to be treated as no longer accurate.&lt;/s>&lt;/p>
&lt;p>&lt;ins>This line of text is meant to be treated as an addition to the document.&lt;/ins>&lt;/p>
&lt;p>&lt;u>This line of text will render as underlined&lt;/u>&lt;/p>
&lt;p>&lt;small>This line of text is meant to be treated as fine print.&lt;/small>&lt;/p>
&lt;p>&lt;strong>This line rendered as bold text.&lt;/strong>&lt;/p>
&lt;p>&lt;em>This line rendered as italicized text.&lt;/em>&lt;/p>
</code></pre>

<p><code>.mark</code> and <code>.small</code> classes are also available to apply the same styles as <code>&lt;mark&gt;</code> and <code>&lt;small&gt;</code> while avoiding any unwanted semantic implications that the tags would bring.</p>
<p>While not shown above, feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>
</div>

<div class="border border-light p-4 mt-5" id="item-5">

  <h4 class="mb-4">Lists</h4>

  <h5>Order Lists</h5>
  <div class="example">
    <ol>
      <li>Ordered List</li>
      <li>List Item
        <ol>
          <li>List Item</li>
        </ol>
      </li>
    </ol>
  </div>
<pre><code highlight>
&lt;ol>
  &lt;li>Ordered List&lt;/li>
  &lt;li>List Item
    &lt;ol>
      &lt;li>List Item&lt;/li>
    &lt;/ol>
  &lt;/li>
&lt;/ol>
</code></pre>

  <hr class="my-4" />
  <h5>Unordered Lists</h5>
  <div class="example">
    <ul>
      <li>Unordered List</li>
      <li>List Item
        <ul>
          <li>List Item</li>
        </ul>
      </li>
    </ul>
  </div>

<pre><code highlight>
&lt;ul>
  &lt;li>Ordered List&lt;/li>
  &lt;li>List Item
    &lt;ul>
      &lt;li>List Item&lt;/li>
    &lt;/ul>
  &lt;/li>
&lt;/ul>
</code></pre>

  <hr class="my-4" />
  <h5>Definition Lists</h5>
  <div class="example">
    <dl>
      <dt>Definition List</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
    </dl>
  </div>

<pre><code highlight>
&lt;dl>
  &lt;dt>Definition List&lt;/dt>
  &lt;dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/dd>
&lt;/dl>
</code></pre>

  <hr class="my-4" />
  <h5>Unstyled List</h5>
  <p>Remove the default <code class="highlighter-rouge">list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
  <div class="example">
    <ul class="list-unstyled">
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit</li>
      <li>Nulla volutpat aliquam velit
        <ul>
          <li>Phasellus iaculis neque</li>
          <li>Purus sodales ultricies</li>
          <li>Vestibulum laoreet porttitor sem</li>
        </ul>
      </li>
      <li>Faucibus porta lacus fringilla vel</li>
      <li>Aenean sit amet erat nunc</li>
    </ul>
  </div>

<pre><code highlight>
&lt;ul class="list-unstyled">
  &lt;li>Lorem ipsum dolor sit amet&lt;/li>
  &lt;li>Consectetur adipiscing elit&lt;/li>
  &lt;li>Nulla volutpat aliquam velit
    &lt;ul>
      &lt;li>Phasellus iaculis neque&lt;/li>
      &lt;li>Purus sodales ultricies&lt;/li>
      &lt;li>Vestibulum laoreet porttitor sem&lt;/li>
    &lt;/ul>
  &lt;/li>
  &lt;li>Faucibus porta lacus fringilla vel&lt;/li>
  &lt;li>Aenean sit amet erat nunc&lt;/li>
&lt;/ul>
</code></pre>

  <hr class="my-4" />
  <h5>Inline List</h5>
  <p>Remove a list’s bullets and apply some light <code>margin</code> with a combination of two classes, <code>.list-inline</code> and <code>.list-inline-item</code>.</p>
  <div class="example">
    <ul class="list-inline">
      <li class="list-inline-item">Lorem ipsum</li>
      <li class="list-inline-item">Phasellus iaculis</li>
      <li class="list-inline-item">Nulla volutpat</li>
    </ul>
  </div>
<pre><code highlight>
&lt;ul class="list-inline">
  &lt;li class="list-inline-item">Lorem ipsum&lt;/li>
  &lt;li class="list-inline-item">Phasellus iaculis&lt;/li>
  &lt;li class="list-inline-item">Nulla volutpat&lt;/li>
&lt;/ul>
</code></pre>

  <hr class="my-4" />
  <h5>Description List Alignment</h5>
  <p>Align terms and descriptions horizontally by using our grid system’s predefined classes (or semantic mixins). For longer terms, you can optionally add a <code class="highlighter-rouge">.text-truncate</code> class to truncate the text with an ellipsis.</p>
  <div class="example example-plain">
    <dl class="row">
      <dt class="col-sm-3">Description lists</dt>
      <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

      <dt class="col-sm-3">Malesuada porta</dt>
      <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

      <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
      <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

      <dt class="col-sm-3">Nesting</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dt class="col-sm-4">Nested definition list</dt>
          <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
        </dl>
      </dd>
    </dl>
  </div>

<pre><code highlight>
&lt;dl class="row">
  &lt;dt class="col-sm-3">Description lists&lt;/dt>
  &lt;dd class="col-sm-9">A description list is perfect for defining terms.&lt;/dd>

  &lt;dt class="col-sm-3">Malesuada porta&lt;/dt>
  &lt;dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.&lt;/dd>

  &lt;dt class="col-sm-3 text-truncate">Truncated term is truncated&lt;/dt>
  &lt;dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.&lt;/dd>

  &lt;dt class="col-sm-3">Nesting&lt;/dt>
  &lt;dd class="col-sm-9">
    &lt;dl class="row">
      &lt;dt class="col-sm-4">Nested definition list&lt;/dt>
      &lt;dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.&lt;/dd>
    &lt;/dl>
  &lt;/dd>
&lt;/dl>
</code></pre>

</div>


</div>