<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Select</a></li>
    <li><a pageScroll href="#item-2">Filter & Autocomplete</a></li>
    <li><a pageScroll href="#item-3">Multiselect</a></li>
    <li><a pageScroll href="#item-4">Template - Custom Label</a></li>
    <li><a pageScroll href="#item-5">Template - Custom Option</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Select</h1>
    <p>A select component for styled UI dropdowns. For full documentation, visit <a href="https://ng-select.github.io/ng-select" target="_blank">ng-select.github.io/ng-select</a>.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Dropdown</h4>
    <div class="example">
      <ng-select [(ngModel)]="selectedCarId" [clearable]="false" placeholder="Select photo">
        <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled" >{{car.name}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>
    <ngb-tabset>
      <ngb-tab title="dropdown-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-select [(ngModel)]="selectedCarId" [clearable]="false">
  &lt;ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled" >{{car.name}}&lt;/ng-option>
  &lt;ng-option [value]="'custom'">Custom&lt;/ng-option>
&lt;/ng-select>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="dropdown-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'select-basic',
  templateUrl: './select-basic.html'
&#125;)
export class SelectBasic &#123;
  selectedCarId = 4;
  cars = [
    &#123; id: 1, name: 'Volvo' &#125;,
    &#123; id: 2, name: 'Saab', disabled: true &#125;,
    &#123; id: 3, name: 'Opel' &#125;,
    &#123; id: 4, name: 'Audi' &#125;,
  ]
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Filter & Autocomplete</h4>
    <div class="example">
      <ng-select
        [items]="people"
        [clearable]="false"
        placeholder="Select person"
        bindLabel="name">
      </ng-select>
    </div>
    <ngb-tabset>
      <ngb-tab title="select-filter.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
  &lt;ng-select
  [items]="people"
  [clearable]="false"
  placeholder="Select person"
  bindLabel="name">
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="select-filter.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'select-manual',
  templateUrl: './select-manual.html'
&#125;)
export class SelectFilter &#123;
  people = [
    &#123; id: 1, name: 'Peter Walters' =&#125;,
    &#123; id: 2, name: 'Anna Perkins' =&#125;,
    &#123; id: 3, name: 'Frances Mills' =&#125;,
    &#123; id: 4, name: 'Michael Reed' =&#125;,
    &#123; id: 5, name: 'Margaret Mendez' =&#125;,
    &#123; id: 6, name: 'John Oliver' =&#125;,
    &#123; id: 7, name: 'Ashley Howard' =&#125;,
    &#123; id: 8, name: 'Virginia Wilson' =&#125;,
    &#123; id: 9, name: 'Harold Little' =&#125;,
  ]
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Multiselect</h4>
    <div class="example">
      <ng-select
        [items]="people"
        [multiple]="true"
        [closeOnSelect]="false"
        [searchable]="false"
        [clearable]="false"
        bindLabel="name"
        placeholder="Select people"
        [(ngModel)]="selectedPeople1">
      </ng-select>
    </div>
    <ngb-tabset>
      <ngb-tab title="select-multiple.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-select
  [items]="people"
  [multiple]="true"
  [closeOnSelect]="false"
  [searchable]="false"
  bindLabel="name"
  placeholder="Select people"
  [(ngModel)]="selectedPeople1">
&lt;/ng-select>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="select-multiple.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'select-multiple',
  templateUrl: './select-multiple.html'
&#125;)
export class SelectMultiple &#123;
  selectedPeople1 = ['Anna Perkins', 'John Oliver'];
  people = [
    &#123; id: 1, name: 'Peter Walters' =&#125;,
    &#123; id: 2, name: 'Anna Perkins' =&#125;,
    &#123; id: 3, name: 'Frances Mills' =&#125;,
    &#123; id: 4, name: 'Michael Reed' =&#125;,
    &#123; id: 5, name: 'Margaret Mendez' =&#125;,
    &#123; id: 6, name: 'John Oliver' =&#125;,
    &#123; id: 7, name: 'Ashley Howard' =&#125;,
    &#123; id: 8, name: 'Virginia Wilson' =&#125;,
    &#123; id: 9, name: 'Harold Little' =&#125;,
  ]
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Templates - Custom Label</h4>
    <div class="example">
      <div class="form-group">
        <label for="exampleInputEmail1">Select an account</label>
        <ng-select [items]="accounts" [(ngModel)]="selectedAccount" [clearable]="false" bindLabel="name" bindValue="name">
          <ng-template ng-label-tmp let-item="item">
              <strong>{{item.name}}</strong>, {{item.altname}}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="select-template-label.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-select [items]="accounts" [(ngModel)]="selectedAccount" [clearable]="false" bindLabel="name" bindValue="name">
  &lt;ng-template ng-label-tmp let-item="item">
      &lt;strong>{{item.name}}&lt;/strong>, {{item.province}}
  &lt;/ng-template>
&lt;/ng-select>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="select-template-label.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'select-template-label',
  templateUrl: './select-template-label.html'
&#125;)
export class SelectTemplateLabel &#123;
  selectedAccount = 'Ashley Home Furniture';
  accounts = [
    &#123; id: 1, name: 'Ryan Martinez Holding', altname: 'Super Investments' &#125;,
    &#123; id: 2, name: 'John\'s Construction Inc', altname: 'Tractors Anonymous' &#125;,
    &#123; id: 3, name: 'Ashley Home Furniture', altname: 'Dufresne Group' &#125;,
    &#123; id: 4, name: '12345 Numbered Company', altname: '' &#125;,
    &#123; id: 5, name: 'Zed Co.', altname: '' &#125;,
  ]
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Templates - Custom Option</h4>
    <div class="example">
      <div class="form-group">
        <label for="exampleInputEmail1">Select an account</label>
        <ng-select [items]="accounts" [(ngModel)]="selectedAccount" [clearable]="false" bindLabel="name" bindValue="name">
          <ng-template ng-option-tmp let-item="item">
            <p class="mb-0">{{item.name}}</p>
            <p class="mb-0"><small>{{item.altname}}</small></p>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
              {{item.name}}<br /><small>{{item.altname}}</small>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="select-template-custom.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-select [items]="accounts" [(ngModel)]="selectedAccount" [clearable]="false" bindLabel="name" bindValue="name">
  &lt;ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      &lt;p class="mb-0" [ngOptionHighlight]="search">{{item.name}}&lt;/p>
      &lt;p class="mb-0">&lt;small>{{item.province}}&lt;/small>&lt;/p>
  &lt;/ng-template>
&lt;/ng-select>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="select-template-custom.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'select-template-custom',
  templateUrl: './select-template-custom.html'
&#125;)
export class SelectTemplateCustom &#123;
 selectedAccount = 'Ashley Home Furniture';
  accounts = [
    &#123; id: 1, name: 'Ryan Martinez Holding', altname: 'Super Investments' &#125;,
    &#123; id: 2, name: 'John\'s Construction Inc', altname: 'Tractors Anonymous' &#125;,
    &#123; id: 3, name: 'Ashley Home Furniture', altname: 'Dufresne Group' &#125;,
    &#123; id: 4, name: '12345 Numbered Company', altname: '' &#125;,
    &#123; id: 5, name: 'Zed Co.', altname: '' &#125;,
  ]
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


</div>