<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Additive Borders</a></li>
    <li><a pageScroll href="#item-2">Subtractive Borders</a></li>
    <li><a pageScroll href="#item-3">Border Colours</a></li>
    <li><a pageScroll href="#item-4">Border Radius</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Borders</h1>
    <p>Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons, or any other element.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Additive Borders</h4>
    <div class="example example-squares">
      <span class="border"></span>
      <span class="border-top"></span>
      <span class="border-right"></span>
      <span class="border-bottom"></span>
      <span class="border-left"></span>
    </div>
<pre><code highlight ngNonBindable>
&lt;span class="border">&lt;/span>
&lt;span class="border-top">&lt;/span>
&lt;span class="border-right">&lt;/span>
&lt;span class="border-bottom">&lt;/span>
&lt;span class="border-left">&lt;/span>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Subtractive Borders</h4>
    <div class="example example-squares example-squares-borders">
      <span class="border-0"></span>
      <span class="border-top-0"></span>
      <span class="border-right-0"></span>
      <span class="border-bottom-0"></span>
      <span class="border-left-0"></span>
    </div>
<pre><code highlight ngNonBindable>
&lt;span class="border-0">&lt;/span>
&lt;span class="border-top-0">&lt;/span>
&lt;span class="border-right-0">&lt;/span>
&lt;span class="border-bottom-0">&lt;/span>
&lt;span class="border-left-0">&lt;/span>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Border Colours</h4>
    <div class="example example-squares">
      <span class="border border-primary"></span>
      <span class="border border-secondary"></span>
      <span class="border border-tertiary"></span>
      <span class="border border-success"></span>
      <span class="border border-danger"></span>
      <span class="border border-warning"></span>
      <span class="border border-light"></span>
      <span class="border border-dark"></span>
      <span class="border border-white"></span>
    </div>
<pre><code highlight ngNonBindable>
&lt;span class="border border-primary">&lt;/span>
&lt;span class="border border-secondary">&lt;/span>
&lt;span class="border border-tertiary">&lt;/span>
&lt;span class="border border-success">&lt;/span>
&lt;span class="border border-danger">&lt;/span>
&lt;span class="border border-warning">&lt;/span>
&lt;span class="border border-light">&lt;/span>
&lt;span class="border border-dark">&lt;/span>
&lt;span class="border border-white">&lt;/span>
</code></pre>

  </div>




  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Border Colours</h4>
    <div class="example example-squares example-squares-borders">
      <span class="rounded"></span>
      <span class="rounded-top"></span>
      <span class="rounded-right"></span>
      <span class="rounded-bottom"></span>
      <span class="rounded-left"></span>
      <span class="rounded-circle"></span>
      <span class="rounded-0"></span>
    </div>
<pre><code highlight ngNonBindable>
&lt;span class="rounded">&lt;/span>
&lt;span class="rounded-top">&lt;/span>
&lt;span class="rounded-right">&lt;/span>
&lt;span class="rounded-bottom">&lt;/span>
&lt;span class="rounded-left">&lt;/span>
&lt;span class="rounded-circle">&lt;/span>
&lt;span class="rounded-0">&lt;/span>
</code></pre>

  </div>


</div>