<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">How it Works</a></li>
    <li><a pageScroll href="#item-2">Notation</a></li>
    <li><a pageScroll href="#item-3">Examples</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Spacing</h1>
    <p>Bootstrap includes a wide range of shorthand responsive margin and padding utility classes to modify an element’s appearance.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>How it Works</h4>
    <p>Assign responsive-friendly <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> values to an element or a subset of its sides with shorthand classes. Includes support for individual properties, all properties, and vertical and horizontal properties. Classes are built from a default Sass map ranging from <code class="highlighter-rouge">.25rem</code> to <code class="highlighter-rouge">3rem</code>.</p>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Notation</h4>
    <p>Spacing utilities that apply to all breakpoints, from <code class="highlighter-rouge">xs</code> to <code class="highlighter-rouge">xl</code>, have no breakpoint abbreviation in them. This is because those classes are applied from <code class="highlighter-rouge">min-width: 0</code> and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>
    <p>The classes are named using the format <code class="highlighter-rouge">&#123;property&#125;&#123;sides&#125;-&#123;size&#125;</code> for <code class="highlighter-rouge">xs</code> and <code class="highlighter-rouge">&#123;property&#125;&#123;sides&#125;-&#123;breakpoint&#125;-&#123;size&#125;</code> for <code class="highlighter-rouge">sm</code>, <code class="highlighter-rouge">md</code>, <code class="highlighter-rouge">lg</code>, and <code class="highlighter-rouge">xl</code>.</p>
    <p>Where <em>property</em> is one of:</p>
    <ul>
      <li><code class="highlighter-rouge">m</code> - for classes that set <code class="highlighter-rouge">margin</code></li>
      <li><code class="highlighter-rouge">p</code> - for classes that set <code class="highlighter-rouge">padding</code></li>
    </ul>
    <p>Where <em>sides</em> is one of:</p>
    <ul>
      <li><code class="highlighter-rouge">t</code> - for classes that set <code class="highlighter-rouge">margin-top</code> or <code class="highlighter-rouge">padding-top</code></li>
      <li><code class="highlighter-rouge">b</code> - for classes that set <code class="highlighter-rouge">margin-bottom</code> or <code class="highlighter-rouge">padding-bottom</code></li>
      <li><code class="highlighter-rouge">l</code> - for classes that set <code class="highlighter-rouge">margin-left</code> or <code class="highlighter-rouge">padding-left</code></li>
      <li><code class="highlighter-rouge">r</code> - for classes that set <code class="highlighter-rouge">margin-right</code> or <code class="highlighter-rouge">padding-right</code></li>
      <li><code class="highlighter-rouge">x</code> - for classes that set both <code class="highlighter-rouge">*-left</code> and <code class="highlighter-rouge">*-right</code></li>
      <li><code class="highlighter-rouge">y</code> - for classes that set both <code class="highlighter-rouge">*-top</code> and <code class="highlighter-rouge">*-bottom</code></li>
      <li>blank - for classes that set a <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> on all 4 sides of the element</li>
    </ul>
    <p>Where <em>size</em> is one of:</p>
    <ul>
      <li><code class="highlighter-rouge">0</code> - for classes that eliminate the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> by setting it to <code class="highlighter-rouge">0</code></li>
      <li><code class="highlighter-rouge">1</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer * .25</code></li>
      <li><code class="highlighter-rouge">2</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer * .5</code></li>
      <li><code class="highlighter-rouge">3</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer</code></li>
      <li><code class="highlighter-rouge">4</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer * 1.5</code></li>
      <li><code class="highlighter-rouge">5</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code> or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer * 3</code></li>
      <li><code class="highlighter-rouge">auto</code> - for classes that set the <code class="highlighter-rouge">margin</code> to auto</li>
    </ul>

  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Examples</h4>
<pre><code highlight ngNonBindable>
.mt-0 &#123;
  margin-top: 0 !important;
&#125;

.ml-1 &#123;
  margin-left: ($spacer * .25) !important;
&#125;

.px-2 &#123;
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;
&#125;

.p-3 &#123;
  padding: $spacer !important;
&#125;
</code></pre>

  </div>


</div>