<nav class="site-nav">
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">Getting Started</a>
    </li>
    <li class="mb-4">
      <h6>Content</h6>
      <ul>
        <li>
          <a routerLink="/colour" routerLinkActive="active">Colour</a>
        </li>
        <li>
          <a routerLink="/forms" routerLinkActive="active">Forms</a>
        </li>
        <li>
          <a routerLink="/grid" routerLinkActive="active">Grid</a>
        </li>
        <li>
          <a routerLink="/icons" routerLinkActive="active">Icons</a>
        </li>
        <li>
          <a routerLink="/tables" routerLinkActive="active">Tables</a>
        </li>
        <li>
          <a routerLink="/typography" routerLinkActive="active">Typography</a>
        </li>
      </ul>
    </li>

    <li class="mb-4">
      <h6>Components</h6>
      <ul>
        <li>
          <a routerLink="/accordion" routerLinkActive="active">Accordion</a>
        </li>
        <li>
          <a routerLink="/alert" routerLinkActive="active">Alert</a>
        </li>
        <li>
          <a routerLink="/buttons" routerLinkActive="active">Buttons</a>
        </li>
        <li>
          <a routerLink="/carousel" routerLinkActive="active">Carousel</a>
        </li>
        <li>
          <a routerLink="/collapse" routerLinkActive="active">Collapse</a>
        </li>
        <li>
          <a routerLink="/datepicker" routerLinkActive="active">Datepicker</a>
        </li>
        <li>
          <a routerLink="/dropdown" routerLinkActive="active">Dropdown</a>
        </li>
        <li>
          <a routerLink="/modal" routerLinkActive="active">Modal</a>
        </li>
        <li>
          <a routerLink="/pagination" routerLinkActive="active">Pagination</a>
        </li>
        <li>
          <a routerLink="/popover" routerLinkActive="active">Popover</a>
        </li>
        <li>
          <a routerLink="/progressbar" routerLinkActive="active">Progressbar</a>
        </li>
        <li>
          <a routerLink="/rating" routerLinkActive="active">Rating</a>
        </li>
        <li>
          <a routerLink="/select" routerLinkActive="active">Select</a>
        </li>
        <li>
          <a routerLink="/tabset" routerLinkActive="active">Tabset</a>
        </li>
        <li>
          <a routerLink="/timepicker" routerLinkActive="active">Timepicker</a>
        </li>
        <li>
          <a routerLink="/tooltip" routerLinkActive="active">Tooltip</a>
        </li>
        <li>
          <a routerLink="/typeahead" routerLinkActive="active">Typeahead</a>
        </li>
      </ul>
    </li>

    <li>
      <h6>Utility Classes</h6>
      <ul>
        <li>
          <a routerLink="/border" routerLinkActive="active">Border</a>
        </li>
        <li>
          <a routerLink="/display" routerLinkActive="active">Display</a>
        </li>
        <li>
          <a routerLink="/flexbox" routerLinkActive="active">Flexbox</a>
        </li>
        <li>
          <a routerLink="/float" routerLinkActive="active">Float</a>
        </li>
        <li>
          <a routerLink="/other" routerLinkActive="active">Other</a>
        </li>
        <li>
          <a routerLink="/position" routerLinkActive="active">Position</a>
        </li>
        <li>
          <a routerLink="/sizing" routerLinkActive="active">Sizing</a>
        </li>
        <li>
          <a routerLink="/spacing" routerLinkActive="active">Spacing</a>
        </li>
        <li>
          <a routerLink="/text" routerLinkActive="active">Text</a>
        </li>
      </ul>
    </li>

    <li>
      <h6>Examples</h6>
      <ul>
        <li>
          <a routerLink="/lease-details" routerLinkActive="active">Lease Details</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>