@import '../../assets/scss/bootstrap/_functions.scss';
@import '../../assets/scss/bootstrap/_variables.scss';

.site-nav {
    padding: 1rem;
    overflow-y: auto;
    position: fixed;
    top: 56px;
    left: 0;
    width: 20%;
    height: calc(100vh - 56px);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    > ul {
        > li {
            margin-bottom: 1rem;
        }
    }
    h6 {
        color: $gold;
    }
    a {
        color: $dark;
        font-size: 1rem;
        position: relative;
        text-decoration: none;

        &.active,
        &:hover {
            color: $primary;
        }
        &.active {
            &:before {
                border-left: 8px solid $primary;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                content: '';
                position: absolute;
                top: 50%;
                left: -1rem;
                transform: translateY(-50%);
            }
        }
    }
}