<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Datepicker</a></li>
    <li><a pageScroll href="#item-2">Popup Datepicker</a></li>
    <li><a pageScroll href="#item-3">Multiple Months</a></li>
    <li><a pageScroll href="#item-4">Range Selection</a></li>
    <li><a pageScroll href="#item-5">Datepicker Footer</a></li>
    <li><a pageScroll href="#item-6">Disabling & Limiting Dates</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Datepicker</h1>
    <p> Datepicker will help you with date selection. It can be used either inline with <code>NgbDatepicker</code> component or as a popup on any input element with <code>NgbInputDatepicker</code> directive.
    </p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Datepicker</h4>
    <div class="example">
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
      <hr/>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
      <hr/>
      <pre>Month: {{ date.month }}.{{ date.year }}</pre>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="datepicker-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next">&lt;/ngb-datepicker>
&lt;hr/>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today&lt;/button>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month&lt;/button>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo(&#123;year: 2013, month: 2&#125;)">To Feb 2013&lt;/button>
&lt;hr/>
&lt;pre>Month: &#123;&#123; date.month &#125;&#125;.&#123;&#123; date.year &#125;&#125;&lt;/pre>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="datepicker-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbDateStruct, NgbCalendar&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'datepicker-basic',
  templateUrl: './datepicker-basic.html'
&#125;)
export class DatepickerBasic &#123;

  model: NgbDateStruct;
  date: &#123;year: number, month: number&#125;;

  constructor(private calendar: NgbCalendar) &#123;
  &#125;

  selectToday() &#123;
    this.model = this.calendar.getToday();
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Popup Datepicker</h4>
    <div class="example">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
                <svg class="d-block text-white" width="18" height="18">
                  <use xlink:href="assets/sprites/sprite.svg#calendar" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </form>

      <hr/>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="datepicker-popup.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;form class="form-inline">
  &lt;div class="form-group">
    &lt;div class="input-group">
      &lt;input class="form-control" placeholder="yyyy-mm-dd"
              name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      &lt;div class="input-group-append">
        &lt;button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
          &lt;svg class="d-block text-white" width="18" height="18">
            &lt;use xlink:href="assets/sprites/sprite.svg#calendar" />
          &lt;/svg>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/form>
&lt;hr/>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="datepicker-popup.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'datepicker-popup',
  templateUrl: './datepicker-popup.html'
&#125;)
export class DatepickerPopup &#123;
  model;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Multiple Months</h4>
    <div class="example">
        <ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
        [showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
        </ngb-datepicker>

        <hr/>

        <form class="form-inline">
        <div class="form-group">
        <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
            name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
            [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
            <svg class="d-block text-white" width="18" height="18">
              <use xlink:href="assets/sprites/sprite.svg#calendar" />
            </svg>
          </button>
        </div>
        </div>
        </div>
        </form>

        <hr/>

        <div class="d-flex flex-wrap align-content-between p-2">
          <div class="m-1">
              <select class="custom-select" [(ngModel)]="displayMonths">
                <option [ngValue]="1">One month</option>
                <option [ngValue]="2">Two months</option>
                <option [ngValue]="3">Three months</option>
              </select>
          </div>
          <div class="m-1">
            <select class="custom-select" [(ngModel)]="navigation">
              <option value="none">Without navigation</option>
              <option value="select">With select boxes</option>
              <option value="arrows">Without select boxes</option>
            </select>
          </div>
          <div class="m-1">
            <select class="custom-select" [(ngModel)]="showWeekNumbers">
              <option [ngValue]="true">Week numbers</option>
              <option [ngValue]="false">No week numbers</option>
            </select>
          </div>
          <div class="m-1">
            <select class="custom-select" [(ngModel)]="outsideDays">
              <option value="visible">Visible outside days</option>
              <option value="hidden">Hidden outside days</option>
              <option value="collapsed">Collapsed outside days</option>
            </select>
          </div>
        </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="datepicker-multiple.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-datepicker [displayMonths]="displayMonths" [navigation]="navigation"
[showWeekNumbers]="showWeekNumbers" [outsideDays]="outsideDays">
&lt;/ngb-datepicker>

&lt;hr/>

&lt;form class="form-inline">
  &lt;div class="form-group">
    &lt;div class="input-group">
      &lt;input class="form-control" placeholder="yyyy-mm-dd"
      name="dp" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays"
      [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker">
      &lt;div class="input-group-append">
        &lt;button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
          &lt;svg class="d-block text-white" width="18" height="18">
            &lt;use xlink:href="assets/sprites/sprite.svg#calendar" />
          &lt;/svg>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/form>

&lt;hr/>

&lt;div class="d-flex flex-wrap align-content-between p-2">
  &lt;div class="m-1">
      &lt;select class="custom-select" [(ngModel)]="displayMonths">
        &lt;option [ngValue]="1">One month&lt;/option>
        &lt;option [ngValue]="2">Two months&lt;/option>
        &lt;option [ngValue]="3">Three months&lt;/option>
      &lt;/select>
  &lt;/div>
  &lt;div class="m-1">
    &lt;select class="custom-select" [(ngModel)]="navigation">
      &lt;option value="none">Without navigation&lt;/option>
      &lt;option value="select">With select boxes&lt;/option>
      &lt;option value="arrows">Without select boxes&lt;/option>
    &lt;/select>
  &lt;/div>
  &lt;div class="m-1">
    &lt;select class="custom-select" [(ngModel)]="showWeekNumbers">
      &lt;option [ngValue]="true">Week numbers&lt;/option>
      &lt;option [ngValue]="false">No week numbers&lt;/option>
    &lt;/select>
  &lt;/div>
  &lt;div class="m-1">
    &lt;select class="custom-select" [(ngModel)]="outsideDays">
      &lt;option value="visible">Visible outside days&lt;/option>
      &lt;option value="hidden">Hidden outside days&lt;/option>
      &lt;option value="collapsed">Collapsed outside days&lt;/option>
    &lt;/select>
  &lt;/div>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="datepicker-multiple.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'datepicker-multiple',
  templateUrl: './datepicker-multiple.html',
&#125;)
export class DatepickerMultiple &#123;

  displayMonths = 2;
  navigation = 'select';
  showWeekNumbers = false;
  outsideDays = 'visible';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




    <div class="border border-light p-4 mt-5" id="item-4">
      <h4>Range Selection</h4>
      <div class="example">
        <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>

        <hr>

        <pre>From: {{ fromDate | json }} </pre>
        <pre>To: {{ toDate | json }} </pre>
      </div>
      <ngb-tabset>
        <ngb-tab title="datepicker-range.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
&lt;/ngb-datepicker>

&lt;ng-template #t let-date let-focused="focused">
  &lt;span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    &#123;&#123; date.day &#125;&#125;
  &lt;/span>
&lt;/ng-template>

&lt;hr>

&lt;pre>From: &#123;&#123; fromDate | json &#125;&#125; &lt;/pre>
&lt;pre>To: &#123;&#123; toDate | json &#125;&#125; &lt;/pre>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="datepicker-range.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbDate, NgbCalendar&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'datepicker-range',
  templateUrl: './datepicker-range.html',
&#125;)
export class DatepickerRange &#123;

  hoveredDate: NgbDate;

  fromDate: NgbDate;
  toDate: NgbDate;

  constructor(calendar: NgbCalendar) &#123;
    this.fromDate = calendar.getToday();
    this.toDate = calendar.getNext(calendar.getToday(), 'd', 10);
  &#125;

  onDateSelection(date: NgbDate) &#123;
    if (!this.fromDate && !this.toDate) &#123;
      this.fromDate = date;
    &#125; else if (this.fromDate && !this.toDate && date.after(this.fromDate)) &#123;
      this.toDate = date;
    &#125; else &#123;
      this.toDate = null;
      this.fromDate = date;
    &#125;
  &#125;

  isHovered(date: NgbDate) &#123;
    return this.fromDate && !this.toDate && this.hoveredDate && date.after(this.fromDate) && date.before(this.hoveredDate);
  &#125;

  isInside(date: NgbDate) &#123;
    return date.after(this.fromDate) && date.before(this.toDate);
  &#125;

  isRange(date: NgbDate) &#123;
    return date.equals(this.fromDate) || date.equals(this.toDate) || this.isInside(date) || this.isHovered(date);
  &#125;
&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>



    <div class="border border-light p-4 mt-5" id="item-5">
      <h4>Datepicker Footer</h4>
      <div class="example">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                      name="dp" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
                  <svg class="d-block text-white" width="18" height="18">
                    <use xlink:href="assets/sprites/sprite.svg#calendar" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </form>

        <ng-template #footerTemplate>
          <hr class="my-0">
          <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
          <button class="btn btn-light btn-sm m-2 float-right" (click)="d.close()">Close</button>
        </ng-template>
      </div>
      <ngb-tabset>
        <ngb-tab title="datepicker-footer.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;form class="form-inline">
  &lt;div class="form-group">
    &lt;div class="input-group">
      &lt;input class="form-control" placeholder="yyyy-mm-dd"
              name="dp" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker">
      &lt;div class="input-group-append">
        &lt;button class="btn btn-primary calendar" (click)="d.toggle()" type="button">
          &lt;svg class="d-block text-white" width="18" height="18">
            &lt;use xlink:href="assets/sprites/sprite.svg#calendar" />
          &lt;/svg>
        &lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/form>

&lt;ng-template #footerTemplate>
  &lt;hr class="my-0">
  &lt;button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today&lt;/button>
  &lt;button class="btn btn-light btn-sm m-2 float-right" (click)="d.close()">Close&lt;/button>
&lt;/ng-template>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="datepicker-footer.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbCalendar, NgbDateStruct&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'datepicker-footer',
  templateUrl: './datepicker-footer.html',
&#125;)
export class DatepickerFooter &#123;
  model: NgbDateStruct;
  today = this.calendar.getToday();

  constructor(private calendar: NgbCalendar) &#123;&#125;
&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>






    <div class="border border-light p-4 mt-5" id="item-6">
      <h4>Disabling & Limiting Dates</h4>
      <div class="example">
        <ngb-datepicker [minDate]="{year: 2018, month: 1, day: 1}"
        [maxDate]="{year: 2019, month: 12, day: 31}"
        [markDisabled]="isDisabled">
        </ngb-datepicker>
      </div>
      <ngb-tabset>
        <ngb-tab title="datepicker-disabled.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-datepicker [minDate]="&#123;year: 2018, month: 1, day: 1&#125;"
[maxDate]="&#123;year: 2019, month: 12, day: 31&#125;"
[markDisabled]="isDisabled">
&lt;/ngb-datepicker>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="datepicker-disabled.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbCalendar, NgbDateStruct&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'datepicker-disabled',
  templateUrl: './datepicker-disabled.html',
&#125;)
export class DatepickerDisabled &#123;

  date: &#123;year: number, month: number&#125;;
  isDisabled = (date: NgbDate, current: &#123;month: number&#125;) => date.day === 13;

&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>


</div>