<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Buttons</a></li>
    <li><a pageScroll href="#item-2">Outline Buttons</a></li>
    <li><a pageScroll href="#item-3">Button Sizes</a></li>
    <li><a pageScroll href="#item-4">Button States</a></li>
    <li><a pageScroll href="#item-5">Checkbox Buttons</a></li>
    <li><a pageScroll href="#item-6">Radio Buttons</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Buttons</h1>
    <p>A rundown of button classes and ng-boostrap powered buttons.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Buttons</h4>
    <p>The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element. However, you can also use these classes on <code>&lt;a&gt;</code> or <code>&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering).</p>
    <p>When using button classes on <code>&lt;a&gt;</code> elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a <code>role="button"</code> to appropriately convey their purpose to assistive technologies such as screen readers.</p>
    <div class="example">
      <button type="button" class="btn btn-primary m-1">Primary</button>
      <button type="button" class="btn btn-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-tertiary m-1">Tertiary</button>
      <button type="button" class="btn btn-success m-1">Success</button>
      <button type="button" class="btn btn-danger m-1">Danger</button>
      <button type="button" class="btn btn-warning m-1">Warning</button>
      <button type="button" class="btn btn-light m-1">Light</button>
      <button type="button" class="btn btn-dark m-1">Dark</button>
      <button type="button" class="btn btn-link m-1">Link</button>
    </div>
<pre><code highlight>
&lt;button type="button" class="btn btn-primary">Primary&lt;/button>
&lt;button type="button" class="btn btn-secondary">Secondary&lt;/button>
&lt;button type="button" class="btn btn-tertiary">Tertiary&lt;/button>
&lt;button type="button" class="btn btn-success">Success&lt;/button>
&lt;button type="button" class="btn btn-danger">Danger&lt;/button>
&lt;button type="button" class="btn btn-warning">Warning&lt;/button>
&lt;button type="button" class="btn btn-light">Light&lt;/button>
&lt;button type="button" class="btn btn-dark">Dark&lt;/button>
&lt;button type="button" class="btn btn-link">Link&lt;/button>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Outline Buttons</h4>
    <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.</p>
    <div class="example">
      <button type="button" class="btn btn-outline-primary m-1">Primary</button>
      <button type="button" class="btn btn-outline-secondary m-1">Secondary</button>
      <button type="button" class="btn btn-outline-tertiary m-1">Tertiary</button>
      <button type="button" class="btn btn-outline-success m-1">Success</button>
      <button type="button" class="btn btn-outline-danger m-1">Danger</button>
      <button type="button" class="btn btn-outline-warning m-1">Warning</button>
      <button type="button" class="btn btn-outline-light m-1">Light</button>
      <button type="button" class="btn btn-outline-dark m-1">Dark</button>
    </div>
<pre><code highlight>
&lt;button type="button" class="btn btn-outline-primary">Primary&lt;/button>
&lt;button type="button" class="btn btn-outline-secondary">Secondary&lt;/button>
&lt;button type="button" class="btn btn-outline-tertiary">Tertiary&lt;/button>
&lt;button type="button" class="btn btn-outline-success">Success&lt;/button>
&lt;button type="button" class="btn btn-outline-danger">Danger&lt;/button>
&lt;button type="button" class="btn btn-outline-warning">Warning&lt;/button>
&lt;button type="button" class="btn btn-outline-light">Light&lt;/button>
&lt;button type="button" class="btn btn-outline-dark">Dark&lt;/button>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Button Sizes</h4>
    <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.</p>
    <div class="example">
      <button type="button" class="btn btn-primary btn-lg m-1">Large button</button>
      <button type="button" class="btn btn-secondary btn-lg m-1">Large button</button>
      <br />
      <button type="button" class="btn btn-primary btn-sm m-1">Small button</button>
      <button type="button" class="btn btn-secondary btn-sm m-1">Small button</button>
    </div>
<pre><code highlight>
&lt;button type="button" class="btn btn-primary btn-lg">Large button&lt;/button>
&lt;button type="button" class="btn btn-secondary btn-lg">Large button&lt;/button>

&lt;button type="button" class="btn btn-primary btn-sm">Small button&lt;/button>
&lt;button type="button" class="btn btn-secondary btn-sm">Small button&lt;/button>
</code></pre>

  <p class="mt-5">Create block level buttons—those that span the full width of a parent—by adding <code>.btn-block</code>.</p>
  <div class="example">
    <button type="button" class="btn btn-primary btn-lg btn-block m-1">Block level button</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block m-1">Block level button</button>
  </div>
<pre><code highlight>
&lt;button type="button" class="btn btn-primary btn-lg btn-block">Block level button&lt;/button>
&lt;button type="button" class="btn btn-secondary btn-lg btn-block">Block level button&lt;/button>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Button States</h4>
    <p>Make buttons appear pressed or disabled.</p>
    <div class="example">
      <a href="#" class="btn btn-primary active m-1" role="button" aria-pressed="true">Primary Active</a>
      <a href="#" class="btn btn-secondary active m-1" role="button" aria-pressed="true">Secondary Active</a>
      <br />
      <button type="button" class="btn btn-primary m-1" disabled>Primary Disabled</button>
      <button type="button" class="btn btn-secondary m-1" disabled>Secondary Disabled</button>
    </div>
<pre><code highlight>
&lt;a href="#" class="btn btn-primary active" role="button" aria-pressed="true">Primary Active&lt;/a>
&lt;a href="#" class="btn btn-secondary active" role="button" aria-pressed="true">Secondary Active&lt;/a>

&lt;button type="button" class="btn btn-primary" disabled>Primary Disabled&lt;/button>
&lt;button type="button" class="btn btn-secondary" disabled>Secondary Disabled&lt;/button>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Checkbox Buttons</h4>
    <div class="example">
      <div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
        </label>
      </div>
      <hr>
      <pre class="m-0">{{model | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="buttons-checkbox.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;div class="btn-group btn-group-toggle">
  &lt;label class="btn-primary" ngbButtonLabel>
    &lt;input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  &lt;/label>
  &lt;label class="btn-primary" ngbButtonLabel>
    &lt;input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  &lt;/label>
  &lt;label class="btn-primary" ngbButtonLabel>
    &lt;input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  &lt;/label>
&lt;/div>
&lt;hr>
&lt;pre>{{model | json}}&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="buttons-checkbox.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'buttons-checkbox',
  templateUrl: './buttons-checkbox.html'
&#125;)
export class ButtonsCheckbox &#123;
  model = &#123;
    left: true,
    middle: false,
    right: false
  &#125;;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <hr class="my-4" />
    <h5>Reactive Forms</h5>
    <div class="example">
      <form [formGroup]="checkboxGroupForm">
        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="left" ngbButton> Left (pre-checked)
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="middle" ngbButton> Middle
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="right" ngbButton> Right
          </label>
        </div>
      </form>
      <hr>
      <pre>{{checkboxGroupForm.value | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="buttons-checkbox-reative.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;form [formGroup]="checkboxGroupForm">
  &lt;div class="btn-group btn-group-toggle">
    &lt;label class="btn-primary" ngbButtonLabel>
      &lt;input type="checkbox" formControlName="left" ngbButton> Left (pre-checked)
    &lt;/label>
    &lt;label class="btn-primary" ngbButtonLabel>
      &lt;input type="checkbox" formControlName="middle" ngbButton> Middle
    &lt;/label>
    &lt;label class="btn-primary" ngbButtonLabel>
      &lt;input type="checkbox" formControlName="right" ngbButton> Right
    &lt;/label>
  &lt;/div>
&lt;/form>
&lt;hr>
&lt;pre>{{checkboxGroupForm.value | json}}&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="buttons-checkbox-reactive.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component &#125; from '@angular/core';
import &#123; FormBuilder, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'buttons-checkbox-reactive',
  templateUrl: './buttons-checkbox-reactive.html'
&#125;)
export class ButtonsCheckboxReactive &#123;
  public checkboxGroupForm: FormGroup;

  constructor(private formBuilder: FormBuilder) &#123;&#125;

  ngOnInit() &#123;
    this.checkboxGroupForm = this.formBuilder.group(&#123;
      left: true,
      middle: false,
      right: false
    &#125;);
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>



  <div class="border border-light p-4 mt-5" id="item-6">
    <h4>Radio Buttons</h4>
    <div class="example">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="radioModel">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1"> Left (pre-checked)
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="middle"> Middle
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="false"> Right
        </label>
      </div>
      <hr>
      <pre>{{radioModel}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="buttons-radiohtml">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
  &lt;label ngbButtonLabel class="btn-primary">
    &lt;input ngbButton type="radio" [value]="1"> Left (pre-checked)
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-primary">
    &lt;input ngbButton type="radio" value="middle"> Middle
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-primary">
    &lt;input ngbButton type="radio" [value]="false"> Right
  &lt;/label>
&lt;/div>
&lt;hr>
&lt;pre>{{radioModel}}&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="buttons-radio.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'buttons-radio',
  templateUrl: './buttons-radio.html'
&#125;)
export class ButtonsRadio &#123;
  radioModel = 1;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <hr class="my-4" />
    <h5>Reactive Forms</h5>
    <div class="example">
      <form [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> Left (pre-checked)
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="middle"> Middle
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="false"> Right
          </label>
        </div>
      </form>
      <hr>
      <pre>{{radioGroupForm.value['model']}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="buttons-radio-reative.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;form [formGroup]="radioGroupForm">
  &lt;div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
    &lt;label ngbButtonLabel class="btn-primary">
      &lt;input ngbButton type="radio" [value]="1"> Left (pre-checked)
    &lt;/label>
    &lt;label ngbButtonLabel class="btn-primary">
      &lt;input ngbButton type="radio" value="middle"> Middle
    &lt;/label>
    &lt;label ngbButtonLabel class="btn-primary">
      &lt;input ngbButton type="radio" [value]="false"> Right
    &lt;/label>
  &lt;/div>
&lt;/form>
&lt;hr>
&lt;pre>{{radioGroupForm.value['model']}}&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="buttons-radio-reactive.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; FormBuilder, FormGroup &#125; from '@angular/forms';

@Component(&#123;
  selector: 'buttons-radio-reactive',
  templateUrl: './buttons-radio-reactive.html'
&#125;)
export class ButtonsRadioReactive implements OnInit &#123;
  public radioGroupForm: FormGroup;

  constructor(private formBuilder: FormBuilder) &#123;&#125;

  ngOnInit() &#123;
    this.radioGroupForm = this.formBuilder.group(&#123;
      'model': 1
    &#125;);
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

  </div>

</div>