<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Typeahead</a></li>
    <li><a pageScroll href="#item-2">Open on Focus</a></li>
    <li><a pageScroll href="#item-3">Formatted Results</a></li>
    <li><a pageScroll href="#item-4">Template for Results</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Typeahead</h1>
    <p>The typeahead component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Typeahead</h4>
    <div class="example">
      <p>A typeahead example that gets values from a static <code>string[]</code></p>
      <ul>
        <li><code>debounceTime</code> operator</li>
        <li>kicks in only if 2+ characters typed</li>
        <li>limits to 10 results</li>
      </ul>

      <label for="typeahead-basic">Search for a state:</label>
      <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
      <hr>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="typeahead-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>A typeahead example that gets values from a static &lt;code>string[]&lt;/code>&lt;/p>
&lt;ul>
  &lt;li>&lt;code>debounceTime&lt;/code> operator&lt;/li>
  &lt;li>kicks in only if 2+ characters typed&lt;/li>
  &lt;li>limits to 10 results&lt;/li>
&lt;/ul>

&lt;label for="typeahead-basic">Search for a state:&lt;/label>
&lt;input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
&lt;hr>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="typeahead-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;Observable&#125; from 'rxjs';
import &#123;debounceTime, distinctUntilChanged, map&#125; from 'rxjs/operators';

const states = ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado',
  'Connecticut', 'Delaware', 'District Of Columbia', 'Federated States Of Micronesia', 'Florida', 'Georgia',
  'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
  'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
  'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
  'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];

@Component(&#123;
  selector: 'typeahead-basic',
  templateUrl: './typeahead-basic.html',
  styles: [`.form-control &#123; width: 300px; &#125;`]
&#125;)
export class TypeaheadBasic &#123;
  public model: any;

  search = (text$: Observable&lt;string>) =>
    text$.pipe(
      debounceTime(200),
      distinctUntilChanged(),
      map(term => term.length &lt; 2 ? []
        : states.filter(v => v.toLowerCase().indexOf(term.toLowerCase()) > -1).slice(0, 10))
    )

&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Open on Focus</h4>
    <div class="example">
        <p>It is possible to get the focus events with the current input value to emit results on focus with a great flexibility.</p>

        <p>In this simple example, a search is done no matter the content of the input:</p>

        <ul>
          <li>on empty input all options will be taken</li>
          <li>otherwise options will be filtered against the search term</li>
          <li>it will limit the display to 10 results in all cases</li>
        </ul>

        <label for="typeahead-focus">Search for a state:</label>
        <input
          id="typeahead-focus"
          type="text"
          class="form-control"
          [(ngModel)]="model"
          [ngbTypeahead]="search2"
          (focus)="focus$.next($event.target.value)"
          (click)="click$.next($event.target.value)"
          #instance="ngbTypeahead"
        />
        <hr>
        <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="typeahead-focus.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>It is possible to get the focus events with the current input value to emit results on focus with a great flexibility.&lt;/p>

&lt;p>In this simple example, a search is done no matter the content of the input:&lt;/p>

&lt;ul>
  &lt;li>on empty input all options will be taken&lt;/li>
  &lt;li>otherwise options will be filtered against the search term&lt;/li>
  &lt;li>it will limit the display to 10 results in all cases&lt;/li>
&lt;/ul>

&lt;label for="typeahead-focus">Search for a state:&lt;/label>
&lt;input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [(ngModel)]="model"
  [ngbTypeahead]="search"
  (focus)="focus$.next($event.target.value)"
  (click)="click$.next($event.target.value)"
  #instance="ngbTypeahead"
/>
&lt;hr>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="typeahead-focus.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component, ViewChild&#123; from '@angular/core';
import &#123;NgbTypeahead&#123; from '@ng-bootstrap/ng-bootstrap';
import &#123;Observable, Subject, merge&#123; from 'rxjs';
import &#123;debounceTime, distinctUntilChanged, filter, map&#123; from 'rxjs/operators';

const states = ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado',
  'Connecticut', 'Delaware', 'District Of Columbia', 'Federated States Of Micronesia', 'Florida', 'Georgia',
  'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
  'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
  'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
  'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];

@Component(&#123;
  selector: 'typeahead-focus',
  templateUrl: './typeahead-focus.html',
  styles: [`.form-control &#123; width: 300px; &#123;`]
&#123;)
export class TypeaheadFocus &#123;
  model: any;

  @ViewChild('instance') instance: NgbTypeahead;
  focus$ = new Subject&lt;string>();
  click$ = new Subject&lt;string>();

  search = (text$: Observable&lt;string>) => &#123;
    const debouncedText$ = text$.pipe(debounceTime(200), distinctUntilChanged());
    const clicksWithClosedPopup$ = this.click$.pipe(filter(() => !this.instance.isPopupOpen()));
    const inputFocus$ = this.focus$;

    return merge(debouncedText$, inputFocus$, clicksWithClosedPopup$).pipe(
      map(term => (term === '' ? states
        : states.filter(v => v.toLowerCase().indexOf(term.toLowerCase()) > -1)).slice(0, 10))
    );
  &#123;
&#123;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Formatted Results</h4>
    <div class="example">
      <p>A typeahead example that uses a formatter function for string results</p>

      <label for="typeahead-format">Search for a state:</label>
      <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search3" [resultFormatter]="formatter" />
      <hr>
      <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="typeahead-format.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>A typeahead example that uses a formatter function for string results&lt;/p>

&lt;label for="typeahead-format">Search for a state:&lt;/label>
&lt;input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="formatter" />
&lt;hr>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="typeahead-format.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;Observable&#125; from 'rxjs';
import &#123;debounceTime, distinctUntilChanged, map&#125; from 'rxjs/operators';

const states = ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado',
  'Connecticut', 'Delaware', 'District Of Columbia', 'Federated States Of Micronesia', 'Florida', 'Georgia',
  'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
  'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
  'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
  'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];

@Component(&#123;
  selector: 'typeahead-format',
  templateUrl: './typeahead-format.html',
  styles: [`.form-control &#123; width: 300px; &#125;`]
&#125;)
export class TypeaheadFormat &#123;
  public model: any;

  formatter = (result: string) => result.toUpperCase();

  search = (text$: Observable&lt;string>) =>
    text$.pipe(
      debounceTime(200),
      distinctUntilChanged(),
      map(term => term === '' ? []
        : states.filter(v => v.toLowerCase().indexOf(term.toLowerCase()) > -1).slice(0, 10))
    )
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Template for Results</h4>
    <div class="example">
        <p>A typeahead example that uses a custom template for results display, an object as the model, and the highlight directive to highlight the term inside the custom template.</p>

        <ng-template #rt let-r="result" let-t="term">
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>

        <label for="typeahead-template">Search for a state:</label>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search4" [resultTemplate]="rt"
          [inputFormatter]="formatter4" />
        <hr>
        <pre>Model: {{ model | json }}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="typeahead-template.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>A typeahead example that uses a custom template for results display, an object as the model, and the highlight directive to highlight the term inside the custom template.&lt;/p>

&lt;ng-template #rt let-r="result" let-t="term">
  &lt;img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px">
  &lt;ngb-highlight [result]="r.name" [term]="t">&lt;/ngb-highlight>
&lt;/ng-template>

&lt;label for="typeahead-template">Search for a state:&lt;/label>
&lt;input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" />
&lt;hr>
&lt;pre>Model: &#123;&#123; model | json &#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="typeahead-template.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#1235; from '@angular/core';
import &#123;Observable&#1235; from 'rxjs';
import &#123;debounceTime, map&#1235; from 'rxjs/operators';

const statesWithFlags: &#123;name: string, flag: string&#1235;[] = [
  &#123;'name': 'Alabama', 'flag': '5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png'&#1235;,
  &#123;'name': 'Alaska', 'flag': 'e/e6/Flag_of_Alaska.svg/43px-Flag_of_Alaska.svg.png'&#1235;,
  &#123;'name': 'Arizona', 'flag': '9/9d/Flag_of_Arizona.svg/45px-Flag_of_Arizona.svg.png'&#1235;,
  &#123;'name': 'Arkansas', 'flag': '9/9d/Flag_of_Arkansas.svg/45px-Flag_of_Arkansas.svg.png'&#1235;,
  &#123;'name': 'California', 'flag': '0/01/Flag_of_California.svg/45px-Flag_of_California.svg.png'&#1235;,
  &#123;'name': 'Colorado', 'flag': '4/46/Flag_of_Colorado.svg/45px-Flag_of_Colorado.svg.png'&#1235;,
  &#123;'name': 'Connecticut', 'flag': '9/96/Flag_of_Connecticut.svg/39px-Flag_of_Connecticut.svg.png'&#1235;,
  &#123;'name': 'Delaware', 'flag': 'c/c6/Flag_of_Delaware.svg/45px-Flag_of_Delaware.svg.png'&#1235;,
  &#123;'name': 'Florida', 'flag': 'f/f7/Flag_of_Florida.svg/45px-Flag_of_Florida.svg.png'&#1235;,
  &#123;
    'name': 'Georgia',
    'flag': '5/54/Flag_of_Georgia_%28U.S._state%29.svg/46px-Flag_of_Georgia_%28U.S._state%29.svg.png'
  &#1235;,
  &#123;'name': 'Hawaii', 'flag': 'e/ef/Flag_of_Hawaii.svg/46px-Flag_of_Hawaii.svg.png'&#1235;,
  &#123;'name': 'Idaho', 'flag': 'a/a4/Flag_of_Idaho.svg/38px-Flag_of_Idaho.svg.png'&#1235;,
  &#123;'name': 'Illinois', 'flag': '0/01/Flag_of_Illinois.svg/46px-Flag_of_Illinois.svg.png'&#1235;,
  &#123;'name': 'Indiana', 'flag': 'a/ac/Flag_of_Indiana.svg/45px-Flag_of_Indiana.svg.png'&#1235;,
  &#123;'name': 'Iowa', 'flag': 'a/aa/Flag_of_Iowa.svg/44px-Flag_of_Iowa.svg.png'&#1235;,
  &#123;'name': 'Kansas', 'flag': 'd/da/Flag_of_Kansas.svg/46px-Flag_of_Kansas.svg.png'&#1235;,
  &#123;'name': 'Kentucky', 'flag': '8/8d/Flag_of_Kentucky.svg/46px-Flag_of_Kentucky.svg.png'&#1235;,
  &#123;'name': 'Louisiana', 'flag': 'e/e0/Flag_of_Louisiana.svg/46px-Flag_of_Louisiana.svg.png'&#1235;,
  &#123;'name': 'Maine', 'flag': '3/35/Flag_of_Maine.svg/45px-Flag_of_Maine.svg.png'&#1235;,
  &#123;'name': 'Maryland', 'flag': 'a/a0/Flag_of_Maryland.svg/45px-Flag_of_Maryland.svg.png'&#1235;,
  &#123;'name': 'Massachusetts', 'flag': 'f/f2/Flag_of_Massachusetts.svg/46px-Flag_of_Massachusetts.svg.png'&#1235;,
  &#123;'name': 'Michigan', 'flag': 'b/b5/Flag_of_Michigan.svg/45px-Flag_of_Michigan.svg.png'&#1235;,
  &#123;'name': 'Minnesota', 'flag': 'b/b9/Flag_of_Minnesota.svg/46px-Flag_of_Minnesota.svg.png'&#1235;,
  &#123;'name': 'Mississippi', 'flag': '4/42/Flag_of_Mississippi.svg/45px-Flag_of_Mississippi.svg.png'&#1235;,
  &#123;'name': 'Missouri', 'flag': '5/5a/Flag_of_Missouri.svg/46px-Flag_of_Missouri.svg.png'&#1235;,
  &#123;'name': 'Montana', 'flag': 'c/cb/Flag_of_Montana.svg/45px-Flag_of_Montana.svg.png'&#1235;,
  &#123;'name': 'Nebraska', 'flag': '4/4d/Flag_of_Nebraska.svg/46px-Flag_of_Nebraska.svg.png'&#1235;,
  &#123;'name': 'Nevada', 'flag': 'f/f1/Flag_of_Nevada.svg/45px-Flag_of_Nevada.svg.png'&#1235;,
  &#123;'name': 'New Hampshire', 'flag': '2/28/Flag_of_New_Hampshire.svg/45px-Flag_of_New_Hampshire.svg.png'&#1235;,
  &#123;'name': 'New Jersey', 'flag': '9/92/Flag_of_New_Jersey.svg/45px-Flag_of_New_Jersey.svg.png'&#1235;,
  &#123;'name': 'New Mexico', 'flag': 'c/c3/Flag_of_New_Mexico.svg/45px-Flag_of_New_Mexico.svg.png'&#1235;,
  &#123;'name': 'New York', 'flag': '1/1a/Flag_of_New_York.svg/46px-Flag_of_New_York.svg.png'&#1235;,
  &#123;'name': 'North Carolina', 'flag': 'b/bb/Flag_of_North_Carolina.svg/45px-Flag_of_North_Carolina.svg.png'&#1235;,
  &#123;'name': 'North Dakota', 'flag': 'e/ee/Flag_of_North_Dakota.svg/38px-Flag_of_North_Dakota.svg.png'&#1235;,
  &#123;'name': 'Ohio', 'flag': '4/4c/Flag_of_Ohio.svg/46px-Flag_of_Ohio.svg.png'&#1235;,
  &#123;'name': 'Oklahoma', 'flag': '6/6e/Flag_of_Oklahoma.svg/45px-Flag_of_Oklahoma.svg.png'&#1235;,
  &#123;'name': 'Oregon', 'flag': 'b/b9/Flag_of_Oregon.svg/46px-Flag_of_Oregon.svg.png'&#1235;,
  &#123;'name': 'Pennsylvania', 'flag': 'f/f7/Flag_of_Pennsylvania.svg/45px-Flag_of_Pennsylvania.svg.png'&#1235;,
  &#123;'name': 'Rhode Island', 'flag': 'f/f3/Flag_of_Rhode_Island.svg/32px-Flag_of_Rhode_Island.svg.png'&#1235;,
  &#123;'name': 'South Carolina', 'flag': '6/69/Flag_of_South_Carolina.svg/45px-Flag_of_South_Carolina.svg.png'&#1235;,
  &#123;'name': 'South Dakota', 'flag': '1/1a/Flag_of_South_Dakota.svg/46px-Flag_of_South_Dakota.svg.png'&#1235;,
  &#123;'name': 'Tennessee', 'flag': '9/9e/Flag_of_Tennessee.svg/46px-Flag_of_Tennessee.svg.png'&#1235;,
  &#123;'name': 'Texas', 'flag': 'f/f7/Flag_of_Texas.svg/45px-Flag_of_Texas.svg.png'&#1235;,
  &#123;'name': 'Utah', 'flag': 'f/f6/Flag_of_Utah.svg/45px-Flag_of_Utah.svg.png'&#1235;,
  &#123;'name': 'Vermont', 'flag': '4/49/Flag_of_Vermont.svg/46px-Flag_of_Vermont.svg.png'&#1235;,
  &#123;'name': 'Virginia', 'flag': '4/47/Flag_of_Virginia.svg/44px-Flag_of_Virginia.svg.png'&#1235;,
  &#123;'name': 'Washington', 'flag': '5/54/Flag_of_Washington.svg/46px-Flag_of_Washington.svg.png'&#1235;,
  &#123;'name': 'West Virginia', 'flag': '2/22/Flag_of_West_Virginia.svg/46px-Flag_of_West_Virginia.svg.png'&#1235;,
  &#123;'name': 'Wisconsin', 'flag': '2/22/Flag_of_Wisconsin.svg/45px-Flag_of_Wisconsin.svg.png'&#1235;,
  &#123;'name': 'Wyoming', 'flag': 'b/bc/Flag_of_Wyoming.svg/43px-Flag_of_Wyoming.svg.png'&#1235;
];

@Component(&#123;
  selector: 'typeahead-template',
  templateUrl: './typeahead-template.html',
  styles: [`.form-control &#123; width: 300px; &#1235;`]
&#1235;)
export class TypeaheadTemplate &#123;
  public model: any;

  search = (text$: Observable&lt;string>) =>
    text$.pipe(
      debounceTime(200),
      map(term => term === '' ? []
        : statesWithFlags.filter(v => v.name.toLowerCase().indexOf(term.toLowerCase()) > -1).slice(0, 10))
    )

  formatter = (x: &#123;name: string&#1235;) => x.name;

&#1235;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>