<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Contextual Progress Bars</a></li>
    <li><a pageScroll href="#item-2">Progress Bars with Current Value Labels</a></li>
    <li><a pageScroll href="#item-3">Progress Bars with Custom Labels</a></li>
    <li><a pageScroll href="#item-4">Striped Progress Bars</a></li>
    <li><a pageScroll href="#item-5">Progress Bars Heights</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Progress Bars</h1>
    <p>The progress bar component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Contextual Progress Bars</h4>
    <div class="example">
      <p><ngb-progressbar type="success" [value]="25"></ngb-progressbar></p>
      <p><ngb-progressbar type="info" [value]="50"></ngb-progressbar></p>
      <p><ngb-progressbar type="warning" [value]="75"></ngb-progressbar></p>
      <p><ngb-progressbar type="danger" [value]="100"></ngb-progressbar></p>
    </div>
    <ngb-tabset>
      <ngb-tab title="progressbar-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>&lt;ngb-progressbar type="success" [value]="25">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="info" [value]="50">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="warning" [value]="75">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="danger" [value]="100">&lt;/ngb-progressbar>&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="progressbar-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'progressbar-basic',
  templateUrl: './progressbar-basic.html',
&#125;)
export class ProgressbarBasic &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Progress Bars with Current Value Labels</h4>
    <div class="example">
      <p><ngb-progressbar [showValue]="true" type="success" [value]="25"></ngb-progressbar></p>
      <p><ngb-progressbar [showValue]="true" type="info" [value]="50"></ngb-progressbar></p>
      <p><ngb-progressbar [showValue]="true" type="warning" [value]="150" [max]="200"></ngb-progressbar></p>
      <p><ngb-progressbar [showValue]="true" type="danger" [value]="150" [max]="150"></ngb-progressbar></p>
    </div>
    <ngb-tabset>
      <ngb-tab title="progressbar-showvalue.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>&lt;ngb-progressbar [showValue]="true" type="success" [value]="25">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar [showValue]="true" type="info" [value]="50">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar [showValue]="true" type="warning" [value]="150" [max]="200">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar [showValue]="true" type="danger" [value]="150" [max]="150">&lt;/ngb-progressbar>&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="progressbar-showvalue.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'progressbar-showvalue',
  templateUrl: './progressbar-showvalue.html',
&#125;)
export class ProgressbarShowvalue &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Progress Bars with Custom Labels</h4>
    <div class="example">
      <p><ngb-progressbar type="success" [value]="25">25</ngb-progressbar></p>
      <p><ngb-progressbar type="info" [value]="50">Copying file <b>2 of 4</b>...</ngb-progressbar></p>
      <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"><i>50%</i></ngb-progressbar></p>
      <p><ngb-progressbar type="danger" [value]="100" [striped]="true">Completed!</ngb-progressbar></p>
    </div>
    <ngb-tabset>
      <ngb-tab title="progressbar-labels.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>&lt;ngb-progressbar type="success" [value]="25">25&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="info" [value]="50">Copying file &lt;b>2 of 4&lt;/b>...&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true">&lt;i>50%&lt;/i>&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="danger" [value]="100" [striped]="true">Completed!&lt;/ngb-progressbar>&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="progressbar-labels.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'progressbar-labels',
  templateUrl: './progressbar-labels.html',
&#125;)
export class ProgressbarLabels &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Striped Progress Bars</h4>
    <div class="example">
      <p><ngb-progressbar type="success" [value]="25" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar type="info" [value]="50" [striped]="true"></ngb-progressbar></p>
      <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true"></ngb-progressbar></p>
      <p><ngb-progressbar type="danger" [value]="100" [striped]="true"></ngb-progressbar></p>
    </div>
    <ngb-tabset>
      <ngb-tab title="progressbar-striped.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>&lt;ngb-progressbar type="success" [value]="25" [striped]="true">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="info" [value]="50" [striped]="true">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true">&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="danger" [value]="100" [striped]="true">&lt;/ngb-progressbar>&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="progressbar-striped.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'progressbar-striped',
  templateUrl: './progressbar-striped.html'
&#125;)
export class ProgressbarStriped &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Progress Bars Heights</h4>
    <div class="example">
      <p><ngb-progressbar type="success" [value]="25">default</ngb-progressbar></p>
      <p><ngb-progressbar type="info" [value]="50" height="10px">10px</ngb-progressbar></p>
      <p><ngb-progressbar type="warning" [value]="75" height=".5rem">.5rem</ngb-progressbar></p>
      <p><ngb-progressbar type="danger" [value]="100" [height]="height">{{height}}</ngb-progressbar></p>
    </div>
    <ngb-tabset>
      <ngb-tab title="progressbar-height.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>&lt;ngb-progressbar type="success" [value]="25">default&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="info" [value]="50" height="10px">10px&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="warning" [value]="75" height=".5rem">.5rem&lt;/ngb-progressbar>&lt;/p>
&lt;p>&lt;ngb-progressbar type="danger" [value]="100" [height]="height">&#123;&#123;height&#125;&#125;&lt;/ngb-progressbar>&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="progressbar-height.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'progressbar-height',
  templateUrl: './progressbar-height.html',
&#125;)
export class ProgressbarHeight &#123;
  height = '20px';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


</div>