<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Alert</a></li>
    <li><a pageScroll href="#item-2">Closeable Alert</a></li>
    <li><a pageScroll href="#item-3">Self Closing Alert</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Alert</h1>
    <p>The alert component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Alert</h4>
    <div class="example">
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> This is an alert.
        </ngb-alert>
      </p>
    </div>
    <ngb-tabset>
      <ngb-tab title="alert-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight>
&lt;p>
  &lt;ngb-alert [dismissible]="false">
    &lt;strong>Warning!&lt;/strong> This is an alert.
  &lt;/ngb-alert>
&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="alert-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight>
import &#123; Component &#125; from '@angular/core';

@Component(&#123;
  selector: 'alert-basic',
  templateUrl: './alert-basic.html'
&#125;)
export class AlertBasic &#123;&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Closeable Alert</h4>
    <div class="example">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
      </p>
      <p>
        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
      </p>
    </div>
    <ngb-tabset>
      <ngb-tab title="alert-closeable.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p *ngFor="let alert of alerts">
  &lt;ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}&lt;/ngb-alert>
&lt;/p>
&lt;p>
  &lt;button type="button" class="btn btn-primary" (click)="reset()">Reset&lt;/button>
&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="alert-closeable.ts">
        <ng-template ngbTabContent>
<pre><code highlight>
import &#123; Input, Component &#125; from '@angular/core';

interface Alert &#123;
  type: string;
  message: string;
&#125;

const ALERTS: Alert[] = [&#123;
    type: 'success',
    message: 'This is an success alert',
  &#125;, &#123;
    type: 'warning',
    message: 'This is a warning alert',
  &#125;, &#123;
    type: 'danger',
    message: 'This is a danger alert',
  &#125;, &#123;
    type: 'primary',
    message: 'This is a primary alert',
  &#125;, &#123;
    type: 'secondary',
    message: 'This is a secondary alert',
  &#125;, &#123;
    type: 'tertiary',
    message: 'This is a tertiary alert',
  &#125;, &#123;
    type: 'light',
    message: 'This is a light alert',
  &#125;, &#123;
    type: 'dark',
    message: 'This is a dark alert',
  &#125;
];

@Component(&#123;
  selector: 'alert-closeable',
  templateUrl: './alert-closeable.html'
&#125;)
export class AlertCloseable &#123;

  alerts: Alert[];

  constructor() &#123;
    this.reset();
  &#125;

  close(alert: Alert) &#123;
    this.alerts.splice(this.alerts.indexOf(alert), 1);
  &#125;

  reset() &#123;
    this.alerts = Array.from(ALERTS);
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




  <div class="border border-light p-4 mt-5" id="item-2">
      <h4>Self Closing Alert</h4>
      <div class="example">
        <p>
        Static self-closing alert that disappears after 20 seconds (refresh the page if it has already disappeared)
        </p>
        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Check out our awesome new features!</ngb-alert>

        <hr/>

        <p>
        Show a self-closing success message that disappears after 5 seconds.
        </p>
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        <p>
          <button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
        </p>
      </div>
      <ngb-tabset>
        <ngb-tab title="alert-disappear.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Static self-closing alert that disappears after 20 seconds (refresh the page if it has already disappeared)&lt;/p>
&lt;ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Check out our awesome new features!&lt;/ngb-alert>
&lt;hr/>
&lt;p>Show a self-closing success message that disappears after 5 seconds.&lt;/p>
&lt;ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}&lt;/ngb-alert>
&lt;p>
  &lt;button class="btn btn-primary" (click)="changeSuccessMessage()">Change message&lt;/button>
&lt;/p>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="alert-disappear.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component, OnInit&#125; from '@angular/core';
import &#123;Subject&#125; from 'rxjs';
import &#123;debounceTime&#125; from 'rxjs/operators';

@Component(&#123;
  selector: 'alert-disppear',
  templateUrl: './alert-disppear.html'
&#125;)
export class AlertDisappear implements OnInit &#123;
  private _success = new Subject&lt;string>();

  staticAlertClosed = false;
  successMessage: string;

  ngOnInit(): void &#123;
    setTimeout(() => this.staticAlertClosed = true, 20000);

    this._success.subscribe((message) => this.successMessage = message);
    this._success.pipe(
      debounceTime(5000)
    ).subscribe(() => this.successMessage = null);
  &#125;

  public changeSuccessMessage() &#123;
    this._success.next(`$&#123;new Date()&#125; - Message successfully changed.`);
  &#125;
&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

</div>