<header class="mb-5">
  <h1 class="h2">Getting Started</h1>
</header>

<div class="border border-light p-4">

  <p>The Customer Portal Style Guide contains documentation on design elements, components, and utility classes that can be used for creating web applications. The basic HTML markup, relevant classes, and JavaScript where applicable is detailed in the descriptions of items. This is meant to ease and standardize development to ensure team members can learn or edit a project efficiently.</p>
  <p>The customer portal and style guide uses the following technologies:</p>

  <hr class="my-4" />
  <h4>Node.js</h4>
  <p>Node.js is a JavaScript runtime or another way of saying an open source server environment. At writing the latest version of Node.js is <code>10.12.0</code>. It is recommended to install Node through the Node Version Manager <a href="https://github.com/creationix/nvm" target="_blank">https://github.com/creationix/nvm</a>. This allows you to switch between different versions of node that different projects may require.</p>

  <hr class="my-4" />
  <h4>Node Package Manager</h4>
  <p>Node Package Manager is a package manager for JavaScript that makes downloading and adding various packages to projects simple. To download NPM, visit <a href="https://www.npmjs.com/get-npm" target="_blank">https://www.npmjs.com/get-npm</a>.</p>

  <hr class="my-4" />
  <h4>Angular</h4>
  <p>For this project, Angular version <code>6.1.1</code> is used. The Angular CLI can be downloaded via NPM by running the following command:<br /><code>npm install -g @angular/cli@6.1.1</code></p>
  <p>Angular is setup to use SCSS and include routing. <code>ng new app-name --style=scss --routing</code></p>
  <p>Use <code>ng serve</code> to build the application and start a web server.</p>
  <p>Use <code>ng build --prod</code> to compile the application for production.</p>
  <p>The <a href="https://github.com/angular/angular-cli/wiki" target="_blank">Angular CLI wiki</a> contains extensive documentation on all of the different commands.</p>

  <hr class="my-4" />
  <h4>Bootstrap</h4>
  <p>The full version of Bootstrap 4's SASS files are included with this project. This style guide contains documentation from Bootstrap where applicable, but it is also recommended to view <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank">Bootstrap's documentation</a> if you're unfamiliar with the framework. It is important to note the the JavaScript from Bootstrap is not included as NG Bootstrap takes care of this.</p>
  <p>Bootstrap has been customized to meet the needs of the Customer Portal designs.</p>

  <hr class="my-4" />
  <h4>NG Bootstrap</h4>
  <p>Angular versions of Bootstrap components with no dependencies on third-party JavaScript libraries. This style guide contains documentation from NG Bootstrap where applicable, but their full documentation can also be <a href="https://ng-bootstrap.github.io/#/components/accordion/examples" target="_blank">viewed</a>.</p>

  <hr class="my-4" />
  <h4>NG Bootstrap Form Validation</h4>
  <p>Form validation is handled by this package. Their <a href="https://www.npmjs.com/package/ng-bootstrap-form-validation" target="_blank">documentation</a> contains details and examples.</p>

  <hr class="my-4" />
  <h4>Angular SVG Icon Sprite</h4>
  <p>A package to generate SVG sprites along with a component for using them. Read their full <a href="https://www.npmjs.com/package/ng-svg-icon-sprite" target="_blank">documentation</a>.</p>

  <hr class="my-4" />
  <h4>Angular Page Scroll</h4>
  <p>Animated scrolling functionality for angular written in pure typescript with no additional dependencies. Read their full <a href="https://www.npmjs.com/package/ngx-page-scroll" target="_blank">documentation</a>.</p>

</div>