<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Overview</a></li>
    <li><a pageScroll href="#item-2">Classes</a></li>
    <li><a pageScroll href="#item-3">Responsive</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Float</h1>
    <p>Toggle floats on any element, across any breakpoint, using our responsive float utilities.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Overview</h4>
    <p>These utility classes float an element to the left or right, or disable floating, based on the current viewport size using the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float" target="_blank">CSS <code class="highlighter-rouge">float</code> property</a>. <code class="highlighter-rouge">!important</code> is included to avoid specificity issues. These use the same viewport breakpoints as our grid system. Please be aware float utilities have no affect on flex items.</p>

  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Classes</h4>
    <p>These utility classes float an element to the left or right, or disable floating, based on the current viewport size using the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float">CSS <code class="highlighter-rouge">float</code> property</a>. <code class="highlighter-rouge">!important</code> is included to avoid specificity issues. These use the same viewport breakpoints as our grid system. Please be aware float utilities have no affect on flex items.</p>
    <div class="example">
        <div class="float-left">Float left on all viewport sizes</div><br>
        <div class="float-right">Float right on all viewport sizes</div><br>
        <div class="float-none">Don't float on all viewport sizes</div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="float-left">Float left on all viewport sizes&lt;/div>&lt;br>
&lt;div class="float-right">Float right on all viewport sizes&lt;/div>&lt;br>
&lt;div class="float-none">Don't float on all viewport sizes&lt;/div>
</code></pre>

  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Responsive</h4>
    <p>Responsive variations also exist for each <code class="highlighter-rouge">float</code> value.</p>
    <div class="example">
      <div class="float-sm-left">Float left on viewports sized SM (small) or wider</div><br>
      <div class="float-md-left">Float left on viewports sized MD (medium) or wider</div><br>
      <div class="float-lg-left">Float left on viewports sized LG (large) or wider</div><br>
      <div class="float-xl-left">Float left on viewports sized XL (extra-large) or wider</div><br>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="float-sm-left">Float left on viewports sized SM (small) or wider&lt;/div>&lt;br>
&lt;div class="float-md-left">Float left on viewports sized MD (medium) or wider&lt;/div>&lt;br>
&lt;div class="float-lg-left">Float left on viewports sized LG (large) or wider&lt;/div>&lt;br>
&lt;div class="float-xl-left">Float left on viewports sized XL (extra-large) or wider&lt;/div>&lt;br>
</code></pre>

  <p>Here are all the support classes;</p>
  <ul>
    <li><code class="highlighter-rouge">.float-left</code></li>
    <li><code class="highlighter-rouge">.float-right</code></li>
    <li><code class="highlighter-rouge">.float-none</code></li>
    <li><code class="highlighter-rouge">.float-sm-left</code></li>
    <li><code class="highlighter-rouge">.float-sm-right</code></li>
    <li><code class="highlighter-rouge">.float-sm-none</code></li>
    <li><code class="highlighter-rouge">.float-md-left</code></li>
    <li><code class="highlighter-rouge">.float-md-right</code></li>
    <li><code class="highlighter-rouge">.float-md-none</code></li>
    <li><code class="highlighter-rouge">.float-lg-left</code></li>
    <li><code class="highlighter-rouge">.float-lg-right</code></li>
    <li><code class="highlighter-rouge">.float-lg-none</code></li>
    <li><code class="highlighter-rouge">.float-xl-left</code></li>
    <li><code class="highlighter-rouge">.float-xl-right</code></li>
    <li><code class="highlighter-rouge">.float-xl-none</code></li>
  </ul>

  </div>


</div>