<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Collapse</a></li>
    <li><a pageScroll href="#item-2">Closeable Alert</a></li>
    <li><a pageScroll href="#item-3">Self Closing Alert</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Collapse</h1>
    <p>The collapse component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Collapse</h4>
    <div class="example">
      <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Toggle
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="collapse.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>
  &lt;button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Toggle
  &lt;/button>
&lt;/p>
&lt;div id="collapseExample" [ngbCollapse]="isCollapsed">
  &lt;div class="card">
    &lt;div class="card-body">
      You can collapse this card by clicking Toggle
    &lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="collapse.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component &#125; from '@angular/core';

@Component(&#123;
  selector: 'collapse',
  templateUrl: './collapse.html'
&#125;)
export class NgbdCollapse &#123;
  public isCollapsed = false;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>