<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Default Accordion</a></li>
    <li><a pageScroll href="#item-2">Open One Panel at a Time</a></li>
    <li><a pageScroll href="#item-3">Prevent Toggle</a></li>

  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Accordion</h1>
    <p>The accordion component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Default Accordion</h4>
    <p>Use the <code>activeIds=""</code> attribute to open panels by default.</p>
    <div class="example">
      <ngb-accordion #acc="ngbAccordion" activeIds="basic-1">
        <ngb-panel id="basic-1">
          <ng-template ngbPanelTitle>
            <span class="[ d-flex justify-content-between align-items-center ]" (click)="basic_panel_1 = !basic_panel_1;">
              <span class="mr-2">Panel 1</span>
              <span class="d-flex align-items-center">
                <span class="toggle [ d-flex align-items-center ]">{{ basic_panel_1 == true ? 'Show' : 'Hide' }}</span>
                <svg class="d-block text-tertiary" width="16" height="16" *ngIf="basic_panel_1">
                  <use xlink:href="assets/sprites/sprite.svg#show" />
                </svg>
                <svg class="d-block text-tertiary" width="16" height="16" *ngIf="!basic_panel_1">
                  <use xlink:href="assets/sprites/sprite.svg#hide" />
                </svg>
              </span>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
        <ngb-panel id="basic-2">
          <ng-template ngbPanelTitle>
            <span class="[ d-flex justify-content-between align-items-center ]" (click)="basic_panel_2 = !basic_panel_2;">
              <span class="mr-2">Panel 2</span>
              <span class="d-flex align-items-center">
                <span class="toggle [ d-flex align-items-center ]">{{ basic_panel_2 == true ? 'Show' : 'Hide' }}</span>
                <svg class="d-block text-tertiary" width="16" height="16" *ngIf="basic_panel_2">
                  <use xlink:href="assets/sprites/sprite.svg#show" />
                </svg>
                <svg class="d-block text-tertiary" width="16" height="16" *ngIf="!basic_panel_2">
                  <use xlink:href="assets/sprites/sprite.svg#hide" />
                </svg>
              </span>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
            aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <ngb-tabset>
      <ngb-tab title="accordion-basic.html">
        <ng-template ngbTabContent>
          <div>
<pre><code highlight ngNonBindable>
  &lt;ngb-accordion #acc="ngbAccordion" activeIds="basic-1">
    &lt;ngb-panel id="basic-1">
      &lt;ng-template ngbPanelTitle>
        &lt;span class="[ d-flex justify-content-between align-items-center ]" (click)="basic_panel_1 = !basic_panel_1;">
          &lt;span class="mr-2">Panel 1&lt;/span>
          &lt;span class="d-flex align-items-center">
            &lt;span class="d-block mr-2">{{ basic_panel_1 == true ? 'Show' : 'Hide' }}&lt;/span>
            &lt;svg class="d-block text-tertiary" width="16" height="16" *ngIf="basic_panel_1">
              &lt;use xlink:href="assets/sprites/sprite.svg#show" />
            &lt;/svg>
            &lt;svg class="d-block text-tertiary" width="16" height="16" *ngIf="!basic_panel_1">
              &lt;use xlink:href="assets/sprites/sprite.svg#hide" />
            &lt;/svg>
          &lt;/span>
        &lt;/span>
      &lt;/ng-template>
      &lt;ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      &lt;/ng-template>
    &lt;/ngb-panel>
    &lt;ngb-panel id="basic-2">
      &lt;ng-template ngbPanelTitle>
        &lt;span class="[ d-flex justify-content-between align-items-center ]" (click)="basic_panel_2 = !basic_panel_2;">
          &lt;span class="mr-2">Panel 2&lt;/span>
          &lt;span class="d-flex align-items-center">
            &lt;span class="d-block mr-2">{{ basic_panel_2 == true ? 'Show' : 'Hide' }}&lt;/span>
            &lt;svg class="d-block text-tertiary" width="16" height="16" *ngIf="basic_panel_2">
              &lt;use xlink:href="assets/sprites/sprite.svg#show" />
            &lt;/svg>
            &lt;svg class="d-block text-tertiary" width="16" height="16" *ngIf="!basic_panel_2">
              &lt;use xlink:href="assets/sprites/sprite.svg#hide" />
            &lt;/svg>
          &lt;/span>
        &lt;/span>
      &lt;/ng-template>
      &lt;ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      &lt;/ng-template>
    &lt;/ngb-panel>
  &lt;/ngb-accordion>
  </code></pre>
  </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="accordion-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component, OnInit &#125; from '@angular/core';

@Component(&#123;
  selector: 'accordion-basic',
  templateUrl: './accordion-basic.html'
&#125;)

export class AccordionBasic implements OnInit &#123;
  basic_panel_1 = false;
  basic_panel_2 = true;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>





  <div class="border border-light p-4 mt-5" id="item-2">
      <h4>Open One Panel at a Time</h4>
      <p>To open only one panel at a time, add the <code>[closeOthers]="true"</code> attribute to any <code>&lt;ngb-accordion></code> element.</p>
      <div class="example">
        <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="single-1" (panelChange)="updateToggle($event, acc)">
          <ngb-panel id="single-1">
            <ng-template ngbPanelTitle>
              <span class="[ d-flex justify-content-between align-items-center ]">
                <span class="mr-2">Panel 1</span>
                <span class="toggle [ d-flex align-items-center ]">
                  <span class="d-block mr-2">Hide</span>
                  <svg class="d-block text-tertiary" width="16" height="16">
                      <use xlink:href="assets/sprites/sprite.svg#hide" />
                  </svg>
                </span>
              </span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
              labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel id="single-2">
            <ng-template ngbPanelTitle>
              <span class="[ d-flex justify-content-between align-items-center ]">
                <span class="mr-2">Panel 2</span>
                <span class="toggle [ d-flex align-items-center ]">
                  <span class="d-block mr-2">Show</span>
                  <svg class="d-block text-tertiary" width="16" height="16">
                    <use xlink:href="assets/sprites/sprite.svg#show" />
                  </svg>
                </span>
              </span>
            </ng-template>
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
              labore sustainable VHS.
            </ng-template>
          </ngb-panel>
          <ngb-panel id="single-3">
              <ng-template ngbPanelTitle>
                <span class="[ d-flex justify-content-between align-items-center ]">
                  <span class="mr-2">Panel 3</span>
                  <span class="toggle [ d-flex align-items-center ]">
                    <span class="d-block mr-2">Show</span>
                    <svg class="d-block text-tertiary" width="16" height="16">
                      <use xlink:href="assets/sprites/sprite.svg#show" />
                    </svg>
                  </span>
                </span>
              </ng-template>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
        </ngb-accordion>
      </div>
      <ngb-tabset>
        <ngb-tab title="accordion-single.html">
          <ng-template ngbTabContent>
            <div>
<pre><code highlight ngNonBindable>
&lt;ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="single-1" (panelChange)="updateToggle($event, acc)">
  &lt;ngb-panel id="single-1">
    &lt;ng-template ngbPanelTitle>
      &lt;span class="[ d-flex justify-content-between align-items-center ]">
        &lt;span class="mr-2">Panel 1&lt;/span>
        &lt;span class="toggle [ d-flex align-items-center ]">
          &lt;span class="d-block mr-2">Hide&lt;/span>
          &lt;svg class="d-block text-tertiary" width="16" height="16">
              &lt;use xlink:href="assets/sprites/sprite.svg#hide" />
          &lt;/svg>
        &lt;/span>
      &lt;/span>
    &lt;/ng-template>
    &lt;ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    &lt;/ng-template>
  &lt;/ngb-panel>
  &lt;ngb-panel id="single-2">
    &lt;ng-template ngbPanelTitle>
      &lt;span class="[ d-flex justify-content-between align-items-center ]">
        &lt;span class="mr-2">Panel 2&lt;/span>
        &lt;span class="toggle [ d-flex align-items-center ]">
          &lt;span class="d-block mr-2">Show&lt;/span>
          &lt;svg class="d-block text-tertiary" width="16" height="16">
            &lt;use xlink:href="assets/sprites/sprite.svg#show" />
          &lt;/svg>
        &lt;/span>
      &lt;/span>
    &lt;/ng-template>
    &lt;ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    &lt;/ng-template>
  &lt;/ngb-panel>
  &lt;ngb-panel id="single-3">
      &lt;ng-template ngbPanelTitle>
        &lt;span class="[ d-flex justify-content-between align-items-center ]">
          &lt;span class="mr-2">Panel 3&lt;/span>
          &lt;span class="toggle [ d-flex align-items-center ]">
            &lt;span class="d-block mr-2">Show&lt;/span>
            &lt;svg class="d-block text-tertiary" width="16" height="16">
              &lt;use xlink:href="assets/sprites/sprite.svg#show" />
            &lt;/svg>
          &lt;/span>
        &lt;/span>
      &lt;/ng-template>
      &lt;ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      &lt;/ng-template>
    &lt;/ngb-panel>
&lt;/ngb-accordion>
</code></pre>
    </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="accordion-single.ts">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; NgbPanelChangeEvent &#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'accordion-single',
  templateUrl: './accordion-single.html'
&#125;)
export class AccordionSingle implements OnInit &#123;

  public updateToggle($event: NgbPanelChangeEvent, acc) &#123;

    var
      allPanels = acc.panels._results,
      panel = document.querySelector("#"+$event.panelId+"-header .toggle"),
      toggleText = panel.children[0];

    // update closed panels
    allPanels.forEach(function(pnl)&#123;
      if( pnl.id != $event.panelId ) &#123;
        var item = document.querySelector("#"+pnl.id+"-header .toggle");
        item.children[0].textContent = "Show";
        item.children[1].innerHTML = "&lt;use xlink:href='assets/sprites/sprite.svg#show' />";
      &#125;
    &#125;);

    // update clicked panel
    if( toggleText.textContent == "Hide" ) &#123;
      toggleText.textContent = "Show";
      panel.children[1].innerHTML = "&lt;use xlink:href='assets/sprites/sprite.svg#show' />";
    &#125; else &#123;
      toggleText.textContent = "Hide";
      panel.children[1].innerHTML = "&lt;use xlink:href='assets/sprites/sprite.svg#hide' />";
    &#125;

  &#125;

  ngOnInit() &#123;&#125;

&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>






    <div class="border border-light p-4 mt-5" id="item-3">
      <h4>Prevent Toggle</h4>
      <div class="example">
          <ngb-accordion (panelChange)="preventChange($event)">
            <ngb-panel id="preventchange-1" title="Simple">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="preventchange-2" title="I can't be toggled...">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel id="preventchange-3" title="I can be opened, but not closed...">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
      </div>
      <ngb-tabset>
          <ngb-tab title="accordion-prevent.html">
            <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-accordion (panelChange)="preventChange($event)">
  &lt;ngb-panel id="preventchange-1" title="Simple">
    &lt;ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    &lt;/ng-template>
  &lt;/ngb-panel>
  &lt;ngb-panel id="preventchange-2" title="I can't be toggled...">
    &lt;ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    &lt;/ng-template>
  &lt;/ngb-panel>
  &lt;ngb-panel id="preventchange-3" title="I can be opened, but not closed...">
    &lt;ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    &lt;/ng-template>
  &lt;/ngb-panel>
&lt;/ngb-accordion>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="accordion-prevent.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component &#125; from '@angular/core';
import &#123; NgbPanelChangeEvent &#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'accordion-prevent',
  templateUrl: './accordion-prevent.html',
&#125;)
export class AccordionPrevent &#123;
  public beforeChange($event: NgbPanelChangeEvent) &#123;

    if ($event.panelId === 'preventchange-2') &#123;
      $event.preventDefault();
    &#125;

    if ($event.panelId === 'preventchange-3' && $event.nextState === false) &#123;
      $event.preventDefault();
    &#125;
  &#125;
&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>


</div>