<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Pagination</a></li>
    <li><a pageScroll href="#item-2">Advanced Pagination</a></li>
    <li><a pageScroll href="#item-3">Pagination Size</a></li>
    <li><a pageScroll href="#item-4">Pagination Alignment</a></li>
    <li><a pageScroll href="#item-5">Disabled Pagination</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Pagination</h1>
    <p>The pagination component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Pagination</h4>
    <div class="example">
        <p>Default pagination:</p>
        <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

        <p>No direction links:</p>
        <ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination>

        <p>With boundary links:</p>
        <ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

        <hr>

        <pre>Current page: {{page}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="pagination-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Default pagination:&lt;/p>
&lt;ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination">&lt;/ngb-pagination>

&lt;p>No direction links:&lt;/p>
&lt;ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false">&lt;/ngb-pagination>

&lt;p>With boundary links:&lt;/p>
&lt;ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true">&lt;/ngb-pagination>

&lt;hr>

&lt;pre>Current page: &#123;&#123;page&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="pagination-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'pagination-basic',
  templateUrl: './pagination-basic.html'
&#125;)
export class PaginationBasic &#123;
  page = 4;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Advanced Pagination</h4>
    <div class="example">
        <p>Restricted size, no rotation:</p>
        <ngb-pagination [collectionSize]="120" [(page)]="pageAdv" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>

        <p>Restricted size with rotation:</p>
        <ngb-pagination [collectionSize]="120" [(page)]="pageAdv" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

        <p>Restricted size with rotation and no ellipses:</p>
        <ngb-pagination [collectionSize]="120" [(page)]="pageAdv" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

        <hr>

        <pre>Current page: {{pageAdv}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="pagination-advanced.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Restricted size, no rotation:&lt;/p>
&lt;ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [boundaryLinks]="true">&lt;/ngb-pagination>

&lt;p>Restricted size with rotation:&lt;/p>
&lt;ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">&lt;/ngb-pagination>

&lt;p>Restricted size with rotation and no ellipses:&lt;/p>
&lt;ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">&lt;/ngb-pagination>

&lt;hr>

&lt;pre>Current page: &#123;&#123;page&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="pagination-advanced.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'pagination-advanced',
  templateUrl: './pagination-advanced.html'
&#125;)
export class PaginationAdvanced &#123;
  page = 1;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Pagination Size</h4>
    <div class="example">
      <ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="lg"></ngb-pagination>
      <ngb-pagination [collectionSize]="50" [(page)]="currentPage"></ngb-pagination>
      <ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm"></ngb-pagination>
    </div>
    <ngb-tabset>
      <ngb-tab title="pagination-size.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="lg">&lt;/ngb-pagination>
&lt;ngb-pagination [collectionSize]="50" [(page)]="currentPage">&lt;/ngb-pagination>
&lt;ngb-pagination [collectionSize]="50" [(page)]="currentPage" size="sm">&lt;/ngb-pagination>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="pagination-size.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'pagination-size',
  templateUrl: './pagination-size.html'
&#125;)
export class PaginationSize &#123;
  currentPage = 3;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Pagination Alignment</h4>
    <p>Change the alignment of pagination components with flexbox utilities.</p>
    <div class="example">
      <ngb-pagination class="d-flex justify-content-start" [collectionSize]="70" [(page)]="page"></ngb-pagination>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page"></ngb-pagination>
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="70" [(page)]="page"></ngb-pagination>
    </div>
    <ngb-tabset>
      <ngb-tab title="pagination-justify.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-pagination class="d-flex justify-content-start" [collectionSize]="70" [(page)]="page">&lt;/ngb-pagination>
&lt;ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" [(page)]="page">&lt;/ngb-pagination>
&lt;ngb-pagination class="d-flex justify-content-end" [collectionSize]="70" [(page)]="page">&lt;/ngb-pagination>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="pagination-justify.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'pagination-justify',
  templateUrl: './pagination-justify.html'
&#125;)
export class PaginationJustify &#123;
  page = 4;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Disabled Pagination</h4>
    <p>Pagination control can be disabled.</p>
    <div class="example">
      <ngb-pagination [collectionSize]="70" [(page)]="page" [disabled]='isDisabled'></ngb-pagination>
      <hr>
      <button class="btn btn-sm btn-outline-primary" (click)="toggleDisabled()">
        Toggle disabled
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="pagination-disabled.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-pagination [collectionSize]="70" [(page)]="page" [disabled]='isDisabled'>&lt;/ngb-pagination>
&lt;hr>
&lt;button class="btn btn-sm btn-outline-primary" (click)="toggleDisabled()">
  Toggle disabled
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="pagination-disabled.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbPaginationConfig&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'pagination-disabled',
  templateUrl: './pagination-disabled.html'
&#125;)
export class PaginationDisabled &#123;
  page = 3;
  isDisabled = true;

  toggleDisabled() &#123;
    this.isDisabled = !this.isDisabled;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>