<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Tabset</a></li>
    <li><a pageScroll href="#item-2">Pills</a></li>
    <li><a pageScroll href="#item-3">Select Active Tab</a></li>
    <li><a pageScroll href="#item-4">Prevent Tab Change</a></li>
    <li><a pageScroll href="#item-5">Tab Justification</a></li>
    <li><a pageScroll href="#item-6">Tab Orientation</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Tabset</h1>
    <p>The tabset component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Tabset</h4>
    <div class="example">
      <ngb-tabset>
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
            <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Disabled" [disabled]="true">
          <ng-template ngbTabContent>
            <p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset>
  &lt;ngb-tab title="Simple">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab>
    &lt;ng-template ngbTabTitle>&lt;b>Fancy&lt;/b> title&lt;/ng-template>
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab title="Disabled" [disabled]="true">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
&lt;/ngb-tabset>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tabset-basic',
  templateUrl: './tabset-basic.html'
&#125;)
export class TabsetBasic &#123; &#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Pills</h4>
    <div class="example">
      <ngb-tabset type="pills">
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
            <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Disabled" [disabled]="true">
          <ng-template ngbTabContent>
            <p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-pills.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset type="pills">
  &lt;ngb-tab title="Simple">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab>
    &lt;ng-template ngbTabTitle>&lt;b>Fancy&lt;/b> title&lt;/ng-template>
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab title="Disabled" [disabled]="true">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
&lt;/ngb-tabset>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-pills.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component} from '@angular/core';

@Component(&#123;
  selector: 'tabset-pills',
  templateUrl: './tabset-pills.html'
})
export class TabsetPills &#123; }
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Select Active Tab</h4>
    <div class="example">
      <ngb-tabset #t="ngbTabset">
        <ngb-tab id="tab-selectbyid1" title="Simple">
          <ng-template ngbTabContent>
            <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2">
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <p>
        <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Selected tab with "tab-selectbyid2" id</button>
      </p>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-select.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset #t="ngbTabset">
  &lt;ngb-tab id="tab-selectbyid1" title="Simple">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab id="tab-selectbyid2">
    &lt;ng-template ngbTabTitle>&lt;b>Fancy&lt;/b> title&lt;/ng-template>
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
&lt;/ngb-tabset>

&lt;p>
  &lt;button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Selected tab with "tab-selectbyid2" id&lt;/button>
&lt;/p>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-select.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tabset-select',
  templateUrl: './tabset-select.html'
&#125;)
export class TabsetSelect &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Prevent Tab Change</h4>
    <div class="example">
      <ngb-tabset (tabChange)="beforeChange($event)">
        <ngb-tab id="tab-preventchange1" title="Simple">
            <ng-template ngbTabContent>
              <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange2" title="I can't be selected...">
            <ng-template ngbTabContent>
              <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="But I can!">
            <ng-template ngbTabContent>
              <p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-preventchange.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset (tabChange)="beforeChange($event)">
  &lt;ngb-tab id="tab-preventchange1" title="Simple">
      &lt;ng-template ngbTabContent>
        &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
      &lt;/ng-template>
    &lt;/ngb-tab>
    &lt;ngb-tab id="tab-preventchange2" title="I can't be selected...">
      &lt;ng-template ngbTabContent>
        &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
      &lt;/ng-template>
    &lt;/ngb-tab>
    &lt;ngb-tab title="But I can!">
      &lt;ng-template ngbTabContent>
        &lt;p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.&lt;/p>
      &lt;/ng-template>
    &lt;/ngb-tab>
&lt;/ngb-tabset>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-preventchange.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbTabChangeEvent&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'tabset-preventchange',
  templateUrl: './tabset-preventchange.html'
&#125;)
export class TabsetPreventchange &#123;
  public beforeChange($event: NgbTabChangeEvent) &#123;
    if ($event.nextId === 'tab-preventchange2') &#123;
      $event.preventDefault();
    &#125;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Tab Justification</h4>
    <div class="example">
      <ngb-tabset [justify]="currentJustify">
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
            <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="A very long nav title">
          <ng-template ngbTabContent>
            <p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify">
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="start">Start
        </label>
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="center">Center
        </label>
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="end">End
        </label>
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="fill">Fill
        </label>
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="justified">Justified
        </label>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-justify.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset [justify]="currentJustify">
  &lt;ngb-tab title="Simple">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab>
    &lt;ng-template ngbTabTitle>&lt;b>Fancy&lt;/b> title&lt;/ng-template>
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab title="A very long nav title">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
&lt;/ngb-tabset>

&lt;div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify">
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="start">Start
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="center">Center
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="end">End
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="fill">Fill
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="justified">Justified
  &lt;/label>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-justify.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tabset-justify',
  templateUrl: './tabset-justify.html'
&#125;)
export class TabsetJustify &#123;
  currentJustify = 'start';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>





  <div class="border border-light p-4 mt-5" id="item-6">
    <h4>Tab Orientation</h4>
    <div class="example">
      <ngb-tabset type="pills" [orientation]="currentOrientation">
        <ngb-tab title="Simple">
          <ng-template ngbTabContent>
            <p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
          <ng-template ngbTabContent>
            <p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="A very long nav title">
          <ng-template ngbTabContent>
            <p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

      <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="horizontal">Horizontal
        </label>
        <label ngbButtonLabel class="btn-outline-primary btn-sm">
          <input ngbButton type="radio" value="vertical">Vertical
        </label>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="tabset-orientation.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-tabset type="pills" [orientation]="currentOrientation">
  &lt;ngb-tab title="Simple">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab>
    &lt;ng-template ngbTabTitle>&lt;b>Fancy&lt;/b> title&lt;/ng-template>
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
  &lt;ngb-tab title="A very long nav title">
    &lt;ng-template ngbTabContent>
      &lt;p class="mt-3">Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.&lt;/p>
    &lt;/ng-template>
  &lt;/ngb-tab>
&lt;/ngb-tabset>

&lt;div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="horizontal">Horizontal
  &lt;/label>
  &lt;label ngbButtonLabel class="btn-outline-primary btn-sm">
    &lt;input ngbButton type="radio" value="vertical">Vertical
  &lt;/label>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tabset-orientation.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tabset-orientation',
  templateUrl: './tabset-orientation.html'
&#125;)
export class TabsetOrientation &#123;
  currentOrientation = 'horizontal';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>