<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Rating</a></li>
    <li><a pageScroll href="#item-2">Events & Readonly Ratings</a></li>
    <li><a pageScroll href="#item-3">Custom Star Template</a></li>
    <li><a pageScroll href="#item-4">Custom Decimal Rating</a></li>
    <li><a pageScroll href="#item-5">Form Integration</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Rating</h1>
    <p>The rating component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Rating</h4>
    <div class="example">
      <ngb-rating [(rate)]="basicRate"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{basicRate}}</b></pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="rating-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-rating [(rate)]="currentRate">&lt;/ngb-rating>
&lt;hr>
&lt;pre>Rate: &lt;b>{{currentRate}}&lt;/b>&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="rating-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'rating-basic',
  templateUrl: './rating-basic.html'
&#125;)
export class RatingBasic &#123;
  currentRate = 8;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Events & Readonly Ratings</h4>
    <div class="example">
      <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
      <hr>
      <pre>
      Selected: <b>{{selected}}</b>
      Hovered: <b>{{hovered}}</b>
      </pre>
      <button class="btn btn-sm btn-outline-{{readonly ? 'danger' : 'success'}}" (click)="readonly = !readonly">
        {{ readonly ? "readonly" : "editable"}}
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="rating-events.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly">&lt;/ngb-rating>
&lt;hr>
&lt;pre>
Selected: &lt;b>&#123;&#123;selected&#125;&#125;&lt;/b>
Hovered: &lt;b>&#123;&#123;hovered&#125;&#125;&lt;/b>
&lt;/pre>
&lt;button class="btn btn-sm btn-outline-&#123;&#123;readonly ? 'danger' : 'success'&#125;&#125;" (click)="readonly = !readonly">
  &#123;&#123; readonly ? "readonly" : "editable"&#125;&#125;
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="rating-events.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'rating-events',
  templateUrl: './rating-events.html'
&#125;)
export class RatingEvents &#123;
  selected = 0;
  hovered = 0;
  readonly = false;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Custom Star Template</h4>
    <div class="example">
      <p>Custom rating template provided as child element</p>

      <ngb-rating [(rate)]="currentRate">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate}}</b></pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="rating-template.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Custom rating template provided as child element&lt;/p>

&lt;ngb-rating [(rate)]="currentRate">
  &lt;ng-template let-fill="fill" let-index="index">
    &lt;span class="star" [class.filled]="fill === 100" [class.bad]="index &lt; 3">&#9733;&lt;/span>
  &lt;/ng-template>
&lt;/ngb-rating>
&lt;hr>
&lt;pre>Rate: &lt;b>&#123;&#123;currentRate&#125;&#125;&lt;/b>&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="rating-template.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'rating-template',
  templateUrl: './rating-template.html',
  styles: [`
    .star &#123;
      font-size: 1.5rem;
      color: #b0c4de;
    &#125;
    .filled &#123;
      color: #1e90ff;
    &#125;
    .bad &#123;
      color: #deb0b0;
    &#125;
    .filled.bad &#123;
      color: #ff1e1e;
    &#125;
  `]
&#125;)
export class RatingTemplate &#123;
  currentRate = 6;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Custom Decimal Rating</h4>
    <div class="example">
      <p>Custom rating template provided via a variable. Shows fine-grained rating display</p>

      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="decimalRate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

      <hr>
      <pre>Rate: <b>{{decimalRate}}</b></pre>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="decimalRate = 1.35">1.35</button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="decimalRate = 4.72">4.72</button>
    </div>
    <ngb-tabset>
      <ngb-tab title="rating-decimal.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Custom rating template provided via a variable. Shows fine-grained rating display&lt;/p>

&lt;ng-template #t let-fill="fill">
  &lt;span class="star" [class.full]="fill === 100">
    &lt;span class="half" [style.width.%]="fill">&hearts;&lt;/span>&hearts;
  &lt;/span>
&lt;/ng-template>

&lt;ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" max="5">&lt;/ngb-rating>

&lt;hr>
&lt;pre>Rate: &lt;b>{{currentRate}}&lt;/b>&lt;/pre>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 1.35">1.35&lt;/button>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="currentRate = 4.72">4.72&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="rating-decimal.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'rating-decimal',
  templateUrl: './rating-decimal.html',
  styles: [`
    .star &#123;
      position: relative;
      display: inline-block;
      font-size: 3rem;
      color: #d3d3d3;
    &#125;
    .full &#123;
      color: red;
    &#125;
    .half &#123;
      position: absolute;
      display: inline-block;
      overflow: hidden;
      color: red;
    &#125;
  `]
&#125;)
export class RatingDecimal &#123;
  currentRate = 3.14;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Form Integration</h4>
    <div class="example">
      <p>NgModel and reactive forms can be used without the 'rate' binding</p>

      <div class="form-group">
        <ngb-rating [formControl]="ctrl"></ngb-rating>
        <div class="form-text small">
          <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
          <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
        </div>
      </div>

      <hr>
      <pre>Model: <b>{{ ctrl.value }}</b></pre>
      <button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
        {{ ctrl.disabled ? "control disabled" : " control enabled" }}
      </button>
      <button class="btn btn-sm btn-outline-primary mr-2" (click)="ctrl.setValue(null)">Clear</button>
    </div>
    <ngb-tabset>
      <ngb-tab title="rating-form.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>NgModel and reactive forms can be used without the 'rate' binding&lt;/p>

&lt;div class="form-group">
  &lt;ngb-rating [formControl]="ctrl">&lt;/ngb-rating>
  &lt;div class="form-text small">
    &lt;div *ngIf="ctrl.valid" class="text-success">Thanks!&lt;/div>
    &lt;div *ngIf="ctrl.invalid" class="text-danger">Please rate us&lt;/div>
  &lt;/div>
&lt;/div>

&lt;hr>
&lt;pre>Model: &lt;b>&#123;&#123; ctrl.value &#125;&#125;&lt;/b>&lt;/pre>
&lt;button class="btn btn-sm btn-outline-&#123;&#123; ctrl.disabled ? 'danger' : 'success'&#125;&#125; mr-2" (click)="toggle()">
  &#123;&#123; ctrl.disabled ? "control disabled" : " control enabled" &#125;&#125;
&lt;/button>
&lt;button class="btn btn-sm btn-outline-primary mr-2" (click)="ctrl.setValue(null)">Clear&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="rating-form.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;FormControl, Validators&#125; from '@angular/forms';

@Component(&#123;
  selector: 'rating-form',
  templateUrl: './rating-form.html'
&#125;)
export class RatingForm &#123;
  ctrl = new FormControl(null, Validators.required);

  toggle() &#123;
    if (this.ctrl.disabled) &#123;
      this.ctrl.enable();
    &#125; else &#123;
      this.ctrl.disable();
    &#125;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>