<header class="mb-5">
  <h1 class="h2">Colour</h1>
</header>

<div class="border border-light p-4">

  <h4 class="mb-4">Primary Colours</h4>
  <div class="row">
    <div class="col-4">
      <div class="colour bg-primary [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Primary</strong>
        <span>#0097A9</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$primary</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-primary</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-primary</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-secondary [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Secondary</strong>
        <span>#F68D2E</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$secondary</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-secondary</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-secondary</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-tertiary [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Tertiary</strong>
        <span>#84754E</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$tertiary</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-tertiary</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-tertiary</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-light [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Light</strong>
        <span>#E6EDEF</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$light</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-light</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-light</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-dark [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Dark</strong>
        <span>#474E55</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$dark</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-dark</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-dark</code></dd>
      </dl>
    </div>
  </div>
</div>

<div class="border border-light p-4 mt-5">
  <h4 class="mb-4">Secondary Colours</h4>
  <div class="row">
    <div class="col-4">
      <div class="colour bg-success [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Success</strong>
        <span>#00747D</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$success</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-success</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-success</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-warning [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Warning</strong>
        <span>#DAAA00</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$warning</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-warning</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-warning</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-danger [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Danger</strong>
        <span>#FF5239</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$danger</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-danger</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-danger</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-medium [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Medium</strong>
        <span>#CCCCCC</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$medium</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-medium</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-medium</code></dd>
      </dl>
    </div>
    <div class="col-4">
      <div class="colour bg-offwhite [ border border-light ] mb-3"></div>
      <p class="d-flex justify-content-between">
        <strong>Offwhite</strong>
        <span>#F3F4F5</span>
      </p>
      <dl class="[ d-flex flex-wrap justify-content-between ] small mb-4">
        <dt class="w-50 font-weight-normal">Variable</dt><dd class="w-50 text-right"><code>$offwhite</code></dd>
        <dt class="w-50 font-weight-normal">Background</dt><dd class="w-50 text-right"><code>.bg-offwhite</code></dd>
        <dt class="w-50 font-weight-normal">Text</dt><dd class="w-50 text-right"><code>.text-offwhite</code></dd>
      </dl>
    </div>
  </div>

</div>