<div class="toc">
    <ol>
      <li><a pageScroll href="#item-1">Basic Tables</a></li>
      <li><a pageScroll href="#item-2">Table Head Options</a></li>
      <li><a pageScroll href="#item-3">Striped Tables</a></li>
      <li><a pageScroll href="#item-4">Responsive Tables</a></li>
      <li><a pageScroll href="#item-5">Hoverable Rows</a></li>
      <li><a pageScroll href="#item-6">Linked Rows</a></li>
      <li><a pageScroll href="#item-7">Colouring</a></li>
    </ol>
  </div>

<div class="content-wrap">


<header class="mb-5">
  <h1 class="h2">Tables</h1>
</header>

<div class="border border-light p-4 mt-5" id="item-1">

  <h4 class="mb-4">Basic Tables</h4>
  <p>Due to the widespread use of tables across third-party widgets like calendars and date pickers, tables are designed to be <strong>opt-in</strong>. Just add the base class <code>.table</code> to any <code>&lt;table&gt;</code>, then extend with custom styles or our various included modifier classes.</p>
  <div class="example">
    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
<pre><code highlight>
&lt;table class="table">
  &lt;thead>
    &lt;tr>
      &lt;th scope="col">#&lt;/th>
      &lt;th scope="col">First&lt;/th>
      &lt;th scope="col">Last&lt;/th>
      &lt;th scope="col">Handle&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;th scope="row">1&lt;/th>
      &lt;td>Mark&lt;/td>
      &lt;td>Otto&lt;/td>
      &lt;td>@mdo&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;th scope="row">2&lt;/th>
      &lt;td>Jacob&lt;/td>
      &lt;td>Thornton&lt;/td>
      &lt;td>@fat&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;th scope="row">3&lt;/th>
      &lt;td>Larry&lt;/td>
      &lt;td>the Bird&lt;/td>
      &lt;td>@twitter&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
</code></pre>
</div>



<div class="border border-light p-4 mt-5" id="item-2">

    <h4 class="mb-4">Table Head Options</h4>
    <p>Make use of the <code>.thead-secondary</code> modifier to make <code>&lt;thead>s</code> display yellow.</p>

    <div class="example">
      <table class="table mb-0">
        <thead class="thead-secondary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
    </div>
<pre><code highlight>
&lt;table class="table">
  &lt;thead class="thead-secondary">
    ...
  &lt;/thead>
  &lt;tbody>
    ...
  &lt;/tbody>
&lt;/table>
</code></pre>
</div>


<div class="border border-light p-4 mt-5" id="item-3">

    <h4 class="mb-4">Striped Tables</h4>
    <p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>

    <div class="example">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

<pre><code highlight>
&lt;table class="table table-striped">
  ...
&lt;/table>
</code></pre>

</div>



<div class="border border-light p-4 mt-5" id="item-4">

    <h4 class="mb-4">Responsive Tables</h4>
    <p>Responsive tables stack on mobile device for more usable tables. Use the <code>.table-responsive</code> class on any table to make it responsive and add a data attribute to <code>&lt;td></code> elements that relate to the column heading.</p>

    <div class="example">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Column 1</th>
              <th scope="col">Column 2</th>
              <th scope="col">Column 3</th>
              <th scope="col">Column 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td data-th="Column 1">Cell</td>
              <td data-th="Column 2">Cell</td>
              <td data-th="Column 3">Cell</td>
              <td data-th="Column 4">Cell</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td data-th="Column 1">Cell</td>
              <td data-th="Column 2">Cell</td>
              <td data-th="Column 3">Cell</td>
              <td data-th="Column 4">Cell</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td data-th="Column 1">Cell</td>
              <td data-th="Column 2">Cell</td>
              <td data-th="Column 3">Cell</td>
              <td data-th="Column 4">Cell</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<pre><code highlight>
&lt;div class="table-responsive">
  &lt;table class="table">
    &lt;thead>
      &lt;tr>
        &lt;th scope="col">#&lt;/th>
        &lt;th scope="col">Column 1&lt;/th>
        &lt;th scope="col">Column 2&lt;/th>
        &lt;th scope="col">Column 3&lt;/th>
        &lt;th scope="col">Column 4&lt;/th>
      &lt;/tr>
    &lt;/thead>
    &lt;tbody>
      &lt;tr>
        &lt;th scope="row">1&lt;/th>
        &lt;td data-th="Column 1">Cell&lt;/td>
        &lt;td data-th="Column 2">Cell&lt;/td>
        &lt;td data-th="Column 3">Cell&lt;/td>
        &lt;td data-th="Column 4">Cell&lt;/td>
      &lt;/tr>
    &lt;/tbody>
  &lt;/table>
&lt;/div>
</code></pre>

    <hr class="my-4" />
    <h5>Responsive Linked Tables</h5>
    <p>When combining <a pageScroll href="#item-6">linked tables</a> with responsive tables, place the data attribute on the <code>&lt;a></code> tag instead. <a pageScroll href="#item-6">See example</a> below.</p>

</div>





<div class="border border-light p-4 mt-5" id="item-5">

    <h4 class="mb-4">Hoverable Rows</h4>

    <div class="example">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

<pre><code highlight>
&lt;table class="table table-hover">
  ...
&lt;/table>
</code></pre>

</div>


<div class="border border-light p-4 mt-5" id="item-6">

  <h4 class="mb-4">Linked Rows</h4>

  <div class="example">
    <table class="table table-linked table-responsive mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">1</a></th>
          <td><a href="#" data-th="First">Mark</a></td>
          <td><a href="#" data-th="Last">Otto</a></td>
          <td><a href="#" data-th="Handle">@mdo</a></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">2</a></th>
          <td><a href="#" data-th="First">Jacob</a></td>
          <td><a href="#" data-th="Last">Thornton</a></td>
          <td><a href="#" data-th="Handle">@fat</a></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">3</a></th>
          <td><a href="#" data-th="First">Larry</a></td>
          <td><a href="#" data-th="Last">Bird</a></td>
          <td><a href="#" data-th="Handle">@twitter</a></td>
        </tr>
      </tbody>
    </table>
  </div>

<pre><code highlight>
&lt;table class="table table-linked table-responsive">
  &lt;thead>
    &lt;tr>
      &lt;th scope="col">#&lt;/th>
      &lt;th scope="col">First&lt;/th>
      &lt;th scope="col">Last&lt;/th>
      &lt;th scope="col">Handle&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;th scope="row">&lt;a href="#">1&lt;/a>&lt;/th>
      &lt;td>&lt;a href="#" data-th="First">Mark&lt;/a>&lt;/td>
      &lt;td>&lt;a href="#" data-th="Last">Otto&lt;/a>&lt;/td>
      &lt;td>&lt;a href="#" data-th="Handle">@mdo&lt;/a>&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table>
</code></pre>

  <hr class="my-4" />
  <h5>Linked Tables with Caret</h5>
  <div class="example">
    <table class="table table-linked table-responsive mb-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">1</a></th>
          <td><a href="#" data-th="First">Mark</a></td>
          <td><a href="#" data-th="Last">Otto</a></td>
          <td><a href="#" data-th="Handle">@mdo</a></td>
          <td><a href="#" data-th="">
            <span class="d-lg-none mr-2 text-primary">View</span>
            <svg-icon-sprite
            [src]="'assets/sprites/sprite.svg#caret-right'"
            [width]="'5px'"
            [height]="'7px'"
            ></svg-icon-sprite>
          </a></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">2</a></th>
          <td><a href="#" data-th="First">Jacob</a></td>
          <td><a href="#" data-th="Last">Thornton</a></td>
          <td><a href="#" data-th="Handle">@fat</a></td>
          <td><a href="#" data-th="">
              <span class="d-lg-none mr-2 text-primary">View</span>
              <svg-icon-sprite
              [src]="'assets/sprites/sprite.svg#caret-right'"
              [width]="'5px'"
              [height]="'7px'"
              ></svg-icon-sprite>
            </a></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">3</a></th>
          <td><a href="#" data-th="First">Larry</a></td>
          <td><a href="#" data-th="Last">Bird</a></td>
          <td><a href="#" data-th="Handle">@twitter</a></td>
          <td><a href="#" data-th="">
              <span class="d-lg-none mr-2 text-primary">View</span>
              <svg-icon-sprite
              [src]="'assets/sprites/sprite.svg#caret-right'"
              [width]="'5px'"
              [height]="'7px'"
              ></svg-icon-sprite>
            </a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<div class="border border-light p-4 mt-5" id="item-7">

    <h4 class="mb-4">Colouring</h4>
    <div class="example">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Class</th>
            <th scope="col">Heading</th>
            <th scope="col">Heading</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">Active</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr>
            <th scope="row">Default</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">Primary</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-success">
            <th scope="row">Success</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">Danger</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">Warning</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-info">
            <th scope="row">Info</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-light">
            <th scope="row">Light</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">Dark</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr>
        </tbody>
      </table>
    </div>

<pre><code highlight>
&lt;!-- On rows -->
&lt;tr class="table-active">...&lt;/tr>

&lt;tr class="table-primary">...&lt;/tr>
&lt;tr class="table-secondary">...&lt;/tr>
&lt;tr class="table-success">...&lt;/tr>
&lt;tr class="table-danger">...&lt;/tr>
&lt;tr class="table-warning">...&lt;/tr>
&lt;tr class="table-info">...&lt;/tr>
&lt;tr class="table-light">...&lt;/tr>
&lt;tr class="table-dark">...&lt;/tr>

&lt;!-- On cells (`td` or `th`) -->
&lt;tr>
  &lt;td class="table-active">...&lt;/td>

  &lt;td class="table-primary">...&lt;/td>
  &lt;td class="table-secondary">...&lt;/td>
  &lt;td class="table-success">...&lt;/td>
  &lt;td class="table-danger">...&lt;/td>
  &lt;td class="table-warning">...&lt;/td>
  &lt;td class="table-info">...&lt;/td>
  &lt;td class="table-light">...&lt;/td>
  &lt;td class="table-dark">...&lt;/td>
&lt;/tr>
</code></pre>

</div>


</div>