<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Enable Flexbox</a></li>
    <li><a pageScroll href="#item-2">Direction</a></li>
    <li><a pageScroll href="#item-3">Justify Content</a></li>
    <li><a pageScroll href="#item-4">Align Items</a></li>
    <li><a pageScroll href="#item-5">Align Self</a></li>
    <li><a pageScroll href="#item-6">Fill</a></li>
    <li><a pageScroll href="#item-7">Grow & Shrink</a></li>
    <li><a pageScroll href="#item-8">Auto Margins</a></li>
    <li><a pageScroll href="#item-9">Wrap</a></li>
    <li><a pageScroll href="#item-10">Order</a></li>
    <li><a pageScroll href="#item-11">Align Content</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Flexbox</h1>
    <p>Quickly manage the layout, alignment, and sizing of grid columns, navigation, components, and more with a full suite of responsive flexbox utilities. For more complex implementations, custom CSS may be necessary.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Enable Flexbox</h4>
    <p>Apply <code>display</code> utilities to create a flexbox container and transform <strong>direct children elements</strong> into flex items. Flex containers and items are able to be modified further with additional flex properties.</p>
    <div class="example example-highlight">
        <div class="d-flex p-2">I'm a flexbox container!</div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex p-2">I'm a flexbox container!&lt;/div>
</code></pre>
    <div class="example example-highlight">
      <div class="d-inline-flex p-2">I'm an inline flexbox container!</div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-inline-flex p-2">I'm an inline flexbox container!&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code>.d-flex</code> and <code>.d-inline-flex</code>.</p>
  <ul>
    <li><code>.d-flex</code></li>
    <li><code>.d-inline-flex</code></li>
    <li><code>.d-sm-flex</code></li>
    <li><code>.d-sm-inline-flex</code></li>
    <li><code>.d-md-flex</code></li>
    <li><code>.d-md-inline-flex</code></li>
    <li><code>.d-lg-flex</code></li>
    <li><code>.d-lg-inline-flex</code></li>
    <li><code>.d-xl-flex</code></li>
    <li><code>.d-xl-inline-flex</code></li>
  </ul>

  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Direction</h4>
    <p>Set the direction of flex items in a flex container with direction utilities. In most cases you can omit the horizontal class here as the browser default is <code>row</code>. However, you may encounter situations where you needed to explicitly set this value (like responsive layouts).</p>
    <p>Use <code>.flex-row</code> to set a horizontal direction (the browser default), or <code>.flex-row-reverse</code> to start the horizontal direction from the opposite side.</p>
    <div class="example example-highlight">
      <div class="d-flex flex-row mb-3">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-row mb-3">
  &lt;div class="p-2">Flex item 1&lt;/div>
  &lt;div class="p-2">Flex item 2&lt;/div>
  &lt;div class="p-2">Flex item 3&lt;/div>
&lt;/div>
&lt;div class="d-flex flex-row-reverse">
  &lt;div class="p-2">Flex item 1&lt;/div>
  &lt;div class="p-2">Flex item 2&lt;/div>
  &lt;div class="p-2">Flex item 3&lt;/div>
&lt;/div>
</code></pre>

    <p>Use <code>.flex-column</code> to set a vertical direction, or <code>.flex-column-reverse</code>  to start the vertical direction from the opposite side.</p>

    <div class="example example-highlight">
      <div class="d-flex flex-column mb-3">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>
      <div class="d-flex flex-column-reverse">
        <div class="p-2">Flex item 1</div>
        <div class="p-2">Flex item 2</div>
        <div class="p-2">Flex item 3</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-column mb-3">
  &lt;div class="p-2">Flex item 1&lt;/div>
  &lt;div class="p-2">Flex item 2&lt;/div>
  &lt;div class="p-2">Flex item 3&lt;/div>
&lt;/div>
&lt;div class="d-flex flex-column-reverse">
  &lt;div class="p-2">Flex item 1&lt;/div>
  &lt;div class="p-2">Flex item 2&lt;/div>
  &lt;div class="p-2">Flex item 3&lt;/div>
&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code>flex-direction</code>.</p>
  <ul>
    <li><code>.flex-row</code></li>
    <li><code>.flex-row-reverse</code></li>
    <li><code>.flex-column</code></li>
    <li><code>.flex-column-reverse</code></li>
    <li><code>.flex-sm-row</code></li>
    <li><code>.flex-sm-row-reverse</code></li>
    <li><code>.flex-sm-column</code></li>
    <li><code>.flex-sm-column-reverse</code></li>
    <li><code>.flex-md-row</code></li>
    <li><code>.flex-md-row-reverse</code></li>
    <li><code>.flex-md-column</code></li>
    <li><code>.flex-md-column-reverse</code></li>
    <li><code>.flex-lg-row</code></li>
    <li><code>.flex-lg-row-reverse</code></li>
    <li><code>.flex-lg-column</code></li>
    <li><code>.flex-lg-column-reverse</code></li>
    <li><code>.flex-xl-row</code></li>
    <li><code>.flex-xl-row-reverse</code></li>
    <li><code>.flex-xl-column</code></li>
    <li><code>.flex-xl-column-reverse</code></li>
  </ul>

  </div>




  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Justify Content</h4>
    <p>Use <code>justify-content</code> utilities on flexbox containers to change the alignment of flex items on the main axis (the x-axis to start, y-axis if <code>flex-direction: column</code>). Choose from <code>start</code> (browser default), <code>end</code>, <code>center</code>, <code>between</code>, or <code>around</code>.</p>
    <div class="example example-highlight">
      <div class="d-flex justify-content-start bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex justify-content-end bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex justify-content-center bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex justify-content-between bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex justify-content-around bd-highlight">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex justify-content-start">...&lt;/div>
&lt;div class="d-flex justify-content-end">...&lt;/div>
&lt;div class="d-flex justify-content-center">...&lt;/div>
&lt;div class="d-flex justify-content-between">...&lt;/div>
&lt;div class="d-flex justify-content-around">...&lt;/div>
</code></pre>
  <p>Responsive variations also exist for <code>justify-content</code>.</p>
  <ul>
    <li><code>.justify-content-start</code></li>
    <li><code>.justify-content-end</code></li>
    <li><code>.justify-content-center</code></li>
    <li><code>.justify-content-between</code></li>
    <li><code>.justify-content-around</code></li>
    <li><code>.justify-content-sm-start</code></li>
    <li><code>.justify-content-sm-end</code></li>
    <li><code>.justify-content-sm-center</code></li>
    <li><code>.justify-content-sm-between</code></li>
    <li><code>.justify-content-sm-around</code></li>
    <li><code>.justify-content-md-start</code></li>
    <li><code>.justify-content-md-end</code></li>
    <li><code>.justify-content-md-center</code></li>
    <li><code>.justify-content-md-between</code></li>
    <li><code>.justify-content-md-around</code></li>
    <li><code>.justify-content-lg-start</code></li>
    <li><code>.justify-content-lg-end</code></li>
    <li><code>.justify-content-lg-center</code></li>
    <li><code>.justify-content-lg-between</code></li>
    <li><code>.justify-content-lg-around</code></li>
    <li><code>.justify-content-xl-start</code></li>
    <li><code>.justify-content-xl-end</code></li>
    <li><code>.justify-content-xl-center</code></li>
    <li><code>.justify-content-xl-between</code></li>
    <li><code>.justify-content-xl-around</code></li>
  </ul>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Align Items</h4>
    <p>Use <code class="highlighter-rouge">align-items</code> utilities on flexbox containers to change the alignment of flex items on the cross axis (the y-axis to start, x-axis if <code class="highlighter-rouge">flex-direction: column</code>). Choose from <code class="highlighter-rouge">start</code>, <code class="highlighter-rouge">end</code>, <code class="highlighter-rouge">center</code>, <code class="highlighter-rouge">baseline</code>, or <code class="highlighter-rouge">stretch</code> (browser default).</p>
    <div class="example example-highlight">
      <div class="d-flex align-items-start bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex align-items-end bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex align-items-center bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex align-items-baseline bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex align-items-stretch bd-highlight" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-items-start">...&lt;/div>
&lt;div class="d-flex align-items-end">...&lt;/div>
&lt;div class="d-flex align-items-center">...&lt;/div>
&lt;div class="d-flex align-items-baseline">...&lt;/div>
&lt;div class="d-flex align-items-stretch">...&lt;/div>
</code></pre>
  <p>Responsive variations also exist for <code class="highlighter-rouge">align-items</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.align-items-start</code></li>
    <li><code class="highlighter-rouge">.align-items-end</code></li>
    <li><code class="highlighter-rouge">.align-items-center</code></li>
    <li><code class="highlighter-rouge">.align-items-baseline</code></li>
    <li><code class="highlighter-rouge">.align-items-stretch</code></li>
    <li><code class="highlighter-rouge">.align-items-sm-start</code></li>
    <li><code class="highlighter-rouge">.align-items-sm-end</code></li>
    <li><code class="highlighter-rouge">.align-items-sm-center</code></li>
    <li><code class="highlighter-rouge">.align-items-sm-baseline</code></li>
    <li><code class="highlighter-rouge">.align-items-sm-stretch</code></li>
    <li><code class="highlighter-rouge">.align-items-md-start</code></li>
    <li><code class="highlighter-rouge">.align-items-md-end</code></li>
    <li><code class="highlighter-rouge">.align-items-md-center</code></li>
    <li><code class="highlighter-rouge">.align-items-md-baseline</code></li>
    <li><code class="highlighter-rouge">.align-items-md-stretch</code></li>
    <li><code class="highlighter-rouge">.align-items-lg-start</code></li>
    <li><code class="highlighter-rouge">.align-items-lg-end</code></li>
    <li><code class="highlighter-rouge">.align-items-lg-center</code></li>
    <li><code class="highlighter-rouge">.align-items-lg-baseline</code></li>
    <li><code class="highlighter-rouge">.align-items-lg-stretch</code></li>
    <li><code class="highlighter-rouge">.align-items-xl-start</code></li>
    <li><code class="highlighter-rouge">.align-items-xl-end</code></li>
    <li><code class="highlighter-rouge">.align-items-xl-center</code></li>
    <li><code class="highlighter-rouge">.align-items-xl-baseline</code></li>
    <li><code class="highlighter-rouge">.align-items-xl-stretch</code></li>
  </ul>
  </div>




  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Align Self</h4>
    <p>Use <code class="highlighter-rouge">align-self</code> utilities on flexbox items to individually change their alignment on the cross axis (the y-axis to start, x-axis if <code class="highlighter-rouge">flex-direction: column</code>). Choose from the same options as <code class="highlighter-rouge">align-items</code>: <code class="highlighter-rouge">start</code>, <code class="highlighter-rouge">end</code>, <code class="highlighter-rouge">center</code>, <code class="highlighter-rouge">baseline</code>, or <code class="highlighter-rouge">stretch</code> (browser default).</p>
    <div class="example example-highlight">
      <div class="d-flex bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="align-self-start p-2 bd-highlight">Aligned flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="align-self-end p-2 bd-highlight">Aligned flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="align-self-center p-2 bd-highlight">Aligned flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex bd-highlight mb-3" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="align-self-baseline p-2 bd-highlight">Aligned flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
      <div class="d-flex bd-highlight" style="height: 100px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="align-self-stretch p-2 bd-highlight">Aligned flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="align-self-start">Aligned flex item&lt;/div>
&lt;div class="align-self-end">Aligned flex item&lt;/div>
&lt;div class="align-self-center">Aligned flex item&lt;/div>
&lt;div class="align-self-baseline">Aligned flex item&lt;/div>
&lt;div class="align-self-stretch">Aligned flex item&lt;/div>
</code></pre>
  <p>Responsive variations also exist for <code class="highlighter-rouge">align-self</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.align-self-start</code></li>
    <li><code class="highlighter-rouge">.align-self-end</code></li>
    <li><code class="highlighter-rouge">.align-self-center</code></li>
    <li><code class="highlighter-rouge">.align-self-baseline</code></li>
    <li><code class="highlighter-rouge">.align-self-stretch</code></li>
    <li><code class="highlighter-rouge">.align-self-sm-start</code></li>
    <li><code class="highlighter-rouge">.align-self-sm-end</code></li>
    <li><code class="highlighter-rouge">.align-self-sm-center</code></li>
    <li><code class="highlighter-rouge">.align-self-sm-baseline</code></li>
    <li><code class="highlighter-rouge">.align-self-sm-stretch</code></li>
    <li><code class="highlighter-rouge">.align-self-md-start</code></li>
    <li><code class="highlighter-rouge">.align-self-md-end</code></li>
    <li><code class="highlighter-rouge">.align-self-md-center</code></li>
    <li><code class="highlighter-rouge">.align-self-md-baseline</code></li>
    <li><code class="highlighter-rouge">.align-self-md-stretch</code></li>
    <li><code class="highlighter-rouge">.align-self-lg-start</code></li>
    <li><code class="highlighter-rouge">.align-self-lg-end</code></li>
    <li><code class="highlighter-rouge">.align-self-lg-center</code></li>
    <li><code class="highlighter-rouge">.align-self-lg-baseline</code></li>
    <li><code class="highlighter-rouge">.align-self-lg-stretch</code></li>
    <li><code class="highlighter-rouge">.align-self-xl-start</code></li>
    <li><code class="highlighter-rouge">.align-self-xl-end</code></li>
    <li><code class="highlighter-rouge">.align-self-xl-center</code></li>
    <li><code class="highlighter-rouge">.align-self-xl-baseline</code></li>
    <li><code class="highlighter-rouge">.align-self-xl-stretch</code></li>
  </ul>
  </div>



  <div class="border border-light p-4 mt-5" id="item-6">
    <h4>Fill</h4>
    <p>Use the <code class="highlighter-rouge">.flex-fill</code> class on a series of sibling elements to force them into equal widths while taking up all available horizontal space. Especially useful for equal-width, or justified, navigation.</p>
    <div class="example example-highlight">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex">
  &lt;div class="p-2 flex-fill">Flex item&lt;/div>
  &lt;div class="p-2 flex-fill">Flex item&lt;/div>
  &lt;div class="p-2 flex-fill">Flex item&lt;/div>
&lt;/div>
</code></pre>
  <p>Responsive variations also exist for <code class="highlighter-rouge">flex-fill</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.flex-fill</code></li>
    <li><code class="highlighter-rouge">.flex-sm-fill</code></li>
    <li><code class="highlighter-rouge">.flex-md-fill</code></li>
    <li><code class="highlighter-rouge">.flex-lg-fill</code></li>
    <li><code class="highlighter-rouge">.flex-xl-fill</code></li>
  </ul>
  </div>



  <div class="border border-light p-4 mt-5" id="item-7">
    <h4>Grow & Shrink</h4>
    <p>Use <code class="highlighter-rouge">.flex-grow-*</code> utilities to toggle a flex item’s ability to grow to fill available space. In the example below, the <code class="highlighter-rouge">.flex-grow-1</code> elements uses all available space it can, while allowing the remaining two flex items their necessary space.</p>
    <div class="example example-highlight">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Third flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex">
  &lt;div class="p-2 flex-grow-1">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="p-2">Third flex item&lt;/div>
&lt;/div>
</code></pre>

    <p>Use <code class="highlighter-rouge">.flex-shrink-*</code> utilities to toggle a flex item’s ability to shrink if necessary. In the example below, the second flex item with <code class="highlighter-rouge">.flex-shrink-1</code> is forced to wrap it’s contents to a new line, “shrinking” to allow more space for the previous flex item with <code class="highlighter-rouge">.w-100</code>.</p>
    <div class="example example-highlight">
      <div class="d-flex bd-highlight">
        <div class="p-2 w-100 bd-highlight">Flex item</div>
        <div class="p-2 flex-shrink-1 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex">
  &lt;div class="p-2 w-100">Flex item&lt;/div>
  &lt;div class="p-2 flex-shrink-1">Flex item&lt;/div>
&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code class="highlighter-rouge">flex-grow</code> and <code class="highlighter-rouge">flex-shrink</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.flex-&#123;grow|shrink&#125;-0</code></li>
    <li><code class="highlighter-rouge">.flex-&#123;grow|shrink&#125;-1</code></li>
    <li><code class="highlighter-rouge">.flex-sm-&#123;grow|shrink&#125;-0</code></li>
    <li><code class="highlighter-rouge">.flex-sm-&#123;grow|shrink&#125;-1</code></li>
    <li><code class="highlighter-rouge">.flex-md-&#123;grow|shrink&#125;-0</code></li>
    <li><code class="highlighter-rouge">.flex-md-&#123;grow|shrink&#125;-1</code></li>
    <li><code class="highlighter-rouge">.flex-lg-&#123;grow|shrink&#125;-0</code></li>
    <li><code class="highlighter-rouge">.flex-lg-&#123;grow|shrink&#125;-1</code></li>
    <li><code class="highlighter-rouge">.flex-xl-&#123;grow|shrink&#125;-0</code></li>
    <li><code class="highlighter-rouge">.flex-xl-&#123;grow|shrink&#125;-1</code></li>
  </ul>

  </div>




  <div class="border border-light p-4 mt-5" id="item-8">
    <h4>Auto Margins</h4>
    <p>Flexbox can do some pretty awesome things when you mix flex alignments with auto margins. Shown below are three examples of controlling flex items via auto margins: default (no auto margin), pushing two items to the right (<code class="highlighter-rouge">.mr-auto</code>), and pushing two items to the left (<code class="highlighter-rouge">.ml-auto</code>).</p>
    <p><strong>Unfortunately, IE10 and IE11 do not properly support auto margins on flex items whose parent has a non-default <code class="highlighter-rouge">justify-content</code> value.</strong> <a href="https://stackoverflow.com/a/37535548" target="_blank">See this StackOverflow answer</a> for more details.</p>
    <div class="example example-highlight">
      <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>

      <div class="d-flex bd-highlight mb-3">
        <div class="mr-auto p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>

      <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="ml-auto p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex mb-3">
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
&lt;/div>

&lt;div class="d-flex mb-3">
  &lt;div class="mr-auto p-2">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
&lt;/div>

&lt;div class="d-flex mb-3">
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="p-2">Flex item&lt;/div>
  &lt;div class="ml-auto p-2">Flex item&lt;/div>
&lt;/div>
</code></pre>

    <p>Vertically move one flex item to the top or bottom of a container by mixing <code class="highlighter-rouge">align-items</code>, <code class="highlighter-rouge">flex-direction: column</code>, and <code class="highlighter-rouge">margin-top: auto</code> or <code class="highlighter-rouge">margin-bottom: auto</code>.</p>
    <div class="example example-highlight">
      <div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
        <div class="mb-auto p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>

      <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="mt-auto p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
  &lt;div class="mb-auto p-2 bd-highlight">Flex item&lt;/div>
  &lt;div class="p-2 bd-highlight">Flex item&lt;/div>
  &lt;div class="p-2 bd-highlight">Flex item&lt;/div>
&lt;/div>

&lt;div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
  &lt;div class="p-2 bd-highlight">Flex item&lt;/div>
  &lt;div class="p-2 bd-highlight">Flex item&lt;/div>
  &lt;div class="mt-auto p-2 bd-highlight">Flex item&lt;/div>
&lt;/div>
</code></pre>

  </div>



  <div class="border border-light p-4 mt-5" id="item-9">
    <h4>Wrap</h4>
    <p>Change how flex items wrap in a flex container. Choose from no wrapping at all (the browser default) with <code class="highlighter-rouge">.flex-nowrap</code>, wrapping with <code class="highlighter-rouge">.flex-wrap</code>, or reverse wrapping with <code class="highlighter-rouge">.flex-wrap-reverse</code>.</p>
    <div class="example example-highlight">
      <div class="d-flex flex-nowrap bd-highlight" style="width: 8rem;">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-nowrap">
  ...
&lt;/div>
</code></pre>

    <div class="example example-highlight">
      <div class="d-flex flex-wrap bd-highlight">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-wrap">
  ...
&lt;/div>
</code></pre>

  <div class="example example-highlight">
    <div class="d-flex flex-wrap-reverse bd-highlight">
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
    </div>
  </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-wrap-reverse">
  ...
&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code class="highlighter-rouge">flex-wrap</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.flex-nowrap</code></li>
    <li><code class="highlighter-rouge">.flex-wrap</code></li>
    <li><code class="highlighter-rouge">.flex-wrap-reverse</code></li>
    <li><code class="highlighter-rouge">.flex-sm-nowrap</code></li>
    <li><code class="highlighter-rouge">.flex-sm-wrap</code></li>
    <li><code class="highlighter-rouge">.flex-sm-wrap-reverse</code></li>
    <li><code class="highlighter-rouge">.flex-md-nowrap</code></li>
    <li><code class="highlighter-rouge">.flex-md-wrap</code></li>
    <li><code class="highlighter-rouge">.flex-md-wrap-reverse</code></li>
    <li><code class="highlighter-rouge">.flex-lg-nowrap</code></li>
    <li><code class="highlighter-rouge">.flex-lg-wrap</code></li>
    <li><code class="highlighter-rouge">.flex-lg-wrap-reverse</code></li>
    <li><code class="highlighter-rouge">.flex-xl-nowrap</code></li>
    <li><code class="highlighter-rouge">.flex-xl-wrap</code></li>
    <li><code class="highlighter-rouge">.flex-xl-wrap-reverse</code></li>
  </ul>

  </div>



  <div class="border border-light p-4 mt-5" id="item-10">
    <h4>Order</h4>
    <p>Change the <em>visual</em> order of specific flex items with a handful of <code class="highlighter-rouge">order</code> utilities. We only provide options for making an item first or last, as well as a reset to use the DOM order. As <code class="highlighter-rouge">order</code> takes any integer value (e.g., <code class="highlighter-rouge">5</code>), add custom CSS for any additional values needed.</p>
    <div class="example example-highlight">
        <div class="d-flex flex-nowrap bd-highlight">
          <div class="order-3 p-2 bd-highlight">First flex item</div>
          <div class="order-2 p-2 bd-highlight">Second flex item</div>
          <div class="order-1 p-2 bd-highlight">Third flex item</div>
        </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex flex-nowrap">
  &lt;div class="order-3 p-2">First flex item&lt;/div>
  &lt;div class="order-2 p-2">Second flex item&lt;/div>
  &lt;div class="order-1 p-2">Third flex item&lt;/div>
&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code class="highlighter-rouge">order</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.order-0</code></li>
    <li><code class="highlighter-rouge">.order-1</code></li>
    <li><code class="highlighter-rouge">.order-2</code></li>
    <li><code class="highlighter-rouge">.order-3</code></li>
    <li><code class="highlighter-rouge">.order-4</code></li>
    <li><code class="highlighter-rouge">.order-5</code></li>
    <li><code class="highlighter-rouge">.order-6</code></li>
    <li><code class="highlighter-rouge">.order-7</code></li>
    <li><code class="highlighter-rouge">.order-8</code></li>
    <li><code class="highlighter-rouge">.order-9</code></li>
    <li><code class="highlighter-rouge">.order-10</code></li>
    <li><code class="highlighter-rouge">.order-11</code></li>
    <li><code class="highlighter-rouge">.order-12</code></li>
    <li><code class="highlighter-rouge">.order-sm-0</code></li>
    <li><code class="highlighter-rouge">.order-sm-1</code></li>
    <li><code class="highlighter-rouge">.order-sm-2</code></li>
    <li><code class="highlighter-rouge">.order-sm-3</code></li>
    <li><code class="highlighter-rouge">.order-sm-4</code></li>
    <li><code class="highlighter-rouge">.order-sm-5</code></li>
    <li><code class="highlighter-rouge">.order-sm-6</code></li>
    <li><code class="highlighter-rouge">.order-sm-7</code></li>
    <li><code class="highlighter-rouge">.order-sm-8</code></li>
    <li><code class="highlighter-rouge">.order-sm-9</code></li>
    <li><code class="highlighter-rouge">.order-sm-10</code></li>
    <li><code class="highlighter-rouge">.order-sm-11</code></li>
    <li><code class="highlighter-rouge">.order-sm-12</code></li>
    <li><code class="highlighter-rouge">.order-md-0</code></li>
    <li><code class="highlighter-rouge">.order-md-1</code></li>
    <li><code class="highlighter-rouge">.order-md-2</code></li>
    <li><code class="highlighter-rouge">.order-md-3</code></li>
    <li><code class="highlighter-rouge">.order-md-4</code></li>
    <li><code class="highlighter-rouge">.order-md-5</code></li>
    <li><code class="highlighter-rouge">.order-md-6</code></li>
    <li><code class="highlighter-rouge">.order-md-7</code></li>
    <li><code class="highlighter-rouge">.order-md-8</code></li>
    <li><code class="highlighter-rouge">.order-md-9</code></li>
    <li><code class="highlighter-rouge">.order-md-10</code></li>
    <li><code class="highlighter-rouge">.order-md-11</code></li>
    <li><code class="highlighter-rouge">.order-md-12</code></li>
    <li><code class="highlighter-rouge">.order-lg-0</code></li>
    <li><code class="highlighter-rouge">.order-lg-1</code></li>
    <li><code class="highlighter-rouge">.order-lg-2</code></li>
    <li><code class="highlighter-rouge">.order-lg-3</code></li>
    <li><code class="highlighter-rouge">.order-lg-4</code></li>
    <li><code class="highlighter-rouge">.order-lg-5</code></li>
    <li><code class="highlighter-rouge">.order-lg-6</code></li>
    <li><code class="highlighter-rouge">.order-lg-7</code></li>
    <li><code class="highlighter-rouge">.order-lg-8</code></li>
    <li><code class="highlighter-rouge">.order-lg-9</code></li>
    <li><code class="highlighter-rouge">.order-lg-10</code></li>
    <li><code class="highlighter-rouge">.order-lg-11</code></li>
    <li><code class="highlighter-rouge">.order-lg-12</code></li>
    <li><code class="highlighter-rouge">.order-xl-0</code></li>
    <li><code class="highlighter-rouge">.order-xl-1</code></li>
    <li><code class="highlighter-rouge">.order-xl-2</code></li>
    <li><code class="highlighter-rouge">.order-xl-3</code></li>
    <li><code class="highlighter-rouge">.order-xl-4</code></li>
    <li><code class="highlighter-rouge">.order-xl-5</code></li>
    <li><code class="highlighter-rouge">.order-xl-6</code></li>
    <li><code class="highlighter-rouge">.order-xl-7</code></li>
    <li><code class="highlighter-rouge">.order-xl-8</code></li>
    <li><code class="highlighter-rouge">.order-xl-9</code></li>
    <li><code class="highlighter-rouge">.order-xl-10</code></li>
    <li><code class="highlighter-rouge">.order-xl-11</code></li>
    <li><code class="highlighter-rouge">.order-xl-12</code></li>
  </ul>
  </div>



  <div class="border border-light p-4 mt-5" id="item-11">
    <h4>Align Content</h4>
    <p>Use <code class="highlighter-rouge">align-content</code> utilities on flexbox containers to align flex items <em>together</em> on the cross axis. Choose from <code class="highlighter-rouge">start</code> (browser default), <code class="highlighter-rouge">end</code>, <code class="highlighter-rouge">center</code>, <code class="highlighter-rouge">between</code>, <code class="highlighter-rouge">around</code>, or <code class="highlighter-rouge">stretch</code>. To demonstrate these utilities, we’ve enforced <code class="highlighter-rouge">flex-wrap: wrap</code> and increased the number of flex items.</p>
    <p><strong>Heads up!</strong> This property has no effect on single rows of flex items.</p>
    <div class="example example-highlight">
        <div class="d-flex align-content-start flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
          <div class="p-2 bd-highlight">Flex item</div>
        </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-start flex-wrap">...&lt;/div>
</code></pre>

<div class="example example-highlight">
    <div class="d-flex align-content-end flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-end flex-wrap">...&lt;/div>
</code></pre>


<div class="example example-highlight">
    <div class="d-flex align-content-start flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
      <div class="p-2 bd-highlight">Flex item</div>
    </div>
</div>
<pre><code highlight ngNonBindable>
<div class="d-flex align-content-start flex-wrap">
...
</div>
</code></pre>


<div class="example example-highlight">
    <div class="d-flex align-content-center flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-center flex-wrap">...&lt;/div>
</code></pre>


<div class="example example-highlight">
    <div class="d-flex align-content-between flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-between flex-wrap">...&lt;/div>
</code></pre>

<div class="example example-highlight">
    <div class="d-flex align-content-around flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-around flex-wrap">...&lt;/div>
</code></pre>

<div class="example example-highlight">
    <div class="d-flex align-content-stretch flex-wrap bd-highlight mb-3" style="background-color: #f3f3f3; height: 200px">
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
        <div class="p-2 bd-highlight">Flex item</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="d-flex align-content-stretch flex-wrap">...&lt;/div>
</code></pre>

  <p>Responsive variations also exist for <code class="highlighter-rouge">align-content</code>.</p>
  <ul>
    <li><code class="highlighter-rouge">.align-content-start</code></li>
    <li><code class="highlighter-rouge">.align-content-end</code></li>
    <li><code class="highlighter-rouge">.align-content-center</code></li>
    <li><code class="highlighter-rouge">.align-content-around</code></li>
    <li><code class="highlighter-rouge">.align-content-stretch</code></li>
    <li><code class="highlighter-rouge">.align-content-sm-start</code></li>
    <li><code class="highlighter-rouge">.align-content-sm-end</code></li>
    <li><code class="highlighter-rouge">.align-content-sm-center</code></li>
    <li><code class="highlighter-rouge">.align-content-sm-around</code></li>
    <li><code class="highlighter-rouge">.align-content-sm-stretch</code></li>
    <li><code class="highlighter-rouge">.align-content-md-start</code></li>
    <li><code class="highlighter-rouge">.align-content-md-end</code></li>
    <li><code class="highlighter-rouge">.align-content-md-center</code></li>
    <li><code class="highlighter-rouge">.align-content-md-around</code></li>
    <li><code class="highlighter-rouge">.align-content-md-stretch</code></li>
    <li><code class="highlighter-rouge">.align-content-lg-start</code></li>
    <li><code class="highlighter-rouge">.align-content-lg-end</code></li>
    <li><code class="highlighter-rouge">.align-content-lg-center</code></li>
    <li><code class="highlighter-rouge">.align-content-lg-around</code></li>
    <li><code class="highlighter-rouge">.align-content-lg-stretch</code></li>
    <li><code class="highlighter-rouge">.align-content-xl-start</code></li>
    <li><code class="highlighter-rouge">.align-content-xl-end</code></li>
    <li><code class="highlighter-rouge">.align-content-xl-center</code></li>
    <li><code class="highlighter-rouge">.align-content-xl-around</code></li>
    <li><code class="highlighter-rouge">.align-content-xl-stretch</code></li>
  </ul>
  </div>


</div>