<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Text Alignment</a></li>
    <li><a pageScroll href="#item-2">Wrapping & Overflow</a></li>
    <li><a pageScroll href="#item-3">Text Transform</a></li>
    <li><a pageScroll href="#item-4">Weight & Italics</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Text</h1>
    <p>Documentation and examples for common text utilities to control alignment, wrapping, weight, and more.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Text Alignment</h4>
    <div class="example">
        <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
    </div>
<pre><code highlight ngNonBindable>
&lt;p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.&lt;/p>
</code></pre>

    <div class="example">
    <p class="text-left">Left aligned text on all viewport sizes.</p>
    <p class="text-center">Center aligned text on all viewport sizes.</p>
    <p class="text-right">Right aligned text on all viewport sizes.</p>

    <p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
    <p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
    <p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
    <p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>
    </div>
<pre><code highlight ngNonBindable>
&lt;p class="text-left">Left aligned text on all viewport sizes.&lt;/p>
&lt;p class="text-center">Center aligned text on all viewport sizes.&lt;/p>
&lt;p class="text-right">Right aligned text on all viewport sizes.&lt;/p>

&lt;p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.&lt;/p>
&lt;p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.&lt;/p>
&lt;p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.&lt;/p>
&lt;p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.&lt;/p>
</code></pre>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Wrapping & Overflow</h4>
    <div class="example example-highlight">
        <div class="text-nowrap bd-highlight" style="width: 8rem;">
          This text should overflow the parent.
        </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="text-nowrap" style="width: 8rem;">
  This text should overflow the parent.
&lt;/div>
</code></pre>

    <p>For longer content, you can add a <code class="highlighter-rouge">.text-truncate</code> class to truncate the text with an ellipsis. <strong>Requires <code class="highlighter-rouge">display: inline-block</code> or <code class="highlighter-rouge">display: block</code>.</strong></p>
    <div class="example example-plain">
        <!-- Block level -->
        <div class="row">
          <div class="col-2 text-truncate">
            Praeterea iter est quasdam res quas ex communi.
          </div>
        </div>

        <!-- Inline level -->
        <span class="d-inline-block text-truncate" style="max-width: 150px;">
          Praeterea iter est quasdam res quas ex communi.
        </span>
    </div>
<pre><code highlight ngNonBindable>
&lt;!-- Block level -->
&lt;div class="row">
  &lt;div class="col-2 text-truncate">
    Praeterea iter est quasdam res quas ex communi.
  &lt;/div>
&lt;/div>

&lt;!-- Inline level -->
&lt;span class="d-inline-block text-truncate" style="max-width: 150px;">
  Praeterea iter est quasdam res quas ex communi.
&lt;/span>
</code></pre>
  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Text Transform</h4>
    <div class="example">
        <p class="text-lowercase">Lowercased text.</p>
        <p class="text-uppercase">Uppercased text.</p>
        <p class="text-capitalize">CapiTaliZed text.</p>
    </div>
<pre><code highlight ngNonBindable>
&lt;p class="text-lowercase">Lowercased text.&lt;/p>
&lt;p class="text-uppercase">Uppercased text.&lt;/p>
&lt;p class="text-capitalize">CapiTaliZed text.&lt;/p>
</code></pre>
  </div>


  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Weight & Italics</h4>
    <div class="example">
        <p class="font-weight-bold">Bold text.</p>
        <p class="font-weight-normal">Normal weight text.</p>
        <p class="font-weight-light">Light weight text.</p>
        <p class="font-italic">Italic text.</p>
    </div>
<pre><code highlight ngNonBindable>
&lt;p class="font-weight-bold">Bold text.&lt;/p>
&lt;p class="font-weight-normal">Normal weight text.&lt;/p>
&lt;p class="font-weight-light">Light weight text.&lt;/p>
&lt;p class="font-italic">Italic text.&lt;/p>
</code></pre>
  </div>


</div>