<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Modal</a></li>
    <li><a pageScroll href="#item-2">Components as Content</a></li>
    <li><a pageScroll href="#item-3">Focus Management</a></li>
    <li><a pageScroll href="#item-4">Modal Options</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Modal</h1>
    <p>The modal component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Modal</h4>
    <div class="example">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="dateOfBirth">Date of birth</label>
              <div class="input-group">
                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-primary calendar" (click)="dp.toggle()" type="button">
                    <svg class="d-block text-white" width="18" height="18">
                      <use xlink:href="assets/sprites/sprite.svg#calendar" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>

      <button class="btn btn-lg btn-primary" (click)="open(content)">Launch demo modal</button>

      <hr>

      <pre>&#123;&#123;closeResult&#125;&#125;</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="modal-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-template #content let-modal>
  &lt;div class="modal-header">
    &lt;h4 class="modal-title" id="modal-basic-title">Profile update&lt;/h4>
    &lt;button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &lt;span aria-hidden="true">&times;&lt;/span>
    &lt;/button>
  &lt;/div>
  &lt;div class="modal-body">
    &lt;form>
      &lt;div class="form-group">
        &lt;label for="dateOfBirth">Date of birth&lt;/label>
        &lt;div class="input-group">
          &lt;input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          &lt;div class="input-group-append">
            &lt;button class="btn btn-primary calendar" (click)="dp.toggle()" type="button">
              &lt;svg class="d-block text-white" width="18" height="18">
                &lt;use xlink:href="assets/sprites/sprite.svg#calendar" />
              &lt;/svg>
            &lt;/button>
          &lt;/div>
        &lt;/div>
      &lt;/div>
    &lt;/form>
  &lt;/div>
  &lt;div class="modal-footer">
    &lt;button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Save&lt;/button>
  &lt;/div>
&lt;/ng-template>

&lt;button class="btn btn-lg btn-primary" (click)="open(content)">Launch demo modal&lt;/button>

&lt;hr>

&lt;pre>&#123;&#123;closeResult&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="modal-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbModal, ModalDismissReasons&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'modal-basic',
  templateUrl: './modal-basic.html'
&#125;)
export class ModalBasic &#123;
  closeResult: string;

  constructor(private modalService: NgbModal) &#123;&#125;

  open(content) &#123;
    this.modalService.open(content, &#123;ariaLabelledBy: 'modal-basic-title'&#125;).result.then((result) => &#123;
      this.closeResult = `Closed with: $&#123;result&#125;`;
    &#125;, (reason) => &#123;
      this.closeResult = `Dismissed $&#123;this.getDismissReason(reason)&#125;`;
    &#125;);
  &#125;

  private getDismissReason(reason: any): string &#123;
    if (reason === ModalDismissReasons.ESC) &#123;
      return 'by pressing ESC';
    &#125; else if (reason === ModalDismissReasons.BACKDROP_CLICK) &#123;
      return 'by clicking on a backdrop';
    &#125; else &#123;
      return  `with: $&#123;reason&#125;`;
    &#125;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Components as Content</h4>
    <p>You can pass an existing component as content of the modal window. In this case remember to add content component
        as an <code>entryComponents</code> section of your <code>NgModule</code>.</p>
    <div class="example">
        <button class="btn btn-lg btn-primary" (click)="componentOpen()">Launch demo modal</button>
    </div>
    <ngb-tabset>
      <ngb-tab title="modal-component.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;button class="btn btn-lg btn-primary" (click)="open()">Launch demo modal&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="modal-component.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component, Input &#125; from '@angular/core';
import &#123; NgbActiveModal, NgbModal &#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'ngbd-modal-content',
  template: `
    &lt;div class="modal-header">
      &lt;h4 class="modal-title">Hi there!&lt;/h4>
      &lt;button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        &lt;span aria-hidden="true">&times;&lt;/span>
      &lt;/button>
    &lt;/div>
    &lt;div class="modal-body">
      &lt;p>Hello, &#123;name&#125;!&lt;/p>
    &lt;/div>
    &lt;div class="modal-footer">
      &lt;button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close&lt;/button>
    &lt;/div>
  `
&#125;)
export class NgbdModalContent &#123;
  @Input() name;

  constructor(public activeModal: NgbActiveModal) &#123;&#125;
&#125;

@Component(&#123;
  selector: 'modal-component',
  templateUrl: './modal-component.html'
&#125;)
export class ModalComponent &#123;
  constructor(private modalService: NgbModal, &#123; centered: true &#125;) &#123;&#125;

  open() &#123;
    const modalRef = this.modalService.open(NgbdModalContent);
    modalRef.componentInstance.name = 'World';
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Focus Management</h4>
    <div class="example">
      <button class="btn btn-primary" (click)="focusOpen('autofocus')">
        <div>Open confirm modal with `ngbAutofocus`</div>
        <div aria-hidden="true"><small>Ok button will be focused</small></div>
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="modal-focus.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;button class="btn btn-primary" (click)="focusOpen('autofocus')">
  &lt;div>Open confirm modal with `ngbAutofocus`&lt;/div>
  &lt;div aria-hidden="true">&lt;small>Ok button will be focused&lt;/small>&lt;/div>
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="modal-focus.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component &#125; from '@angular/core';
import &#123; NgbActiveModal, NgbModal &#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'ngbd-modal-confirm-autofocus',
  template: `
  &lt;div class="modal-header">
    &lt;h4 class="modal-title" id="modal-title">Profile deletion&lt;/h4>
    &lt;button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      &lt;span aria-hidden="true">&times;&lt;/span>
    &lt;/button>
  &lt;/div>
  &lt;div class="modal-body">
    &lt;p>&lt;strong>Are you sure you want to delete &lt;span class="text-primary">"John Doe"&lt;/span> profile?&lt;/strong>&lt;/p>
    &lt;p>All information associated to this user profile will be permanently deleted.
    &lt;span class="text-danger">This operation can not be undone.&lt;/span>
    &lt;/p>
  &lt;/div>
  &lt;div class="modal-footer">
    &lt;button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel&lt;/button>
    &lt;button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok&lt;/button>
  &lt;/div>
  `
&#125;)
export class NgbdModalConfirmAutofocus &#123;
  constructor(public modal: NgbActiveModal) &#123;&#125;
&#125;

const MODALS = &#123;
  autofocus: NgbdModalConfirmAutofocus
&#125;;

@Component(&#123;
  selector: 'modal-focus',
  templateUrl: './modal-focus.html'
&#125;)
export class ModalFocus &#123;
  withAutofocus = `&lt;button type="button" ngbAutofocus class="btn btn-danger"
      (click)="modal.close('Ok click')">Ok&lt;/button>`;

  constructor(private _modalService: NgbModal) &#123;&#125;

  open(name: string) &#123;
    this._modalService.open(MODALS[name], &#123;centered: true&#125;);
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




    <div class="border border-light p-4 mt-5" id="item-4">
      <h4>Modal Options</h4>
      <div class="example">
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>

        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>
        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button>
      </div>
      <ngb-tabset>
        <ngb-tab title="modal-options.html">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-template #content let-modal>
  &lt;div class="modal-header">
    &lt;h4 class="modal-title">Modal title&lt;/h4>
    &lt;button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      &lt;span aria-hidden="true">&times;&lt;/span>
    &lt;/button>
  &lt;/div>
  &lt;div class="modal-body">
    &lt;p>One fine body&hellip;&lt;/p>
  &lt;/div>
  &lt;div class="modal-footer">
    &lt;button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close&lt;/button>
  &lt;/div>
&lt;/ng-template>

&lt;button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class&lt;/button>
&lt;button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class&lt;/button>
&lt;button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal&lt;/button>
&lt;button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal&lt;/button>
&lt;button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered&lt;/button>
</code></pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="modal-options.ts">
          <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123; Component, ViewEncapsulation &#125; from '@angular/core';
import &#123; NgbModal &#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'modal-options',
  templateUrl: './modal-options.html',
  encapsulation: ViewEncapsulation.None,
  styles: [`
    .dark-modal .modal-content &#123;
      background-color: #292b2c;
      color: white;
    &#125;
    .dark-modal .close &#123;
      color: white;
    &#125;
    .light-blue-backdrop &#123;
      background-color: #5cb3fd;
    &#125;
  `]
&#125;)
export class ModalOptions &#123;
  closeResult: string;

  constructor(private modalService: NgbModal) &#123;&#125;

  openBackDropCustomClass(content) &#123;
    this.modalService.open(content, &#123;backdropClass: 'light-blue-backdrop'&#125;);
  &#125;

  openWindowCustomClass(content) &#123;
    this.modalService.open(content, &#123; windowClass: 'dark-modal' &#125;);
  &#125;

  openSm(content) &#123;
    this.modalService.open(content, &#123; size: 'sm' &#125;);
  &#125;

  openLg(content) &#123;
    this.modalService.open(content, &#123; size: 'lg' &#125;);
  &#125;

  openVerticallyCentered(content) &#123;
    this.modalService.open(content, &#123; centered: true &#125;);
  &#125;
&#125;
</code></pre>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>


</div>