<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Dropdown</a></li>
    <li><a pageScroll href="#item-2">Manual & Custom Triggers</a></li>
    <li><a pageScroll href="#item-3">Groups & Split Buttons</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Dropdown</h1>
    <p>The dropdown component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Dropdown</h4>
    <div class="example example-plain">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>

        <div class="col text-right">
          <div ngbDropdown placement="top-right" class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Another Action</button>
              <button class="dropdown-item">Something else is here</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="dropdown-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;div class="row">
  &lt;div class="col">
    &lt;div ngbDropdown class="d-inline-block">
      &lt;button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown&lt;/button>
      &lt;div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        &lt;button class="dropdown-item">Action - 1&lt;/button>
        &lt;button class="dropdown-item">Another Action&lt;/button>
        &lt;button class="dropdown-item">Something else is here&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>

  &lt;div class="col text-right">
    &lt;div ngbDropdown placement="top-right" class="d-inline-block">
      &lt;button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Toggle dropup&lt;/button>
      &lt;div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        &lt;button class="dropdown-item">Action - 1&lt;/button>
        &lt;button class="dropdown-item">Another Action&lt;/button>
        &lt;button class="dropdown-item">Something else is here&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="dropdown-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'dropdown-basic',
  templateUrl: './dropdown-basic.html'
&#125;)
export class DropdownBasic &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Manual & Custom Triggers</h4>
    <div class="example">
      <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
        <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button class="dropdown-item">Action - 1</button>
          <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button>
        </div>

        <button class="btn btn-outline-success mr-2" (click)="$event.stopPropagation(); myDrop.open();">Open from outside</button>
        <button class="btn btn-outline-danger mr-2" (click)="$event.stopPropagation(); myDrop.close();">Close from outside</button>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="dropdown-manual.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
  &lt;button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown&lt;/button>
  &lt;div ngbDropdownMenu aria-labelledby="dropdownManual">
    &lt;button class="dropdown-item">Action - 1&lt;/button>
    &lt;button class="dropdown-item">Another Action&lt;/button>
    &lt;button class="dropdown-item">Something else is here&lt;/button>
  &lt;/div>

  &lt;button class="btn btn-outline-success mr-2" (click)="$event.stopPropagation(); myDrop.open();">Open from outside&lt;/button>
  &lt;button class="btn btn-outline-danger mr-2" (click)="$event.stopPropagation(); myDrop.close();">Close from outside&lt;/button>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="dropdown-manual.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'ngbd-dropdown-manual',
  templateUrl: './dropdown-manual.html'
&#125;)
export class NgbdDropdownManual &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Groups & Split Buttons</h4>
    <div class="example">
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-outline-success">Plain ol' button</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Drop me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
      </div>

      <div class="btn-group mr-3">
        <button type="button" class="btn btn-primary">Split me</button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
      </div>

      <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-danger" ngbDropdownToggle>Select me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-success" ngbDropdownToggle>Or me</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item">One</button>
            <button class="dropdown-item">Two</button>
            <button class="dropdown-item">Four!</button>
          </div>
        </div>
      </div>
    </div>
    <ngb-tabset>
      <ngb-tab title="dropdown-split.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;div class="btn-group mr-3">
  &lt;button type="button" class="btn btn-outline-success">Plain ol' button&lt;/button>
  &lt;div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    &lt;button class="btn btn-outline-primary" ngbDropdownToggle>Drop me&lt;/button>
    &lt;div class="dropdown-menu" ngbDropdownMenu>
      &lt;button class="dropdown-item">One&lt;/button>
      &lt;button class="dropdown-item">Two&lt;/button>
      &lt;button class="dropdown-item">Four!&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>

&lt;div class="btn-group mr-3">
  &lt;button type="button" class="btn btn-primary">Split me&lt;/button>
  &lt;div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    &lt;button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>&lt;/button>
    &lt;div class="dropdown-menu" ngbDropdownMenu>
      &lt;button class="dropdown-item">One&lt;/button>
      &lt;button class="dropdown-item">Two&lt;/button>
      &lt;button class="dropdown-item">Four!&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>

&lt;div class="btn-group mr-3">
  &lt;div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    &lt;button class="btn btn-outline-danger" ngbDropdownToggle>Select me&lt;/button>
    &lt;div class="dropdown-menu" ngbDropdownMenu>
      &lt;button class="dropdown-item">One&lt;/button>
      &lt;button class="dropdown-item">Two&lt;/button>
      &lt;button class="dropdown-item">Four!&lt;/button>
    &lt;/div>
  &lt;/div>
  &lt;div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    &lt;button class="btn btn-outline-success" ngbDropdownToggle>Or me&lt;/button>
    &lt;div class="dropdown-menu" ngbDropdownMenu>
      &lt;button class="dropdown-item">One&lt;/button>
      &lt;button class="dropdown-item">Two&lt;/button>
      &lt;button class="dropdown-item">Four!&lt;/button>
    &lt;/div>
  &lt;/div>
&lt;/div>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="dropdown-split.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'ngbd-dropdown-split',
  templateUrl: './dropdown-split.html'
&#125;)
export class NgbdDropdownSplit &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


</div>