.nav-tabs {
    font-size: 80%;
    text-transform: uppercase;

    a {
        color: $primary;
        padding: 0.75rem 1rem;
        text-decoration: none;

        &.active {
            font-weight: 700;
        }
    }
}