<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Tooltips</a></li>
    <li><a pageScroll href="#item-2">HTML & Bindings</a></li>
    <li><a pageScroll href="#item-3">Custom & Manual Triggers</a></li>
    <li><a pageScroll href="#item-4">Keyboard & Mouse Closing</a></li>
    <li><a pageScroll href="#item-5">Context & Manual Triggers</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Tooltip</h1>
    <p>The tooltip component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Tooltips</h4>
    <div class="example">
        <button type="button" class="btn btn-secondary m-1" placement="top" ngbTooltip="Tooltip on top">
          Tooltip on top
        </button>
        <button type="button" class="btn btn-secondary m-1" placement="right" ngbTooltip="Tooltip on right">
          Tooltip on right
        </button>
        <button type="button" class="btn btn-secondary m-1" placement="bottom" ngbTooltip="Tooltip on bottom">
          Tooltip on bottom
        </button>
        <button type="button" class="btn btn-secondary m-1" placement="left" ngbTooltip="Tooltip on left">
          Tooltip on left
        </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="tooltip-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;button type="button" class="btn btn-secondary m-1" placement="top" ngbTooltip="Tooltip on top">
  Tooltip on top
&lt;/button>
&lt;button type="button" class="btn btn-secondary m-1" placement="right" ngbTooltip="Tooltip on right">
  Tooltip on right
&lt;/button>
&lt;button type="button" class="btn btn-secondary m-1" placement="bottom" ngbTooltip="Tooltip on bottom">
  Tooltip on bottom
&lt;/button>
&lt;button type="button" class="btn btn-secondary m-1" placement="left" ngbTooltip="Tooltip on left">
  Tooltip on left
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tooltip-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tooltip-basic',
  templateUrl: './tooltip-basic.html'
&#125;)
export class TooltipBasic &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>HTML & Bindings</h4>
    <p>Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a <code>&lt;ng-template&gt;</code> element.</p>
    <div class="example">
      <ng-template #tipContent>Hello, <b>{{name}}</b>!</ng-template>
      <button type="button" class="btn btn-secondary" [ngbTooltip]="tipContent">
        I've got markup and bindings in my tooltip!
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="tooltip-bindings.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ng-template #tipContent>Hello, &lt;b>&#123;&#123;name&#125;&#125;&lt;/b>!&lt;/ng-template>
&lt;button type="button" class="btn btn-secondary" [ngbTooltip]="tipContent">
  I've got markup and bindings in my tooltip!
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tooltip-bindings.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tooltip-bindings',
  templateUrl: './tooltip-bindings.html'
&#125;)
export class TooltipBindings &#123;
  name = 'World';
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Custom & Manual Triggers</h4>
    <div class="example">
        <p>
          You can easily override open and close triggers by specifying event names (separated by <code>:</code>) in the <code>triggers</code> property.
        </p>

        <button type="button" class="btn btn-secondary" ngbTooltip="You see, I show up on click!" triggers="click:blur">
          Click me!
        </button>

        <hr>
        <p>
          Alternatively you can take full manual control over tooltip opening / closing events.
        </p>

        <button type="button" class="btn btn-secondary mr-2" ngbTooltip="What a great tip!" [autoClose]="false" triggers="manual" #t="ngbTooltip" (click)="t.open()">
          Click me to open a tooltip
        </button>
        <button type="button" class="btn btn-secondary mr-2" (click)="t.close()">
          Click me to close a tooltip
        </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="tooltip-triggers.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>
  You can easily override open and close triggers by specifying event names (separated by &lt;code>:&lt;/code>) in the &lt;code>triggers&lt;/code> property.
&lt;/p>

&lt;button type="button" class="btn btn-secondary" ngbTooltip="You see, I show up on click!" triggers="click:blur">
  Click me!
&lt;/button>

&lt;hr>
&lt;p>
  Alternatively you can take full manual control over tooltip opening / closing events.
&lt;/p>

&lt;button type="button" class="btn btn-secondary mr-2" ngbTooltip="What a great tip!" [autoClose]="false" triggers="manual" #t="ngbTooltip" (click)="t.open()">
  Click me to open a tooltip
&lt;/button>
&lt;button type="button" class="btn btn-secondary mr-2" (click)="t.close()">
  Click me to close a tooltip
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tooltip-triggers.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tooltip-triggers',
  templateUrl: './tooltip-triggers.html'
&#125;)
export class TooltipTriggers &#123;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Keyboard & Mouse Closing</h4>
    <div class="example">
      <p>As for some other popup-based widgets, you can set the tooltip to close automatically upon some events.</p>
      <p>In the following examples, they will all close on <code>Escape</code> as well as:</p>

      <ul>
        <li class="mb-2">
          click inside:
          <button
            type="button" class="btn btn-secondary"
            triggers="click" [autoClose]="'inside'" ngbTooltip="Click inside or press Escape to close"
          >
              Click to toggle
          </button>
        </li>

        <li class="mb-2">
          click outside:
          <button
            type="button" class="btn btn-secondary"
            triggers="click" [autoClose]="'outside'" ngbTooltip="Click outside or press Escape to close"
          >
            Click to toggle
          </button>
        </li>

        <li class="mb-2">
            all clicks:
            <button
              type="button" class="btn btn-secondary"
              triggers="click" [autoClose]="true" ngbTooltip="Click anywhere or press Escape to close (try the toggling element too)"
              #tooltip3="ngbTooltip"
            >
                Click to toggle
            </button>

            &nbsp;

            <button type="button" class="btn btn-secondary mr-2" (click)="tooltip3.toggle()">
              Click to toggle the external tooltip
            </button>
          </li>
      </ul>
    </div>
    <ngb-tabset>
      <ngb-tab title="tooltip-autoclose.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>As for some other popup-based widgets, you can set the tooltip to close automatically upon some events.&lt;/p>
&lt;p>In the following examples, they will all close on &lt;code>Escape&lt;/code> as well as:&lt;/p>

&lt;ul>
  &lt;li class="mb-2">
    click inside:
    &lt;button
      type="button" class="btn btn-secondary"
      triggers="click" [autoClose]="'inside'" ngbTooltip="Click inside or press Escape to close"
    >
        Click to toggle
    &lt;/button>
  &lt;/li>

  &lt;li class="mb-2">
    click outside:
    &lt;button
      type="button" class="btn btn-secondary"
      triggers="click" [autoClose]="'outside'" ngbTooltip="Click outside or press Escape to close"
    >
      Click to toggle
    &lt;/button>
  &lt;/li>

  &lt;li class="mb-2">
      all clicks:
      &lt;button
        type="button" class="btn btn-secondary"
        triggers="click" [autoClose]="true" ngbTooltip="Click anywhere or press Escape to close (try the toggling element too)"
        #tooltip3="ngbTooltip"
      >
          Click to toggle
      &lt;/button>

      &nbsp;

      &lt;button type="button" class="btn btn-secondary mr-2" (click)="tooltip3.toggle()">
        Click to toggle the external tooltip
      &lt;/button>
    &lt;/li>
&lt;/ul>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tooltip-autoclose.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tooltip-autoclose',
  templateUrl: './tooltip-autoclose.html'
&#125;)
export class TooltipAutoclose &#123;&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>




  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Context & Manual Triggers</h4>
    <div class="example">
        <p>
          You can optionally pass in a context when manually triggering a tooltip.
        </p>

        <ng-template #tipContent let-greeting="greeting">{{greeting}}, <b>{{name}}</b>!</ng-template>
        <button
          type="button" class="btn btn-secondary mr-2"
          [ngbTooltip]="tipContent"
          triggers="manual" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')"
        >
          French
        </button>
        <button
          type="button" class="btn btn-secondary mr-2"
          [ngbTooltip]="tipContent"
          triggers="manual" #t2="ngbTooltip" (click)="toggleWithGreeting(t2, 'Gutentag')"
        >
          German
        </button>
        <button
          type="button" class="btn btn-secondary mr-2"
          [ngbTooltip]="tipContent"
          triggers="manual" #t3="ngbTooltip" (click)="toggleWithGreeting(t3, 'Hello')"
        >
          English
        </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="tooltip-tplwithcontext.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>
  You can optionally pass in a context when manually triggering a tooltip.
&lt;/p>

&lt;ng-template #tipContent let-greeting="greeting">{{greeting}}, &lt;b>{{name}}&lt;/b>!&lt;/ng-template>
&lt;button
  type="button" class="btn btn-secondary mr-2"
  [ngbTooltip]="tipContent"
  triggers="manual" #t1="ngbTooltip" (click)="toggleWithGreeting(t1, 'Bonjour')"
>
  French
&lt;/button>
&lt;button
  type="button" class="btn btn-secondary mr-2"
  [ngbTooltip]="tipContent"
  triggers="manual" #t2="ngbTooltip" (click)="toggleWithGreeting(t2, 'Gutentag')"
>
  German
&lt;/button>
&lt;button
  type="button" class="btn btn-secondary mr-2"
  [ngbTooltip]="tipContent"
  triggers="manual" #t3="ngbTooltip" (click)="toggleWithGreeting(t3, 'Hello')"
>
  English
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="tooltip-tplwithcontext.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'tooltip-tplwithcontext',
  templateUrl: './tooltip-tplwithcontext.html'
&#125;)
export class TooltipTplwithcontext &#123;
  name = 'World';

  toggleWithGreeting(tooltip, greeting: string) &#123;
    if (tooltip.isOpen()) &#123;
      tooltip.close();
    &#125; else &#123;
      tooltip.open(&#123;greeting&#125;);
    &#125;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>