<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Basic Timepicker</a></li>
    <li><a pageScroll href="#item-2">Seconds</a></li>
    <li><a pageScroll href="#item-3">Spinners</a></li>
    <li><a pageScroll href="#item-4">Custom Steps</a></li>
    <li><a pageScroll href="#item-5">Custom Validation</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Timepicker</h1>
    <p>The timepicker component comes from the ng-bootstrap library.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Basic Timepicker</h4>
    <div class="example">
      <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
      <button class="btn btn-sm btn-{{meridian ? 'secondary' : 'danger'}}" (click)="toggleMeridian()">
          Meridian - {{meridian ? "ON" : "OFF"}}
      </button>
      <hr>
      <pre>Selected time: {{time | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="timepicker-basic.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-timepicker [(ngModel)]="time" [meridian]="meridian">&lt;/ngb-timepicker>
&lt;button class="btn btn-sm btn-&#123;&#123;meridian ? 'secondary' : 'danger'&#125;&#125;" (click)="toggleMeridian()">
    Meridian - &#123;&#123;meridian ? "ON" : "OFF"&#125;&#125;
&lt;/button>
&lt;hr>
&lt;pre>Selected time: &#123;&#123;time | json&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="timepicker-basic.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'timepicker-basic',
  templateUrl: './timepicker-basic.html'
&#125;)
export class TimepickerBasic &#123;
  time = &#123;hour: 13, minute: 30&#125;;
  meridian = true;

  toggleMeridian() &#123;
      this.meridian = !this.meridian;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-2">
    <h4>Seconds</h4>
    <div class="example">
      <ngb-timepicker [(ngModel)]="timeSeconds" [seconds]="seconds"></ngb-timepicker>
      <button class="btn btn-sm btn-{{seconds ? 'secondary' : 'danger'}}" (click)="toggleSeconds()">
          Seconds - {{seconds ? "ON" : "OFF"}}
      </button>
      <hr>
      <pre>Selected time: {{timeSeconds | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="timepicker-seconds.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-timepicker [(ngModel)]="time" [seconds]="seconds">&lt;/ngb-timepicker>
&lt;button class="btn btn-sm btn-&#123;&#123;seconds ? 'secondary' : 'danger'&#125;&#125;" (click)="toggleSeconds()">
    Seconds - &#123;&#123;seconds ? "ON" : "OFF"&#125;&#125;
&lt;/button>
&lt;hr>
&lt;pre>Selected time: &#123;&#123;time | json&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="timepicker-seconds.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbTimeStruct&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'timepicker-seconds',
  templateUrl: './timepicker-seconds.html'
&#125;)
export class TimepickerSeconds &#123;
  time: NgbTimeStruct = &#123;hour: 13, minute: 30, second: 30&#125;;
  seconds = true;

  toggleSeconds() &#123;
    this.seconds = !this.seconds;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


  <div class="border border-light p-4 mt-5" id="item-3">
    <h4>Spinners</h4>
    <div class="example">
      <ngb-timepicker [(ngModel)]="time" [spinners]="spinners"></ngb-timepicker>

      <hr/>

      <button class="m-t-1 btn btn-sm btn-{{spinners ? 'secondary' : 'danger'}}" (click)="toggleSpinners()">
          Spinners - {{spinners ? "ON" : "OFF"}}
      </button>
    </div>
    <ngb-tabset>
      <ngb-tab title="timepicker-spinners.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-timepicker [(ngModel)]="time" [spinners]="spinners">&lt;/ngb-timepicker>

&lt;hr/>

&lt;button class="m-t-1 btn btn-sm btn-&#123;&#123;spinners ? 'secondary' : 'danger'&#125;&#125;" (click)="toggleSpinners()">
    Spinners - &#123;&#123;spinners ? "ON" : "OFF"&#125;&#125;
&lt;/button>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="timepicker-spinners.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';

@Component(&#123;
  selector: 'timepicker-spinners',
  templateUrl: './timepicker-spinners.html'
&#125;)
export class TimepickerSpinners &#123;
  time = &#123;hour: 13, minute: 30&#125;;
  spinners = true;

  toggleSpinners() &#123;
      this.spinners = !this.spinners;
  &#125;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-4">
    <h4>Custom Steps</h4>
    <div class="example example-plain">
      <ngb-timepicker [(ngModel)]="timeSteps" [seconds]="true" [hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep"></ngb-timepicker>

      <div class="row">
          <div class="col-sm-3">
              <label for="changeHourStep">Hour Step</label>
              <input id="changeHourStep" type="number" class="form-control form-control-sm" [(ngModel)]="hourStep" />
          </div>
          <div class="col-sm-3">
              <label for="changeMinuteStep">Minute Step</label>
              <input id="changeMinuteStep" type="number" class="form-control form-control-sm" [(ngModel)]="minuteStep" />
          </div>
          <div class="col-sm-3">
              <label for="changeSecondStep">Second Step</label>
              <input id="changeSecondStep" type="number" class="form-control form-control-sm" [(ngModel)]="secondStep" />
          </div>
      </div>
      <hr>
      <pre>Selected time: {{timeSteps | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="timepicker-steps.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;ngb-timepicker [(ngModel)]="time" [seconds]="true"
[hourStep]="hourStep" [minuteStep]="minuteStep" [secondStep]="secondStep">&lt;/ngb-timepicker>

&lt;div class="row">
  &lt;div class="col-sm-3">
      &lt;label for="changeHourStep">Hour Step&lt;/label>
      &lt;input id="changeHourStep" type="number" class="form-control form-control-sm" [(ngModel)]="hourStep" />
  &lt;/div>
  &lt;div class="col-sm-3">
      &lt;label for="changeMinuteStep">Minute Step&lt;/label>
      &lt;input id="changeMinuteStep" type="number" class="form-control form-control-sm" [(ngModel)]="minuteStep" />
  &lt;/div>
  &lt;div class="col-sm-3">
      &lt;label for="changeSecondStep">Second Step&lt;/label>
      &lt;input id="changeSecondStep" type="number" class="form-control form-control-sm" [(ngModel)]="secondStep" />
  &lt;/div>
&lt;/div>
&lt;hr>
&lt;pre>Selected time: &#123;&#123;time | json&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="timepicker-steps.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;NgbTimeStruct&#125; from '@ng-bootstrap/ng-bootstrap';

@Component(&#123;
  selector: 'timepicker-steps',
  templateUrl: './timepicker-steps.html'
&#125;)
export class TimepickerSteps &#123;
  time: NgbTimeStruct = &#123;hour: 13, minute: 30, second: 0&#125;;
  hourStep = 1;
  minuteStep = 15;
  secondStep = 30;
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>



  <div class="border border-light p-4 mt-5" id="item-5">
    <h4>Custom Validation</h4>
    <div class="example">
      <p>Illustrates custom validation, you have to select time between 12:00 and 13:59</p>

      <div class="form-group">
        <ngb-timepicker [formControl]="ctrl" required></ngb-timepicker>
        <div *ngIf="ctrl.valid" class="small form-text text-success">Great choice</div>
        <div class="small form-text text-danger" *ngIf="!ctrl.valid">
          <div *ngIf="ctrl.errors['required']">Select some time during lunchtime</div>
          <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
          <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
        </div>
      </div>

      <hr>
      <pre>Selected time: {{ctrl.value | json}}</pre>
    </div>
    <ngb-tabset>
      <ngb-tab title="timepicker-validation.html">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
&lt;p>Illustrates custom validation, you have to select time between 12:00 and 13:59&lt;/p>

&lt;div class="form-group">
  &lt;ngb-timepicker [formControl]="ctrl" required>&lt;/ngb-timepicker>
  &lt;div *ngIf="ctrl.valid" class="small form-text text-success">Great choice&lt;/div>
  &lt;div class="small form-text text-danger" *ngIf="!ctrl.valid">
    &lt;div *ngIf="ctrl.errors['required']">Select some time during lunchtime&lt;/div>
    &lt;div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late&lt;/div>
    &lt;div *ngIf="ctrl.errors['tooEarly']">It's a bit too early&lt;/div>
  &lt;/div>
&lt;/div>

&lt;hr>
&lt;pre>Selected time: &#123;&#123;ctrl.value | json&#125;&#125;&lt;/pre>
</code></pre>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="timepicker-validation.ts">
        <ng-template ngbTabContent>
<pre><code highlight ngNonBindable>
import &#123;Component&#125; from '@angular/core';
import &#123;FormControl&#125; from '@angular/forms';

@Component(&#123;
  selector: 'timepicker-validation',
  templateUrl: './timepicker-validation.html'
&#125;)
export class TimepickerValidation &#123;

  ctrl = new FormControl('', (control: FormControl) => &#123;
    const value = control.value;

    if (!value) &#123;
      return null;
    &#125;

    if (value.hour < 12) &#123;
      return &#123;tooEarly: true&#125;;
    &#125;
    if (value.hour > 13) &#123;
      return &#123;tooLate: true&#125;;
    &#125;

    return null;
  &#125;);
&#125;
</code></pre>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>


</div>