.example {
    border: 2px solid $light;
    border-bottom: 0;
    margin-top: 2rem;
    padding: 2rem;

    [class*='col']:not(.collapse):not(.collapsed):not(.flex-column):not(.flex-column-reverse) {
        background: $offwhite;
        border: 1px solid $medium;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &-rows {
        .row {
            + .row {
                margin-top: 1rem;
            }
        }
    }

    &-min-rows {
        .row {
            background: rgba($offwhite, 0.5);
            min-height: 180px;
        }
    }

    &-nested {
        [class*='col'] {
            [class*='col'] {
                background: darken($offwhite, 10%);
            }
        }
    }
    &-plain {
        [class*='col']:not(.collapse):not(.collapsed):not(.flex-column):not(.flex-column-reverse) {
            background: none;
            border: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    + ngb-tabset .nav-tabs,
    + .nav-tabs {
        border-left: 2px solid $light;
        border-right: 2px solid $light;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &-squares {
        > span {
            background: $offwhite;
            display: inline-block;
            margin: .25rem;
            width: 5rem;
            height: 5rem;
        }

        &-borders {
            > span {
                border: 1px solid $gray-300;
            }
        }
    }

    &-highlight {
        div:not(.row):not(.flex-wrap):not(.flex-nowrap) {
            background: $offwhite;
            border: 1px solid $medium;
        }
        div.flex-row,
        div.flex-row-reverse {
            background: rgba($offwhite, 0.5);
            border: 1px solid rgba($medium, 0.5);
        }
    }
}