.toc {
    border-left: 1px solid $light;
    font-size: 0.9rem;
    overflow-y: auto;
    padding: 1rem;
    position: fixed;
    top: 56px;
    right: 0px;
    width: 180px;
    height: calc( 100vh - 56px);

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-bottom: 0.5rem;
    }
    a {
        color: $medium;
        text-decoration: none;
        &:hover {
            color: $primary;
        }
    }
}