<div class="toc">
  <ol>
    <li><a pageScroll href="#item-1">Widths</a></li>
    <li><a pageScroll href="#item-2">Heights</a></li>
    <li><a pageScroll href="#item-3">Maximums</a></li>
  </ol>
</div>

<div class="content-wrap">

  <header class="mb-5">
    <h1 class="h2">Sizing</h1>
    <p>Easily make an element as wide or as tall (relative to its parent) with our width and height utilities.</p>
    <p>Width and height utilities are generated from the <code class="highlighter-rouge">$sizes</code> Sass map in <code class="highlighter-rouge">_variables.scss</code>. Includes support for <code class="highlighter-rouge">25%</code>, <code class="highlighter-rouge">50%</code>, <code class="highlighter-rouge">75%</code>, <code class="highlighter-rouge">100%</code>, and <code class="highlighter-rouge">auto</code> by default. Modify those values as you need to generate different utilities here.</p>
  </header>

  <div class="border border-light p-4" id="item-1">
    <h4>Widths</h4>
    <div class="example">
        <div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
        <div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
        <div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
        <div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
        <div class="w-auto p-3" style="background-color: #eee;">Width auto</div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="w-25 p-3">Width 25%&lt;/div>
&lt;div class="w-50 p-3">Width 50%&lt;/div>
&lt;div class="w-75 p-3">Width 75%&lt;/div>
&lt;div class="w-100 p-3">Width 100%&lt;/div>
&lt;div class="w-auto p-3">Width auto&lt;/div>
</code></pre>

  </div>


  <div class="border border-light p-4" id="item-2">
    <h4>Heights</h4>
    <div class="example">
        <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
            <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>
            <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>
            <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>
            <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>
            <div class="h-auto d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height auto</div>
          </div>
    </div>
<pre><code highlight ngNonBindable>
&lt;div class="h-25 d-inline-block">Height 25%&lt;/div>
&lt;div class="h-50 d-inline-block">Height 50%&lt;/div>
&lt;div class="h-75 d-inline-block">Height 75%&lt;/div>
&lt;div class="h-100 d-inline-block">Height 100%&lt;/div>
&lt;div class="h-auto d-inline-block">Height auto&lt;/div>
</code></pre>

    </div>


  <div class="border border-light p-4" id="item-2">
    <h4>Maxiums</h4>
    <p>You can also use <code class="highlighter-rouge">max-width: 100%;</code> and <code class="highlighter-rouge">max-height: 100%;</code> utilities as needed.</p>
    <div class="example">
        <img class="mw-100" src="https://via.placeholder.com/2000x250.png?text=Max-width%20%3D%20100%25" alt="Max-width 100%">
    </div>
<pre><code highlight ngNonBindable>
    &lt;img class="mw-100" src="https://via.placeholder.com/2000x250.png?text=Max-width%20%3D%20100%25" alt="Max-width 100%">
</code></pre>

<div class="example">
    <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
        <div class="mh-100" style="width: 100px; height: 200px; background-color: rgba(0,0,255,0.1);">Max-height 100%</div>
      </div>
</div>
<pre><code highlight ngNonBindable>
&lt;div class="mh-100">Max-height 100%&lt;/div>
</code></pre>

  </div>


</div>