<div class="container">

  <!-- Header -->
  <header>
    <a class="[ d-flex align-items-center ] text-dark small" routerLink="/">
      <svg class="mr-2" width="23" height="23">
        <use xlink:href="assets/sprites/sprite.svg#back" />
      </svg>
      <span>Back to Agreements Summary</span>
    </a>
    <div class="[ d-flex flex-wrap justify-content-between align-items-end ] mt-4 mb-3">
      <h1 class="h5 display-4 mb-0 mr-4">Lease Details</h1>
      <p class="small text-uppercase mb-0"><strong>Contract ID</strong> #2914578</p>
    </div>
    <div class="[ d-flex flex-wrap justify-content-between align-items-end ]">
      <h2 class="h5">Construction Equipment - Self Propelled</h2>
      <button class="[ btn btn-link ] [ d-flex align-items-center px-0 ]">
        <svg width="24" height="24">
          <use xlink:href="assets/sprites/sprite.svg#print" />
        </svg>
        <span class="mx-2">Print</span>
        <svg width="7" height="5">
          <use xlink:href="assets/sprites/sprite.svg#caret-down" />
        </svg>
      </button>
    </div>
  </header>


  <!-- Main Content -->
  <div class="row mt-5">

    <!-- Left Column -->
    <div class="col-8">

      <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 ]">Payment Information</h6>
      <div class="bg-light px-4">
        <div class="row">
          <div class="col-md-6 py-4">
            <p>Monthly Payment Amount<br /><span class="text-primary h5">$937.81</span></p>
            <p>Payment Frequency<br /><span class="text-primary h5">Monthly</span><br /><a class="small" href="#">View Schedule</a></p>
            <p class="mb-0">Payments in Arrears<br /><span class="text-primary h5">$120.00</span><br /><a class="small" href="#">View Payment History</a></p>
          </div>
          <div class="col-md-6 [ d-flex flex-column justify-content-between ] [ py-4 ]">
            <p><strong>Total Payment Owing Inc. Tax</strong><br /><span class="text-primary display-2">$1057.81</span><br />Due 01-Oct-2018</p>
            <div>
              <a href="#" class="btn btn-secondary btn-lg mr-2 mt-2">Skip Payment</a>
              <a href="#" class="btn btn-secondary btn-lg mt-2">Pay Online</a>
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 mt-5 ]">Unit Details</h6>
      <table class="table [ border-bottom border-dark ]">
        <thead>
          <tr>
            <th>Description</th>
            <th class="text-right">Unit Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mini Excavator, c/w related equipment</td>
            <td class="">
              <div class="[ d-flex align-items-center justify-content-end ] text-right">
                <span class="mr-2">$60,000</span>
                <a href="#"><svg width="5" height="7"><use xlink:href="assets/sprites/sprite.svg#caret-right" /></svg></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="[ border-bottom border-top border-light ] [ py-3 mt-5 ]">
        <a class="[ d-flex align-items-center ] text-dark small" routerLink="/">
          <svg class="mr-2" width="23" height="23">
            <use xlink:href="assets/sprites/sprite.svg#back" />
          </svg>
          <span>Back to Agreements Summary</span>
        </a>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
            <img class="img-fluid" src="https://via.placeholder.com/360x250.png?text=cross+promostion+section" />
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://via.placeholder.com/360x250.png?text=cross+promostion+section" />
        </div>
      </div>

      <p class="mt-5"><span class="mr-2">Have suggestions about our customer portal?</span> <a class="btn btn-primary" href="#">Send us Feedback</a></p>

    </div><!-- / main content -->


    <!-- Sidebar -->
    <aside class="col-4">

        <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 ]">Billing & Contact Address</h6>
        <div>
          <p class="h5 text-primary">MC George Holdings Ltd</p>
          <p>Aaron George<br />
            1287 Sandy Point Road,<br />
            Halifax, NS<br />
            B0T 1X0</p>
          <a class="[ btn btn-primary ]" href="#">
            <span class="[ d-flex align-items-center ]">
              <svg class="mr-1" width="12" height="18">
                <use xlink:href="assets/sprites/sprite.svg#location" />
              </svg>
              <span>Update Address</span>
            </span>
          </a>
        </div>

        <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 mt-5 ]">Buyout Information</h6>
        <div>
          <p>Total Balance Owing<br /><span class="h5 text-primary">$81,830.37</span></p>
          <table class="table table-dotted">
            <tbody>
              <tr>
                <td>Original Equipment Cost</td>
                <td class="text-primary text-right">$60,000</td>
              </tr>
              <tr>
                  <td>Buy-out at Maturity</td>
                  <td class="text-primary text-right">$18,000</td>
                </tr>
            </tbody>
          </table>
          <p class="[ d-flex align-items-center flex-wrap ]"><span class="mr-2">Request:</span><a class="[ btn btn-primary ] mr-2" href="#">Buyout</a> <a class="[ btn btn-primary ]" href="#">Trade-up</a></p>
        </div>

        <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 mt-5 ]">Agreement Details</h6>
        <div>
          <table class="table table-dotted">
            <tbody>
              <tr>
                <td>Term Length</td>
                <td class="text-primary text-right">72 mo</td>
              </tr>
              <tr>
                <td>Payments Remaining to Maturity</td>
                <td class="text-primary text-right">65</td>
              </tr>
            </tbody>
          </table>
          <hr />
          <table class="table table-dotted">
            <tbody>
              <tr>
                <td>Start Date</td>
                <td class="text-primary text-right">01-Feb-2018</td>
              </tr>
              <tr>
                <td>Early Option Date</td>
                <td class="text-primary text-right">01-July-2018</td>
              </tr>
              <tr>
                <td>Maturity Date</td>
                <td class="text-primary text-right">01-Feb-2024</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h6 class="text-tertiary [ border-bottom border-light ] [ pb-3 mb-3 mt-5 ]">Account Manager</h6>
        <div>
          <p class="h5 text-primary">Ken Canavan</p>
          <p>(902)835-6881<br />
              <a href="mailto:ken.canavan@cwbnationalleasing.com">ken.canavan@cwbnationalleasing.com</a></p>
        </div>

        <h4 class="mt-5">Questions</h4>
        <p>Contact our customer service team:</p>
        <ul class="list-unstyled">
          <li class="[ border-bottom border-top border-light ] [ py-2 ]">
            <a href="tel:18886208004" class="[ d-flex align-items-center ]">
              <svg class="mr-1" width="25" height="25">
                <use xlink:href="assets/sprites/sprite.svg#phone" />
              </svg>
              <span>Call 1-888-620-8004</span>
            </a>
          </li>
          <li class="[ border-bottom border-light ] [ py-2 ]">
            <a href="mailto" class="[ d-flex align-items-center ]">
              <svg class="mr-1" width="24" height="14">
                <use xlink:href="assets/sprites/sprite.svg#mail" />
              </svg>
              <span>Email Customer Service</span>
            </a>
          </li>
          <li class="[ border-bottom border-light ] [ py-2 ]">
            <a href="#" class="[ d-flex align-items-center ]">
              <svg class="mr-1" width="25" height="25">
                <use xlink:href="assets/sprites/sprite.svg#question" />
              </svg>
              <span>Open Live Chat</span>
            </a>
          </li>
        </ul>

    </aside><!-- / sidebar -->

  </div>

</div>